[2021-05-14 20:45] matthew-reynolds commented on #406
The issue is because preprocessor directives within macro arguments are UB. I imagine gcc and clang handle it fine, but cpplint seems to be more strict about not allowing undefined behaviour. Which is good, we obviously shouldn't rely on it.

Something like this should be safe and pretty maintainable:

[code]
 (Though not sure I'm happy with the name `_COMPAT`. Maybe `_LAST`? `_END`? I dunno...)

[2021-05-15 07:08] bmagyar opened #417 "Review & update controller_interface documentation on realtime-safe methods"
Methods that should be realtime-safe should have this documented in their docstrings

[2021-05-15 08:44] destogl opened #418 "Extend claimed_interfaces field in ListControllers service with state interfaces"
See the #414 and the [comment](https://github.com/ros-controls/ros2_control/pull/407#pullrequestreview-660319672) here.

After should discussion with @bmagyar maybe a possible way would be to add prefix/suffix to the names to differentiate between command and state interfaces. For example:
[code]

What do you think?

[2021-05-17 19:38] vatanaksoytezer commented on #406
Thanks for the input @matthew-reynolds ! I think the name `_COMPAT` looks reasonable as well as the solution. I updated the PR with this.

[2021-05-18 05:17] #406 closed

[2021-05-20 05:50] olivier-stasse commented on #418
Overall sounds good to  me but maybe:
`
cmd/joint1/position
state/joint1/position
`
would be more coherent ?

[2021-05-25 12:12] henningkayser opened #421 "Release for Galactic and Rolling"
What's the status on releasing `ros2_control` for Galactic or Rolling?
We are planning to [release MoveIt](https://github.com/ros-planning/moveit2/issues/476) for both distros end of June and it would be great if this dependency would be available by then.

[2021-05-26 20:57] anscipione opened #422 "StateInterface with values ​​other than double"
If I need to have a sensor value other than double (for example an integer array or a string) how should I proceed?

The current implementation seems to allow only double values.

[2021-05-28 14:01] mahaarbo opened #423 "Errors building after #407"
As commented in https://github.com/ros-controls/ros2_control/pull/407#issuecomment-844422640. After the merge of #407, there's an error with building `controller_manager`.

Reproducible test:
1. Make a clean workspace
2. `vcs import src < ros2_control.repos` according to installation instructions
3. Build errors pop up when building `test_controller_manager_srvs.cpp`.

See https://github.com/ros-c

[2021-05-30 20:26] dignakov commented on #417
What would you like to see, would something like `//this method should be realtime-safe` in the header be good enough?

[2021-05-31 06:58] #423 closed

[2021-06-02 15:53] bmagyar commented on #417
Yeah!

[2021-06-02 16:18] matthew-reynolds commented on #417
I think we should also add a "This method is non-realtime-safe" where appropriate to be explicit. Otherwise, no comment would be ambiguous between "Not yet documented" and "Non-RT-safe"

I think the ros(1)_control codebase does it that way, though I believe the coverage isn't 100%

[2021-06-02 17:23] destogl opened #430 "ros2_control_node is chrashing when trying to start controller which are loaded and not configured"
As per title...

[2021-06-03 19:21] bmagyar opened #431 "Update ros2ci to v2 to check if that fixes keyerrors"
@v-lopez can you try this please?

[2021-06-04 10:40] #431 closed

[2021-06-06 06:06] destogl commented on #430
It could not be confirmed with other controllers...

[2021-06-06 06:06] #430 closed

[2021-06-06 06:16] destogl commented on #422
Hi @anscipione,

For integers, you could simply use doubles for now. (And cast them if needed).

Arrays and strings are currently not supported. We have already ides to support arrays, but strings will take time, because we are still gathering ideas how to handle those in the real-time friendly manner.

[2021-06-06 06:25] bmagyar commented on #421
Hi @henningkayser , we talked with @vatanaksoytezer at the last WG meeting and agreed that we can go ahead with the releases.

Unfortunately  this is currently blocked on the release of `control_msgs` in Rolling and Galactic with failures on the build farm, here's an example: https://build.ros2.org/job/Gbin_ufv8_uFv8__control_msgs__ubuntu_focal_arm64__binary/19/

I've already asked OR if they know

[2021-06-06 06:52] anscipione commented on #422
as for the strings, I needed to pass the frame_id from the definition of the robot. the arrays, on the other hand, I need to pass the readings of some sonar arranged in a circle. for the frame_id I thought I'd pass it as an associated controller parameter. for arrays I'm going to pass them as single _elements_ at the moment.

 thank you

[2021-06-06 10:38] #422 closed

[2021-06-07 05:15] destogl commented on #422
Will it work for you having the string only in controller, for now?
You can pass them there simply using parameter.

[2021-06-07 05:34] anscipione commented on #422
for now it can be done.

later they would be useful for me to pass:
- diagnostic strings,
- the raw data of the gps (nmea)

[2021-06-07 12:28] hakuturu583 opened #437 "Can we add string value type?"
Hi, I am developing some hardware interface for ROS2.
I found that current version of ReadOnlyHandle class only supports double type value.

https://github.com/ros-controls/ros2_control/blob/98ab186865d462825e78bfa656c97833b484827d/hardware_interface/include/hardware_interface/handle.hpp#L76

I think if we can add string type here, we can use complex combination of variables easilly by using proto

[2021-06-08 04:56] Karsten1987 opened #438 "pass `dt` to controller update function"
The `update` function of the controller interface should really get a `dt` within its arguments to ease a stable numerical calculation - easy example is a PID controller. Every controller which wants to use a PID has to do its own time tracking.

[2021-06-08 05:42] bmagyar commented on #438
Sounds unheard of, sign me up!

On Tue, 8 Jun 2021, 05:56 Karsten Knese, ***@***.***> wrote:

[2021-06-08 09:46] destogl commented on #437
No, please let's try to avoid serialization/deserialization inside the library.

Also regarding string.... we will probably support them at some point, but rather in the form of "limited length char array".  The issue with using string is memory allocation we have to avoid as much as possible in the real-time loop.

[2021-06-08 16:18] bmagyar commented on #421
https://github.com/ros/rosdistro/pull/29786

[2021-06-08 16:21] vatanaksoytezer commented on #421
Thanks a lot for the update @bmagyar!

[2021-06-10 05:24] Timple commented on #438
Interestingly I've had the same request for local controllers in navigation before! This would be a good addition here!

[2021-06-14 04:00] niiquaye opened #440 "Offer Support for a Simple Transmission with One Actuator and Multiple Joints"
The current simple transmission provided by the ros-controls (ros foxy) repo does not support having more than one joint and actuator at a time. I was wondering if a feature like this could be added to make it easier for one to lets say control a 6 wheel robot with two transmissions where each transmission couples 3 joints to one actuator.  Does anyone else have any good ideas on where to start. T

[2021-06-14 04:01] niiquaye commented on #440
![ros2_control_simple_transmission hpp at master · ros-controls_ros2_control and 7 more pages - Personal - Microsoft​ Edge 2021-06-14 12_00_55 AM](https://user-images.githubusercontent.com/68795163/121837495-b991ae80-cca3-11eb-8df9-c669f0851d4f.png)

[2021-06-14 04:21] destogl commented on #440
Hi @niiquaye, the question is, do you really need transmission to multiple actuators here or you can model it as two wheels diff-drive robot and then just send data to multiple actuators in your hardware component. Maybe you could provide more details about the setup/hardware interfaces you are using to help you more concretely.

[2021-06-14 04:53] niiquaye commented on #440
Hi @destogl thank you for the quick response. The setup I am going with is controlling a 6 wheel robot with two [Odrives](https://odriverobotics.com/). The catch is there will be a reducing transmission paired to each of the Odrives. Then each Odrive will in turn drive 3 wheels. I wanted to try and get an accurate representation of the urdf model of this 6 wheel robot vs a 2 wheel diff drive. It m

[2021-06-15 11:48] Timple commented on #421
So the `control_msgs` compile fine now on the buildfarm. Could we get a galactic release of `ros2_control`?

[2021-06-15 12:32] hakuturu583 commented on #437
I am now developing realsense t265 tracking camera hardware_interface, and I am now publishing rs2_pose by using ControllerInterface for publising odometry.

https://github.com/OUXT-Polaris/realsense_hardware_interface

I think if we can pass big data such as image/pointcloud by using HardwareStateInterface, we can use ros2_control much more easilly.

At first, I tried to call careate_publisher me

[2021-06-15 12:35] hakuturu583 commented on #437
I also agree with constant length double array.
What I want is communicating big data between HardwareInterface and Controller

[2021-06-16 17:47] bmagyar opened #442 "Build downstream dependencies (ros2_controllers) on master branch"
... in "optional" stages so they are allowed to fail but would serve to flag up changes that could break controllers.

[2021-06-24 04:06] ShotaAk opened #445 "hardware_interface's destructor is not called when I exit with Ctrl + C during MoveIt's trajectory playing."
When `Ctrl+C` is pressed while playing the trajectory output by MoveIt, the destructor of my robot's hardware_interface is not called.

This can be reproduced by pressing `Ctrl+C` after clicking `Execute` button of the RViz panel.

![image](https://user-images.githubusercontent.com/18494952/123199332-a1166500-d4e9-11eb-8d65-28c500228197.png)

The destructor turns off the motor torque of my robot,

[2021-06-25 07:35] bmagyar commented on #445
Very nice analysis, I think I can tell you what to do based on this!

In order for derived-classes' destructors to be called properly when taken down through a base class interface, the destructor needs to be declared `virtual`.
Here:
https://github.com/rt-net/crane_plus/blob/5875fb5002d477d1c969c7487c3a41a5028288ec/crane_plus_control/include/crane_plus_control/crane_plus_hardware.hpp#L45

Try tha

[2021-06-28 09:30] ShotaAk commented on #445
Thank you for the advice.
Unfortunately, the result did not change.

I edited the destructor as follows.
[code]

Here is the log when I quit with Ctrl+C.
[code]

[2021-06-28 15:20] MarqRazz opened #446 "Build issues"
I am trying to debug an issue with MoveIt2 but when I try to build with `--cmake-args -DCMAKE_BUILD_TYPE=Debug` or use  `--mixin rel-with-deb-info` with ros2_control in my workspace I get the following errors. I am running Foxy with everything up to date on `master`

[code]

[2021-06-30 12:17] vatanaksoytezer commented on #421
Thanks a ton for rolling @bmagyar: https://github.com/ros/rosdistro/pull/30070!

[2021-06-30 18:59] GusBus4 opened #448 "Velocity Controller does not operate in Gazebo when position command interface is also specified."
Adding in a position command interface in the ros2_control tag inside the URDF stops the velocity controller from operating.
Position and Joint Trajectory Controllers still operate fine.

More Details:
Ubuntu 20.04
ROS2 Foxy
Build ros2-control from source Main Branch (pulled 6/30/21)

Launch File Steps:
- Opens Gazebo
- Creates Robot State Publisher Node
- - 1 Continuous Joints and 2 Revolute Join

[2021-07-02 07:29] cco-seasony commented on #421
Hey! Any updates on the release for Galactic?

[2021-07-02 08:00] ShotaAk commented on #445
Update:

This problem occurs when I press Ctrl + C while the trajectory is "playing".

When MoveIt is doing nothing, the destructor is called successfully. (e.g., before and after trajectory playback)

[2021-07-02 10:41] Timple opened #449 "Remove extension from spawner.py"
The implementation language should not matter to the user of the node.

Convention is to strip extensions from executable ros nodes.

[2021-07-02 15:03] Karsten1987 commented on #445
I somewhat confident that `terminate called after throwing an instance of 'std::runtime_error'` is your real problem here. Somewhere along your stack there's an unhandled exception leading to terminate. Terminate provokes no stack windup and hence your destructors are not called.
Would be interesting to know why the node throws an exception - most likely it's the JTC which raises the error.

[2021-07-04 09:20] bmagyar commented on #421
https://github.com/ros/rosdistro/pull/30084 ros2_controllers has also been bloomed a few days ago but is being held for a rolling sync

[2021-07-04 09:21] bmagyar commented on #421
The Galactic release is waiting for one more PR, I need to add parsing for transmissions which will result in some breaking changes - don't want to break things in the next Galactic release... A few more days and we'll have that

[2021-07-05 04:39] ShotaAk commented on #445
Is the cancellation process of the FollowTrajectoryAction not working properly ? :thinking:
(JTC stands for JointTrajectorryController, right?)

[2021-07-05 07:44] bmagyar opened #450 "Add terminate handler to ros2_control_node"
A terminate handler should be added to `ros2_control_node` as a last resort to ensure destructors of system components are called and (when done) everything in `ResourceManager` can be put through their lifecycles properly.

Implementation idea:
* ResourceManager and ResourceStorage could have some way of resetting
* which should be triggered from `terminate_handler` defined in `ros2_control_node`

[2021-07-05 08:06] bmagyar opened #451 "Exceptions thrown in controllers should never crash the entire framework"
Restrict the scope of exceptions thrown in controllers to those controllers.

General idea: When an exception is thrown in a controller, that controller should go into some failed state. This should impose no additional changes on existing controller code.

Implementation ideas:
* Add some hooks into controller_interface to do the catching?
* Add a general try-catch around `update()` in `controlle

[2021-07-05 08:08] bmagyar commented on #449
Good point! Do you have a PR for us?

[2021-07-05 08:13] Timple commented on #449
Sure, that would be an easy one.

Shall I deprecate `spawner.py` with a warning message?

[2021-07-05 08:13] bmagyar commented on #446
If you are debugging moveit2, why have ros2_control in your workspace? Just grab 'em from the apt repos.

[2021-07-05 08:22] bmagyar opened #452 "Time to get rid of exceptions"
We have error codes returned as well as exceptions.

While it's quick and easy to flag up issues this way while things are wildly developing, I think we have reached a more mature state where it's time to start pruning them. Of course there are places where they may still be justified.

Opinions?
@Karsten1987 @destogl @v-lopez @jordan-palacios

[2021-07-05 08:23] bmagyar commented on #445
Following a few discussions spawning from this issue I've created 3 follow-up issues, each of which should help mitigate issues like this in the future.

[2021-07-05 08:38] v-lopez commented on #452
Why are return codes preferred over exceptions? As a general rule I prefer exceptions for most code, as they are harder to ignore, and more verbose.

Also is it a blanket ban on exceptions?
Also how are we going to return errors on functions such as `load_controller` (https://github.com/ros-controls/ros2_control/blob/master/controller_manager/include/controller_manager/controller_manager.hpp#L74)

[2021-07-05 09:40] bmagyar commented on #449
Yes please

[2021-07-05 15:45] destogl commented on #451
I was just looking at it because my controller is crashing everything :D

We can cover all in controller_interface except `init` call. This is really propagated through inheritance. For other methods, we have on_* controller methods.

[2021-07-07 17:18] #315 closed

[2021-07-07 17:19] #359 closed

[2021-07-07 17:20] #361 closed

[2021-07-07 18:49] GusBus4 commented on #448
Further investigation shows that that the issue lives with gazebo_ros2_control plugin and not ros2_control
Closing this issue and reopening in gazebo_ros2_control repo.

Essentially the problem boils down to gazebo_ros2_control plugin setting positions, velocities and efforts based on which command interfaces are defined in the ros2_control tag and not if that specific hardware interface has been

[2021-07-07 18:49] #448 closed

[2021-07-07 18:56] gavanderhoorn commented on #448
What's the issue on the `gazebo_ros2_control` tracker?

[2021-07-07 19:19] MarqRazz commented on #446
I was able to work around the issue, but mainly posted it here to point out that you cant build ros2_control with `Debug`. Feel free to close the issue.

[2021-07-07 19:33] bmagyar commented on #452
The title may be a little extreme :)

Indeed they are harder to ignore but currently they simply create a mess and we do error codes and exceptions which feels like twice the work. This is no global ban or anything like that, simply a discussion opener. If you have good general practices, feel free to add them here.

[2021-07-07 19:34] bmagyar opened #457 "Support array-typed command and state interfaces with wrappers similar to semantic components"
No changes required at the resource manager level

[2021-07-07 19:35] bmagyar opened #458 "Support bool, int, etc `getValue` returns with at-your-own-risk warning"
Implement with templated `getValue()` function using `reinterpret_cast`

[2021-07-07 19:36] bmagyar commented on #450
@Karsten1987 @destogl @v-lopez @mahaarbo

[2021-07-07 19:36] bmagyar commented on #451
@Karsten1987 @v-lopez @mahaarbo

[2021-07-07 19:43] GusBus4 commented on #448
@gavanderhoorn Sorry I was still creating it. Here is the link to the issue.

https://github.com/ros-simulation/gazebo_ros2_control/issues/85

[2021-07-07 21:40] destogl commented on #457
Please also consider this proposal: ros-controls/roadmap#45

[2021-07-08 07:17] v-lopez commented on #451
I'd go with the general try-catch.

If someone is careful enough to implement a hook that does the exception processing, he should probably catch them at the source.

[2021-07-08 07:30] bmagyar commented on #446
I was able to build it, had `ros2_control`, `ros2_controllers`, `ros2_control_demos` and `gazebo_ros2_control` in the workspace :+1:

[2021-07-08 14:36] MarqRazz commented on #446
I pulled everything up to date and can now build the same packages with `Debug` and `--mixin rel-with-deb-info`. Great work guys and thanks for your help!

[2021-07-08 14:36] #446 closed

[2021-07-08 15:37] Karsten1987 commented on #452
exceptions are generally not RT safe and have further implications with them, so I am personally in favor of using return codes. What we do quite a fair deal in the ros2 core packages is to flag certain functions with attributes to give you compiler warnings/errors when a return code is ignored: https://github.com/ros2/rcutils/blob/master/include/rcutils/macros.h#L25-L31

[2021-07-13 19:49] shonigmann commented on #325
just confirming that I understand correctly and that there is currently no "clean" way to set `use_sim_time` for all controllers through the controller_manager when gazebo is starting the controller_manager, and that the workaround is to set `use_sim_time` in the yaml for each controller individually?

[2021-07-14 07:39] v-lopez commented on #325
Currently this is not implemented, and you have to set the controller param manually yes.

But this should not be very difficult to implement if someone had the time

[2021-07-14 17:18] shonigmann commented on #325
Thanks for the quick reply. I may have some time to take a look and propose a fix.

Though I wonder if its not more direct to fix this in gazebo_ros2_control by setting `use_sim_time=True` when gazebo_ros2_control creates the controller_manager? Is there ever a case where you would not want sim_time when using Gazebo?

Then a small addition to [spawner.py](https://github.com/ros-controls/ros2_cont

[2021-07-14 20:44] v-lopez commented on #325
I don't think mixed clock usage is needed.

gazebo_ros2_control should set `use_sim_time=True` for the controller_manager, but the controller_manager should set it for the controllers it loads.

The spawner is only one of the ways of loading controllers, so probably it should not be the responsible of setting this.

[2021-07-15 19:28] JafarAbdi opened #464 "controller manager doesn't return the controller's joints when it's inactive"
I'm trying to port `moveit_ros_control_interface` to ROS2 and it has an option to let moveit's trajectory execution manager automatically switch controllers depend on the joints in the received trajectory, but the problem we're having is ros2 controller manager doesn't return the joints name for the inactive controller,

I'm trying to fix it and looking at the code it seems like it's due to this [

[2021-07-17 18:46] shonigmann commented on #325
For reference, I've submitted a PR that I think addresses this issue

[2021-07-20 08:14] destogl commented on #464
I think it is not simply that line. Actually, at current state, the CM has no idea about joints and interfaces of inactive controllers. This all happens when a controller tries to be activated. Having this option would need some more work to internally store the interfaces a controller need. I would be also feasible to get those values when the service is called, but this could prolong response ti

[2021-07-20 08:24] destogl commented on #437
@hakuturu583 please look at our meeting notes. We discussed this use-case a few weeks ago, but there is currently no one can start working on this any time soon.

what data would you like to pass, and why? Are those data related to real-time control?

[2021-07-20 08:32] destogl commented on #107
I am currently working on this and planning to do it in multiple phases.

The main goal is to use `lifecycle_msgs::msg::State` type internally to define states as for controllers and implement the same lifecycle defined by the [ROS2 design doc](https://design.ros2.org/articles/node_lifecycle.html). Why? To keep things simple and unified.

**1. Phase** - Change hardware_interface::status names and

[2021-07-20 23:11] MarqRazz opened #472 "Proper way to shutdown the hardware_interface"
Hello,

I'm implementing a driver for a new robot arm and have questions on how to properly shutdown the hardware interface node. When the user kills the node I want to return the control mode of the robot controller to a specified state and close communication with it. While I was implementing this I noticed if you shut down with `ctrl-c` the `stop()` method is not called. Should it be? I started

[2021-07-22 15:15] shonigmann commented on #325
I believe this issue can now be closed

[2021-07-25 17:08] jaron-l commented on #415
Noting that this looks like a partial duplicate of #68

[2021-07-27 17:35] samiamlabs opened #475 "spawner.py in controller_manager is a bit unstable"
Hi folks!

Thank you for this project.
It feels like a big step up from the original ros_control framework in terms of design and architecture.

I started having some issues with loading the controllers reliably after I moved my code from my laptop to a Jetson Xavier and the launch file got bigger.
The spawner.py script sometimes throws an unhandled RuntimeError on this line:
https://github.com/ro

[2021-07-27 17:56] samiamlabs commented on #475
Very strange that this happens though.

One would think that `cli.service_is_ready()` should return false when the service is not ready to be called and result in `wait_for_service(2.0)` being called here:
https://github.com/ros-controls/ros2_control/blob/0393d5988788d39894dd0082b16e5daa3b426d07/ros2controlcli/ros2controlcli/api/__init__.py#L44

Maybe I'm missing something here...
Just retrying do

[2021-07-27 18:23] samiamlabs commented on #475
Update:
Still getting the `RuntimeError` sometimes even after I increased the delay, just not as often. Did not see it for a while after I increased the sleep is all.

[2021-07-27 21:15] #415 closed

[2021-07-28 09:39] samiamlabs commented on #475
Needed to be able to start my robot base reliably, so added this to my fork for now:
https://github.com/DynoRobotics/ros2_control/commit/e8d13b705633d6f84e028b6b5d67e7eb5799fa6e

[2021-07-28 17:35] #68 closed

[2021-07-28 22:28] jaron-l opened #478 "CONTRIBUTING.md and control.ros.org documentation are not in sync"
As brought up in #470, CONTRIBUTING.md and [control.ros.org](https://ros-controls.github.io/control.ros.org/contributing.html#pull-requests) are not in sync and they address the same information. It was confusing to me that one was a better method to follow than the other.

Question:
1. Should I just adapt the control.ros.org documentation for this repo and mostly copy it into CONTRIBUTING.md?

[2021-07-28 22:36] jaron-l opened #479 "Duplicate CI Linting jobs"
As brought up in #473, lint.yml and formal.yml GitHub workflows are redundant in that they both perform linting tasks.

Format.yml was added as it used [pre-commit](pre-commit.org) while lint.yml uses [ament linting](https://github.com/ament/ament_lint) packages. Format.yml (pre-commit) has been set up to use most of the ament_linting packages that the original workflow uses. With the exception of

[2021-07-29 02:12] jaron-l commented on #472
Can you ask this question on answers.ros.org? That's the best way to get answers as the [documentation](https://ros-controls.github.io/control.ros.org/#development-organisation-and-communication) suggests. It's the way most questions for ROS are funneled for documentation and so there's a larger community to help out. Be sure to use the `ros2_control` tag so it's easy for maintainers to see.

[2021-07-29 14:48] jaron-l commented on #479
When I further investigated, it looks like there is a xml linter in the built-in/standard pre-commit. So it looks like beyond the fact that 3 packages were switched for equivalents, format.yml does everything and more than lint.yml so lint.yml probably can just be deleted.

[2021-08-05 13:35] AndyZe opened #486 "Modular xacros can spawn multiple copies of the same hw_interface"
As described here on [ROS-answers](https://answers.ros.org/question/383824/ros2_control-combined-hw_interface-for-arm-and-gripper/?answer=383854#post-id-383854):

It's common to have a modular urdf. There will be a high-level "system" urdf that pulls in an arm xacro as well as a gripper xacro.

I have learned, there can only be one ros2_control xacro, otherwise it spawns 2 identical hw_interfaces.

[2021-08-05 13:54] AndyZe opened #487 "Failed to start gripper controller and arm controller simultaneously"
We are starting a gripper controller and an arm trajectory controller simultaneously. `controllers.yaml` given below. Starting controllers fails like so. To me, this seems like a parsing issue in the resource_manager?

[code]

Controller yaml:
[code]

[2021-08-05 14:43] AndyZe commented on #487
Resolved by deleting this check in the hw_interface:   https://github.com/ros-controls/ros2_control_demos/blob/9a43e5d409a21157d1cff819c2988546a7a503b0/ros2_control_demo_hardware/src/rrbot_system_multi_interface.cpp#L185

I guess control_lvl_ was not initialized right.

[2021-08-05 14:48] #487 closed

[2021-08-05 16:48] bmagyar commented on #487
Could you elaborate on why you think this is a parsing issue?

Seeing `KortexMultiInterfaceHardware` rejecting a switch I think it's something that has to do with that component. The way we implemented mode switching is that essentially components need to sign off on it if they are happy:
https://github.com/ros-controls/ros2_control/pull/348/files#diff-31aaa609a55e1333d6e694aea6963bdaceed8615945c6

[2021-08-07 06:59] bmagyar opened #488 "Should controller_manager_services.py and launch_utils.py be documented?"
In #467 , `controller_manager/doc/userdoc.rst ` introduced docs for spawner and unspawner.

Should we add controller_manager_services.py and launch_utils.py ?

[2021-08-07 09:33] destogl opened #489 "Simplified `ınit`-method handling in controller_interface for users implementing custom controllers"
Methods controlling the lifecycle of controllers have all prefix `on_` in their implementation (e.g., `on_configure`, `on_activate`).
The only exceptions are `init` and `update` methods.
For the `init` method, this creates a cumbersome implementation where [controller implementation always has to call the parent `init` method](https://github.com/ros-controls/ros2_controllers/blob/a86a8c24b9543035f

[2021-08-07 10:02] bmagyar commented on #489
FYI @AugusteBourgois

[2021-08-09 13:36] bailaC commented on #489
@destogl , @bmagyar I will take care of this.

[2021-08-09 14:40] destogl commented on #486
Hi,

this is not a bug is a feature :D

Generally, if you define multiple tags with the same hardware interface, this will be started multiple times.

Let me explain the idea behind this and what was a mistake you did.

You should have one `ros2_control` tag per hardware interface. In your case, you have a robot and gripper which have the same hardware interface so they should be described in one

[2021-08-09 14:49] destogl commented on #475
@samiamlabs thanks you for your interest in the library.

Indeed this seems to be a "bug" on your platform. We currently test everything on PC/laptops, and they are probably faster with spawning services after starting the `controller_manager` node, so everything works with `sleep(0.2)`.

Before we decide to increase this wait time to `sleep(1.0)`, we should probably check if there is some bug in

[2021-08-09 15:48] samiamlabs commented on #475
I don't completely understand the problem myself at the moment. Increasing the sleep to 1.0 only made the issue less frequent, but it still crashed sometimes for me.

It's possible that `list_controllers` tries to make a service request before the `controller_manager` action server has started and something related to "wait_for_service" is not working as it should.

I think it is more likely that

[2021-08-09 16:17] AndyZe commented on #486
I think this is such a rare edge case it's not worth worrying about. I'm working with the Kinova arm and gripper, which are unusual in that the arm and gripper must have the same hw interface.

For 99% of robots out there, it won't matter. Separate hw interfaces are fine.

[2021-08-09 16:17] #486 closed

[2021-08-09 18:54] Karsten1987 commented on #489
Please note that I think it makes sense to change the internal `node` of each controller to a lifecycle node and disable the external service calls

[2021-08-11 01:49] tylerjw commented on #421
Any chance that PR was merged and we could get a Rolling and Galactic release?  I'm just bumping this because it has been a month and I don't see a Galactic release yet.

[2021-08-12 12:26] destogl commented on #489
They are already using this interface. As soon as we branch out for "foxy" we can make LifecycleNode chnages.

[2021-08-13 15:07] #478 closed

[2021-08-13 15:43] bmagyar opened #493 "Clean up controller manager tests"
## Background

A set of easy-to-tackle points were raised on #476 . The following list captures them:

1.
[code]
https://github.com/ros-controls/ros2_control/pull/476#discussion_r687736180

2.
[code]
https://github.com/ros-controls/ros2_control/pull/476#discussion_r687737563

3.
[code]
https://github.com/ros-controls/ros2_control/pull/476#discussion_r687745887

4.
[code]
https://github.com/ros-con

[2021-08-17 07:17] destogl commented on #475
@samiamlabs I think you understood this correctly. There is basically a timeout between of `spawner.py` script before `controller_manager` services become available. Depending on used hardware, this can take longer or shorter.

I am currently working on control of HW's lifecycle, and this can lead that we start hardware asynchronously from the main CM thread. Still, this would probably lead to spa

[2021-08-17 08:39] destogl commented on #107
Some more thoughts about Lifecycle of the HW. The state and transition reference, see [here](https://design.ros2.org/articles/node_lifecycle.html).

## Meaning of states:

* **Unconfigured**: memory and storage are allocated; parameters are read from the `HardwareInfo` structure.
* **Inactive**: Communication to hardware is established; everything is prepared for “immediate” start of power-circuit

[2021-08-18 08:18] #479 closed

[2021-08-20 09:21] fmros opened #497 ""Edit on Github button" not working on read the docs"
The "Edit on Github button" is not referencing to the github repo on read the docs (right upper corner). Please show me where you host the regardgin documentation of sphinx files, so i could do a pull request.

[2021-08-24 01:06] schornakj commented on #464
I'm also interested in allowing the `moveit_ros_control_interface` to get info about which interfaces are associated with currently-inactive controllers. @destogl how fundamental of a change to the implementation of the controller manager would this be? Has there been more detailed discussion since @JafarAbdi's initial post about where modifications would need to be made?

[2021-08-24 02:51] dzywater opened #498 "hardware_interface\test\test_component_parser.cpp should define M_PI for Window"
hardware_interface\test\test_component_parser.cpp cannot find M_PI in Windows10.
It can be resolved by:
#ifndef M_PI
#define M_PI 3.1415926535897932384626433832795
#endif

[2021-08-25 16:06] destogl commented on #498
@dzywater can you open PR for this? Is there another include we need to use on Windows?

[2021-08-25 16:36] destogl commented on #107
Update...

After implementing `starting` and `stopping` functionality, there are some issues to implement `configure` and `cleanup` methods:

1. Current configure is expecting to get `HardwareInfo` with parsed URDF. Form the previous comment this should be part of the `initialization`. --> This will result in API change
2. We need an extension of API for `cleanup` method.

I would "jump" immediate

[2021-08-25 16:38] roncapat commented on #472
Hello @MarqRazz , have you found a solution on how to properly shut down the Controller Manager?

I have noticed too that stop() method is never used, in fact ros2_control/controller_manager/src/ros2_control_node.cpp (indirecly thru ros2_control/controller_manager/src/controller_manager.cpp) does never call stop_components().

Let me know if you found a solution or opened a ticket on the answers.r

[2021-08-28 14:54] hakuturu583 commented on #421
Hi, I try to install ros2_control packages in ROS2 galactic.
Do you know current development/release status?

[2021-08-29 06:55] bmagyar opened #505 "Refactor ControllerInterface::get_current_state to ControllerInterface::get_state"
## Background

This is a simple renaming task.
The changes need to be made both in the ros2_control and ros2_controllers repository meaning you will have to submit one Pull Request to each repository.
Don't expect the CI to work on ros2_controllers until your PR on ros2_control is merged.

## Instructions
Hi, this is a `good-first-issue` issue. This means we've worked to make it more legible to pe

[2021-08-30 07:15] bmagyar commented on #505
@VX792 can you self assign this please?

[2021-08-30 07:26] bmagyar opened #506 "Last releases to Foxy before branching for Galactic"
https://github.com/ros/rosdistro/pull/30587

--> created `foxy` branch, `master` is now for Galactic for approx :crossed_fingers:  2 weeks

https://github.com/ros/rosdistro/pull/30595

--> created `foxy` branch, `master` is now for Galactic for approx :crossed_fingers:  2 weeks

[2021-08-30 10:03] bmagyar commented on #505
You had to interact with an issue before I can assign it to you ;) all done

[2021-08-31 20:26] #506 closed

[2021-08-31 20:30] bmagyar commented on #251
@destogl where do we stand on this nowadays?

[2021-09-01 10:53] #410 closed

[2021-09-02 09:03] lorepieri8 opened #510 "API docs link gives 404"
**Describe the bug**

API docs link gives 404

**To Reproduce**

https://ros-controls.github.io/control.ros.org/ros2_control/doc/index.html
Click on "here"

**Expected behavior**
A clear and concise description of what you expected to happen.

[2021-09-02 14:52] bmagyar commented on #510
thanks, we are aware of this. Didn't get to fix the deployment script yuet

On Thu, 2 Sept 2021 at 10:04, lorepieri8 ***@***.***> wrote:

[2021-09-04 22:01] NourS-d commented on #493
I think I can take this on

[2021-09-05 08:07] bmagyar commented on #493
Thanks @NourS-d ! If you have any questions feel free to ask here or tag along to one of the Working Group meetings (next one is next Wednesday) to discuss

[2021-09-06 07:22] #449 closed

[2021-09-06 07:23] bmagyar commented on #505
Thanks for the work @VX792 , I'm closing this as https://github.com/ros-controls/ros2_control/pull/512 and https://github.com/ros-controls/ros2_controllers/pull/232 have both been merged!

[2021-09-06 07:23] #505 closed

[2021-09-06 07:25] bmagyar commented on #421
We'd like to get a couple more small ABI breaking changes merged before we release to Galactic. The last Foxy release was made a week ago and we branched for Foxy. Now `master` is for Galactic.

If you want to help out you can here: https://github.com/ros-controls/ros2_control/issues/314

[2021-09-06 11:24] #184 closed

[2021-09-06 22:28] dignakov opened #519 "repos dependency (and docs)"
When building from source, there are a couple of dependencies which need to be resolved with `rosdep`:
` ros-foxy-test-msgs` and `ros-foxy-control-toolbox`.

`control-toolbox` however, also installs `realtime-tools` and `control-msgs` , which are also cloned from `ros2_control.repos`

So I'm wondering if `control-toolbox` should be in the repos file?

Also, should the rosdep step be added to the d

[2021-09-07 06:48] destogl opened #521 "Add `BEST EFFORT` controller switch tests for Controller Manager"
We could probably use parameterized tests for this to save some code.

_Originally posted by @destogl in https://github.com/ros-controls/ros2_control/pull/461#issuecomment-914036732_

[2021-09-07 09:09] #498 closed

[2021-09-07 15:22] #489 closed

[2021-09-08 11:55] Betancourt20 opened #527 "colcon build fails at controller_manager"
Hi,
I'm trying to build Moveit in Ubuntu 20.04 and I already install ROS 2 foxy. Everything was okay but I have an error which I tried to search if some had the same problem as me, but I did not find anything. I leave the error in my console :

Finished <<< controller_manager_msgs [5.83s]
Starting >>> controller_manager
--- stderr: controller_manager
/home/unknown/ws_moveit2/src/ros2_control/contr

[2021-09-08 13:02] bmagyar commented on #527
Please use the foxy branch. The `master` branch has moved on to development for Galactic.

[2021-09-08 13:07] bmagyar commented on #527
I updated the readme to avoid future confusion: https://github.com/ros-controls/ros2_control/commit/7a0d5169c6a0f4aa8381b0e57de22ee28e6172bf

[2021-09-08 13:11] bmagyar commented on #527
Plus there's this: https://github.com/ros-controls/ros2_control/pull/526

[2021-09-08 13:37] #527 closed

[2021-09-08 16:03] tylerjw commented on #314
The lengthy cast seems to be gone: https://github.com/ros-controls/ros2_control/blob/7a0d5169c6a0f4aa8381b0e57de22ee28e6172bf/controller_manager/include/controller_manager/controller_manager.hpp#L126

[2021-09-08 16:09] ggiulian opened #528 "Colcon Build fail at Ros2_control"
I encountered an error when trying to build Moveit2 for ROS2 Galactic.
I followed the tutorial from here:  https://moveit.ros.org/install-moveit2/source/
And I added the `ros2_control` and `ros2_controllers` repositories from here:
https://github.com/ros-planning/moveit2
and added to the Moveit workspace via `vcs import < moveit2/moveit2_galactic.repos`
Here the result:
[code]

**Environment:**
 -

[2021-09-08 16:40] Betancourt20 opened #529 "Colon build failes at moveit_core"
Hello, I build ROS 2 from https://docs.ros.org/en/foxy/Installation/Ubuntu-Development-Setup.html with any trouble.
Then, I'm trying to build Moveit from https://moveit.ros.org/install-moveit2/source/   foxy... But I'm stuck at the package 32 which is moveit_core and the error I get is:

Finished <<< moveit_msgs [24.1s]
Starting >>> moveit_core
--- stderr: moveit_core
/usr/bin/ld: CMakeFiles/test_

[2021-09-08 17:10] vatanaksoytezer commented on #266
I am going to start implementing this, can you assign it to me @bmagyar?

[2021-09-08 17:18] bmagyar commented on #266
Thanks for volunteering, assigned!

[2021-09-09 06:39] NebuDa opened #530 "Colcon build Error: ControllerInterface has no member named 'get_state'"
Based on closed issue in wrong Repository: https://github.com/ros-planning/moveit2/issues/668

Description
Have tried to install Moveit2 like https://moveit.ros.org/install-moveit2/source/

Got stuck on
colcon build --event-handlers desktop_notification- status- --cmake-args -DCMAKE_BUILD_TYPE=Release

Your environment
ROS Distro: Foxy
OS Version: Ubuntu 20.04 LTS
ROS2 Debians / Moveit2 source Fox

[2021-09-09 09:42] bmagyar commented on #529
Please read the error messages before you start firing bugs.

[2021-09-09 09:42] #529 closed

[2021-09-09 09:48] bmagyar commented on #530
If you are pulling things from the master branch, you should use ROS Galactic.
This is a development branch currently, not a release one, you can expect things like this between one merge and another. That being said... Our CI on ros2_controllers looks fine meaning the problem is with your setup.

You can always check [here](https://github.com/ros-controls/ros2_controllers/), chances are *most* st

[2021-09-09 09:48] #530 closed

[2021-09-09 09:49] bmagyar commented on #528
If you are pulling things from the master branch, you should use ROS Galactic.
This is a development branch currently, not a release one, you can expect things like this between one merge and another. That being said... Our CI on ros2_controllers looks fine meaning the problem is with your setup.

You can always check [here](https://github.com/ros-controls/ros2_controllers/), chances are *most* st

[2021-09-09 09:49] #528 closed

[2021-09-09 13:28] destogl opened #531 "Reconsider `automatically_declare_parameters_from_overrides` for all controllers"
Long story-short: "I have a follow-up issue with this parameter"

_Originally posted by @destogl in https://github.com/ros-controls/ros2_control/pull/504#r705324464_

Long story:

I understand that we need this automatic declaration for JTC per-joint trajectory limits. And adding this parameter caused further fix in form of the `auto_declare` method because otherwise, the controllers are declaring

[2021-09-09 15:57] tylerjw commented on #314
I rebased 111 on ros2_controllers here: https://github.com/ros-controls/ros2_controllers/pull/237  It needs the CI job approved before it can run because this is my first time opening a PR here.

[2021-09-13 02:04] jaron-l commented on #510
Looks like I messed up the link on the API documentation page to the doxygen sub-path and it needs the extra controls.ros.org sub-folder path. So it should point to something like https://ros-controls.github.io/control.ros.org/api/index.html instead of https://ros-controls.github.io/api/index.html which doesn't exist. I'm going to investigate this a little more to find something that will hopefull

[2021-09-13 15:41] destogl commented on #531
No, because they are not a node on their own. And it shouldn't be. I think that we don't have this issue if we properly declare parameters in the JTC. This was the source of this issue.

[2021-09-15 06:48] bmagyar commented on #251
@destogl @bailaC ping

[2021-09-15 21:21] bmagyar commented on #531
It seems we are alternating between two bad solutions. Is there a third one that's clean??

[2021-09-16 12:38] #510 closed

[2021-09-16 20:21] destogl commented on #531
I don't think so. I am actually sure that the current approach is not correct for our library. This is OK if you have some simpler node without possiblity to extend it with many libraries. The old approach is right and we should simply declare those parameter explicity. As done [here](https://github.com/ros-controls/ros2_controllers/blob/60db804d694743a86edb2b07352b08e193e23698/joint_trajectory_co

[2021-09-18 16:49] fmros opened #535 "Colored output of ros2_control"
On ros_control for ROS1 i was wishing for some colored output for successful loaded and started controllers on the terminal.
Should we introduce that on ros2_control, for selected outputs?
E.g. A green output for "Configured and started controller". Does somebody share this favor?

Let me know, I can create a PR.

[2021-09-19 06:42] bmagyar commented on #535
I'm all for it! :D
In various pieces of code I used to define some extra colour macros like this:
https://github.com/bmagyar/unknown_object_segmentation/blob/fc7571511e69851797fd6894c35d7310ae62c32a/src/segmenter_node.cpp#L8

[2021-09-19 08:53] fmros commented on #535
Yeah i used similar techniques in the past. Shall i go for it or wait for additional feedback?

[2021-09-19 10:08] bmagyar commented on #535
let's hear from @destogl

[2021-09-20 09:44] livanov93 commented on #531
I agree the current solution is not the cleanest, however in my understanding the solution that existed before was aiming towards current behavior (avoiding the need to explicitly declare every parameter for the controller's use). However, as @destogl  says, incorporation of other packages that don't use 'auto_declare' could really be a problem here.
We can then remove `automatically_declare_param

[2021-09-20 13:26] destogl opened #536 "Use lifecycle name constants from hardware interface in controller interface"
We should provide only one place to define lifecycle names. Since, after #503 we have those in hardware_interface package, we can use the same file in the controller_interface package.

Original post:

Use this maybe in controller_interface.

_Originally posted by @destogl in https://github.com/ros-controls/ros2_control/pull/503#discussion_r697189707_

[2021-09-20 13:28] destogl opened #537 "Propose standard label for lifecycle states in upstream `rclcpp_lifecycle`package"
Propose for `rclcpp_lifecycle`

_Originally posted by @destogl in https://github.com/ros-controls/ros2_control/pull/503#discussion_r697189855_

[2021-09-20 13:33] destogl commented on #251
I think this obsolete having `on_init` now in the controllers. Also as discussed with @bailaC this is not really implemntable and it doesn't make much sense anymore. Therefore I am closing this.

[2021-09-20 13:33] #251 closed

[2021-09-24 11:58] destogl opened #541 "[ControllerManager] Test improvement: tests different individual control rates and run them for a few iterations."
We should add tests with different rates and running them few iterations.

_Originally posted by @destogl in https://github.com/ros-controls/ros2_control/pull/513#r715550357_

[2021-09-24 11:59] destogl commented on #535
YES! Please open PR :cool:

[2021-09-24 12:01] destogl commented on #531
@livanov93 if you have some capacity, this would be great. I think that only JointTrajectoryController has these issues.

[2021-09-27 10:11] v-lopez opened #543 "Segmentation fault if transmission `plugin` is not specified"
**Describe the bug**
Some time in the past, a keyword in the transmission description was changed from `type` to `plugin`, we somehow missed that.
If you attempt to load a transmission with the old format, it segfaults.
Probably caused by this and the next line:
https://github.com/ros-controls/ros2_control/blob/0.8.0/hardware_interface/src/component_parser.cpp#L391

**To Reproduce**
Steps to repro

[2021-09-30 15:43] bmagyar commented on #314
Thanks for everyone who helped out, releases are now on the way!

[2021-09-30 15:43] #314 closed

[2021-10-01 08:27] byeongkyu opened #547 "Is ros2_control support multiple controller_manager?"
Is ros2_control support_multiple controller_manager?
for example, each controller_manager has different joints and different control rate.

[2021-10-01 12:59] bmagyar commented on #547
I think this came up earlier and it was possible to namespace the
controller manager however I'd add that that is more for a multi robot
usecase, I really wouldn't recommend that within one robot. If you have a
specific use case where the hardware is multi rate,etc,that's something we
can extend the framework to handle.

On Fri, 1 Oct 2021, 09:28 Byeong-Kyu Ahn, ***@***.***> wrote:

[2021-10-01 15:32] byeongkyu commented on #547
For example, in my robot. It has two communication lines.  One is CAN, other is RS485. Each communication has different control rate and different init method.

[2021-10-04 08:10] livanov93 commented on #531
@destogl  I will address it soon and let hardcode the parameter declaration for jtc.

[2021-10-05 06:48] byeongkyu commented on #486
@destogl May I ask a question? It seems that each hardware_interface (external_sensor and robot) have same control rate. But many robots have different control rate per group of actuator or group of sensors. In this case, I think the robot should has multiple controller_manager. It is right??

[2021-10-05 10:12] bmagyar commented on #547
Why not implement them as different system components?

[2021-10-05 13:44] byeongkyu commented on #547
I’ll use them as hardware_interface because I’ll use exist controller (diff_drive_controller, forward_command_controller, etc.).  As I understand, it probably need two or more controller_manager and it need each  URDF <ros2_control> files. Is it right?

[2021-10-05 16:02] destogl commented on #547
@byeongkyu  You can use multiple hardware components inside one controller manager. We currently don't support reading and writing at different rates, but this shouldn't be the issue since you can use different reading rates inside a hardware_interface.

Does this answer your question?

[2021-10-05 16:11] destogl commented on #486
@byeongkyu simply no. You can now specify specific control rate for a controller, but the hardware read and write will be calls with the main (fastest) update rate. If your communication interface does not support that, then you should use a separate thread for hardware communication inside the hardware interface.

[2021-10-06 02:35] byeongkyu commented on #547
@destogl The rate at reading and writing is determined by controller_manager <update_rate> parameter. And controller_manager reads whole URDF <robot_description> at launch. I don't know how can I set the different rates per each hardware_interfaces.

[2021-10-07 13:09] byeongkyu commented on #486
@destogl I got it. Thanks.

[2021-10-08 21:08] bmagyar opened #548 "Review load controller tests with proper lifecycle handling in mind"
yeah I think some of these could be redesigned to take lifecycles into account

_Originally posted by @bmagyar in https://github.com/ros-controls/ros2_control/pull/532#discussion_r725301727_

[2021-10-09 19:31] chngdickson opened #549 "Build failing in ros2 foxy windows 10"
**Build fail on ros2 foxy windows 10**

**To Reproduce**
Steps to reproduce the behavior:
1. Binary installation of ros2 foxy
2. Create new workspace, source ros2_control in src
3. colcon build --merge-install
4. Fail
5. Try to install individual controllers
6. all failed.

**Environment (please complete the following information):**
 - OS: Windows 10
 - Version : Foxy

![image](https://user-image

[2021-10-09 20:32] bmagyar commented on #549
What branch are you trying to compile? Can you submit a fix for it?

On Sat, 9 Oct 2021, 20:31 chngdickson, ***@***.***> wrote:

[2021-10-09 21:57] chngdickson commented on #549
@bmagyar master branch. i wish i had a fix for it xD

[2021-10-11 12:36] cco-seasony opened #550 "Galactic: ros2_control + gazebo_ros2_control"
Hi!
I know it is not the right repo BUT I few months ago I opened an [issue](https://github.com/ros-simulation/gazebo_ros2_control/issues/84) and I have not received any answers.
I was wondering if anyone here knew the status of gazebo_ros2_control for Galactic. Is it something that is being worked on?
Thanks in advance for the help!

[2021-10-13 02:13] byeongkyu opened #551 "Handling the job such as initialize, homing, clear alarm, etc by topic or service or action."
Many robots has multiple joints. Some joints needs initializing procedure for example, find origin point. Now, the hardware_interface has only init->read->write loop and it it not accept any commands by external.

How can I implement the jobs that said above?

[2021-10-14 11:48] oKermorgant commented on #213
Hi,

Any news on this issue?

I am trying to convince my team to use ros2_control for a fleet of autonomous underwater vehicles. In this case each robot subscribes to its own namespaces joint_states (camera tilt, thrusters, fins, etc.) and for sure we do not want that information to be broadcast to all other vehicles.

It could be the same for several identical manipulators in a factory: joint nam

[2021-10-15 07:02] #464 closed

[2021-10-15 07:21] bmagyar opened #554 "Add verbose flag to CLI command `list_controllers`"
## Background

Add `--verbose / -v` flag to `list_controllers` CLI command and make it so that when this flag is specified, *all prints* that can be made are activated in the code below.

Your work will be done in `ros2controlcli/ros2controlcli/verb/list_controllers.py`.
When using `-v` or `--verbose`, the behaviour should be as if all `--claimed-interfaces`, `--required-state-interfaces` were def

[2021-10-15 07:48] #405 closed

[2021-10-18 06:51] BenjaminHug8 opened #556 "Differences for Hardware_interface between ros2 and ros2-testing"
**Describe the bug (question)**
This can be labeled as question.

I use a CI on GitHub checking with Ros Rolling taken either from `http://packages.ros.org/ros2/ubuntu/` or from `http://packages.ros.org/ros2-testing/ubuntu/`.
I noticed that in the 2nd case (ros-testing) my code was failing due to the fact that `base_interface` has been removed.

So my question is the following:

Does this change w

[2021-10-19 10:03] Patrick-Lascombe opened #557 "Issues migrating the ign_ros2_control hardware_interface"
**Describe the bug**
I'm trying to port the package [ign_ros2_control](https://github.com/ignitionrobotics/ign_ros2_control) to galactic. I followed the steps described in [this document](http://control.ros.org/ros2_control/hardware_interface/doc/hardware_components_userdoc.html) and removed mentions of joint_state_controller. But the expected behavior of `ros2 launch ignition_ros2_control_demos c

[2021-10-19 13:24] AureoGD commented on #550
Hi!
A quick update:  yesterday I followed the steps described, and after some additional changes at Update method in the gazebo_ros2_control_plugin.cpp file, I could build the package. Then I executed the examples, but the Gazebo did not respond to the commands (at least, it is not possible to observe the joint movement). I will keep trying to find the cause of the problem.

[2021-10-19 23:15] destogl commented on #551
Hi @byeongkyu,

sorry for taking me so long time. Here the explanation "how I would solve this":

- There is now lifecycle of the hardware also according to the [`LifecycleNode`](https://design.ros2.org/articles/node_lifecycle.html)
- The full lifecycle will be called when hardware is starting, or has to be started.
- If you want to do initialization each time when starting hardware add simply thi

[2021-10-20 06:15] #556 closed, assigned to nobody

[2021-10-26 12:22] destogl opened #564 "Add colored output to all python helper scripts and CLI commands"
## Background

Use colored ouput introduces in #560 into `unspawner.py` and all CLI commands.

For this following steps are necessary:

1. Move the color definitions (class with color definitions) into a python library inside `controller_manager` package.
2. Use this colors into `spawner.py`, `unspawner.py` and all CLI commands to have nice colored output.

## Instructions
Hi, this is a `good-firs

[2021-10-26 12:29] destogl opened #565 "Extend FakeHardware to support <gpio>-tag with different options."
## Background

Extend [GenericSystem](https://github.com/ros-controls/ros2_control/blob/master/hardware_interface/src/fake_components/generic_system.cpp) to support `<gpio>`-tag in robots URDFs.

Steps needs:
1. Extend the GenericSystem class to handle different types of `<gpio>`-tag. See test examples [here](https://github.com/ros-controls/ros2_control/blob/master/ros2_control_test_assets/include

[2021-10-31 12:13] Briancbn commented on #213
Hi @oKermorgant, are you using hardware or Gazebo simulation? The above issue only affects gazebo simulation as `controller_manager` has to launched through a Gazebo plugin, not a ros2 launch file.

For hardware, simply configuring your launch file to include the `namespace='namespace'` for the `controller_manager` node would work. Don't forget to set the controller_manager node name using the `--

[2021-11-01 18:43] brennand opened #570 "Servo not timing out: JointJog"
**Describe the bug**

1) When I send a Joint Jog msg via a RVIZ Interactive marker.  The joint moves as expected.  It will stop moving when release the mouse button.  A ros2 topic echo looks like:

[code]

When I create the same msg in python and publish.  Servo gets the msg and will move the joint but it doesn't time out.  This is the msg:

[code]

This is the python code:

[code]

The only diffe

[2021-11-01 19:14] brennand commented on #570
Wasn't using Sim Time.

[2021-11-01 19:14] #570 closed

[2021-11-02 09:18] oKermorgant commented on #213
Hi @Briancbn, indeed we use it with Gazebo and on the real robots.
Anyway for now we have implemented (yet another) home-made PID inspired from ros1's control_toolbox.

[2021-11-02 12:04] Patrick-Lascombe commented on #557
It is working with the fix and the [migration steps](http://control.ros.org/ros2_control/hardware_interface/doc/hardware_components_userdoc.html). I'll make a PR on `ign_ros2_control` from my branch

[2021-11-02 12:04] #557 closed

[2021-11-03 10:00] BenjaminHug8 opened #572 "New release of "ros2_control" with PR 315 for next Galactic sync ?"
Hello,

Recently this [PR](https://github.com/ros-controls/ros2_control/pull/566) has solved a bug on our side.

I was wondering when the next release will be done (I saw you just made one 9 days ago) and would this release have any chance to be in the next [sync of Galactic](http://repo.ros2.org/status_page/ros_galactic_default.html?q=SYNC)?

Thank you.

[2021-11-04 08:40] destogl commented on #572
@bmagyar can you do a new release so it comes into next sync?

@BenjaminHug8 if we do it fast it could be in.

[2021-11-05 08:18] bmagyar commented on #572
https://github.com/ros/rosdistro/pull/31135

https://github.com/ros/rosdistro/pull/31134

[2021-11-05 08:32] BenjaminHug8 commented on #572
Perfect thank you!

[2021-11-05 08:32] #572 closed

[2021-11-05 08:50] Patrick-Lascombe commented on #557
@ahcorde Do you want me to PR right now on ahcorde/galactic/ign_ros2_control or to wait for your PR to be merged ?

[2021-11-05 08:53] ahcorde commented on #557
Sure @Patrick-Lascombe, if you have some improvements please create a PR on top on `ahcorde/galactic/ign_ros2_control`

[2021-11-06 17:39] jaron-l opened #573 "Dockerfiles in release branches all pull the same repos file"
This is kinda low priority because, as I discuss below, the repos files are currently identical but I thought I'd raise it to document the problem.

**Describe the bug**
When building the source Dockerfiles, the repos file that it pulls to clone the separate ros packages is always the master version. This means that the foxy branch version of the Dockerfile is pulling the master (currently galacti

[2021-11-09 14:16] destogl commented on #573
Thank you for the observation! For docker itself, we should probably add flags into `docker compose` script to enable setting different versions.

I agree with you on this, still, this will not change the issue of having different files for each distribution. The reason for this is scheduled build, i.e., GH-Actions only check the default (in our case `master`) branch for scheduled CI execution. TB

[2021-11-10 18:12] jaron-l commented on #573
We already do have the flags for the ROS version. The problem is that depending on the ROS version, you have to pull a certain branch's repo file, which will need a different version. I'll make a pull request to show what I'm proposing. Perhaps that will make it clearer.

I think I could write an example CI configuration that would work for the different ROS versions. I'll try to make a draft pull

[2021-11-11 10:40] bmagyar commented on #573
Can't we inject the branch name (or something similar) via args into the container?

[2021-11-11 13:40] Xi-HHHM commented on #521
Please assign to me.

[2021-11-23 07:17] #438 closed

[2021-11-25 08:15] destogl opened #581 "Add "initial_value" parameter for state interfaces in ros2_control URDF"
## Background

Check the discussion and idea on ros-simulation/gazebo_ros2_control#100 and for inspiration [`FakeSystem` implementation](https://github.com/ros-controls/ros2_control/blob/a47a0347acd28a47b5095e4b206257e1520918ee/hardware_interface/src/fake_components/generic_system.cpp#L382).

We are targeting to have something like this:

[code]

Things to do:
- [x]  Extend [`component_parser`](ht

[2021-11-29 14:31] destogl opened #583 "Add pipeline for ABI compatibility"
## Background

There is a good idea how to add check ABI compatibility of PRs in this [discourse post](https://discourse.ros.org/t/abi-compatibility-check-in-ros-2-package-ci-pipelines/23285). This would help us to faster decide about "backporting" a feature from Rolling to currently supported distributions.

We have already all ingredients in our CI pipeline to do this, so let's do it. If someone

[2021-11-29 16:34] bailaC commented on #581
@destogl , you can assign this to me. I will take a look.

[2021-11-29 16:38] patrykcieslak opened #584 "Implementing prioritized merging of controllers for safety and teleoperation"
Hello!
I would like to ask the developers about the best approach to implement safety and teleoperation capabilities in the ros_control framework.
We are controlling an autonomous underwater vehicle and many times we are facing the need for taking over the control by the operator or by the always running safety system which for example commands to surface the vehicle in case of navigation issues,

[2021-11-29 16:59] #565 closed

[2021-12-08 08:44] afrixs opened #591 "Add *.pyc to .gitignore?"
**Is your feature request related to a problem? Please describe.**
For me it's more comfortable to build workspaces using `--symlink-install`. Running controller_manager spawner then creates `.pyc` files inside the repo. Using/modifying many other git submodules in my workspaces and using scripts to check whether I forgot to add/commit some changes in repos I modified, this one always alarms about

[2021-12-08 15:44] jaron-l commented on #573
@bmagyar, that is what I did in my most recent PR. My concern is that there are several ros distro specific references throughout the ci and repos files that need to be manually changed on release branches. I'm trying to think of a more automated/less error prone way of changing all those references.

[2021-12-11 21:38] destogl commented on #584
Hi @patrykcieslak,

I needed a bit of time to think about your issue.

I am really not sure how you plan to realize this because this is not intended and probably not possible to do.

A more interesting and feasible approach :)

This goes in the right direction, but why not to do this even simpler. Why don't you define multiple controller and a “mission_control” node, then switches them as needed?

[2021-12-13 14:49] patrykcieslak commented on #584
Hello @destogl,

Thanks for your answer!

Before you wrote the message I have already implemented a solution based on 3 controller managers.
There is no problem to instantiate multiple CMs in one hardware interface and nothing stops you from setting the same resources for all of them.
Since our case has a fixed structure of priority: safety -> teleoperation -> user, it was possible to use a very s

[2021-12-15 17:54] destogl commented on #591
Hi @afrixs,

it sounds like you have this issue on multiple repositories. Why not add a `.gitignore` to your workspace-root, so can have it all the subfolders? I have it actually in my home-folder so it is applied to all projects I am working on...

[2021-12-15 17:58] destogl commented on #584
This sounds like ros_control. Are you using ROS (1) or ROS 2?

This sounds very much like "controller-chaining". We are planning to implement this early next year.

[2021-12-17 21:28] dsauval opened #596 "executable 'spawner.py' not found on the libexec directory controller_manager"
**Describe the bug**
When trying to use spawner.py using a python launchfile, I get the following error. I don't get this error using ros2 run :
future: <Task finished name='Task-2' coro=<LaunchService._process_one_event() done, defined at C:\dev\ros2_foxy\Lib\site-packages\launch\launch_service.py:226> exception=SubstitutionFailure("executable 'spawner.py' not found on the libexec directory 'C:\U

[2021-12-20 09:07] bmagyar commented on #596
Checking the Foxy version I can't see anything that'd be obviously wrong:
* the file exists (we deprecated it in later versions but not in Foxy)
* there is an install statement which seems to point to the right spot (otherwise others would have complained too)

That unfortunately as far as I could go with this having no way to reproduce it locally.

Seeing the workspace name, are you following a r

[2021-12-20 16:31] dsauval commented on #596
Hi, yes I asked them for help (https://github.com/cyberbotics/webots_ros2/issues/350).
They could successfully run everything using the same instructions I followed. I tried on another computer and it worked, meaning there is something wrong with my work machine. I will investigate and update here with the solution ;)
I wonder if it can be related to the fact I use VS2017.

[2021-12-20 22:03] #596 closed

[2021-12-22 09:09] #591 closed

[2021-12-22 10:45] afrixs commented on #591
Hi @destogl,
just tried it out, simply adding `.gitignore` to parent folder seems not to affect submodules, however a global gitignore file can be configured using
[code]
so that solved the problem. Thanks for pointing me to the correct direction and sorry for opening this issue just because of my limitedness in git API knowledge

[2021-12-22 11:26] destogl commented on #591
@afrixs no problem! Glad that I could help!

[2021-12-26 19:42] #573 closed

[2021-12-26 19:53] bmagyar opened #599 "Port TransmissionLoader from ROS Noetic over to ROS2"
**Is your feature request related to a problem? Please describe.**
Currently, transmissions can only be used when one instantiates them by hand in the hardware component. In ROS1, one could add the requested transmissions to the xml and their parameters and have the transmission loader automatically take care of creating the right instances and connecting them to where they have to.

**Describe th

[2021-12-26 19:55] bmagyar commented on #599
Ping @VX792  please acknowledge you saw this ;)

[2021-12-26 20:09] VX792 commented on #599
I did! :D

[2021-12-26 20:13] bmagyar opened #600 "“One-shot”/”Trigger” interfaces (and controllers)"

[2021-12-27 08:50] bmagyar commented on #599
Thanks, with the response I could assign the issue to you ;)

[2021-12-29 17:58] #549 closed

[2022-01-03 08:43] bmagyar opened #604 "Async controllers"
# Motivation

An asynchronous controller is a controller that for some reason cannot (or we don’t want to) perform the operations needed in an update() call.
For instance if ros control is running at 100Hz, the sum of the execution time of all controllers update() calls must be below 10ms. If a controller requires 15ms it cannot be executed synchronously without affecting the whole ros control upd

[2022-01-05 09:04] #581 closed

[2022-01-05 19:54] wmmc88 opened #605 "spawner/unspawner cannot be run directly on windows"
**Describe the bug**
The spawner executable in the controller_manager package cannot be run on windows.

**To Reproduce**
Several related issues:

Using spawner.py works but you get a deprecation warning:
[code]

Using spawner directly results in a conflict in ros2run:
[code]

launching spawner from ros2launch using the following snippet fails:
[code]
[code]

**Expected behavior**
Spawner is launc

[2022-01-06 00:19] wmmc88 opened #606 "Build fails due to use of abbreviated function template (C++20 feature)"
**Describe the bug**
#579 seems to have added an [auto used for the `target_interfaces` parameter](https://github.com/ros-controls/ros2_control/blob/8345f28dea6f993283f883b08f7f19ecde96b9d6/hardware_interface/include/fake_components/generic_system.hpp#L102) which seems to be [a feature of C++20 and onwards](https://en.cppreference.com/w/cpp/language/function_template#Abbreviated_function_template)

[2022-01-06 05:07] wmmc88 commented on #606
It also causes the following warning when building in CI:
[code]

[2022-01-06 08:14] bmagyar commented on #606
@bailaC could you please address this? I think a template could be used instead of auto there.

[2022-01-06 09:24] bailaC commented on #606
sure, I will check this.

[2022-01-06 20:26] wmmc88 opened #609 "rqt_controller_manager port"
Are there any plans to port [rqt_controller_manager](https://github.com/ros-controls/ros_control/tree/noetic-devel/rqt_controller_manager) from ros1 `ros_control`? Or is there something else that provides/replaces that functionality?

[2022-01-07 08:01] bmagyar commented on #609
There is nothing stopping anyone from porting it but we don't have it in the works at the moment. Are you interested in doing it?

[2022-01-07 08:02] bmagyar opened #610 "Real-time guarantees"

[2022-01-07 08:05] bmagyar opened #611 "Add clang CI step to master branch"
Quite some work was done already on this, the ticket can be viewed as reviving  https://github.com/ros-controls/ros2_control/pull/399

[2022-01-07 17:18] wmmc88 commented on #609
I don't have the time to take it on at the moment, but if I get some time in the next couple of weeks, i'll throw up a pr :)

[2022-01-10 17:53] tlpss opened #612 "[Question] Runtime (re)configuration of available controllers to the controller manager?"
Hi,

I'm in the following situation: I have a package with the description of my robot and a package with the description of my gripper. Both of which use ros2_controllers that are defined in their respective `controllers.yaml` file.

Now I would like to bringup both the gripper and the robot together, but I would prefer not to duplicate the controller configurations or launch files into a new con

[2022-01-10 20:21] bmagyar commented on #609
Thank you for contributing to the roadmap, added!

[2022-01-10 20:58] bmagyar commented on #612
Hi Thomas,

I believe this is currently not possible but I think it is a very reasonable use-case. Can you write up please how you'd like this to work, perhaps even as a demo, adding a gripper to the rrbot in ros2_control_demos on a PR? We can trace our steps back from there and make the framework meet the requirement ;)

[2022-01-11 12:00] tlpss commented on #612
Thanks for your reply.

I'm not sure exactly, but here's how I see it:

a typical piece of hardware will have following 3 packages:
- the driver pcckage, implementing a HW interface
- the description package, containing a description in URDF with the control tags
- the bringup package that has a launch file and configuration of the relevant controllers

To combine the pieces, you need to combine t

[2022-01-11 14:59] bmagyar commented on #612
Thanks, this is exactly what I was looking for!

[2022-01-11 15:58] tlpss commented on #612
Okay great!

I would be willing to provide some help in implementing this once it is decided how to integrate this.

[2022-01-12 11:11] tlpss opened #613 "control manager crashes at bringup due to "undefined symbol" error."
**Describe the bug**
control manager crashes at startup due to "undefined symbol" error. Not entirely sure if it is a bug or something with my configuration..

**To Reproduce**
Steps to reproduce the behavior:
1. pull moveit/moveit2:rolling-release docker file
2. apt-get install ros2-control and ros2-controllers
3. clone the ros2_control_demos repo
4. colcon build
4. run `ros2 launch ros2_control_

[2022-01-12 11:44] bmagyar commented on #613
Does *this* fix the issue? https://github.com/ros-controls/ros2_control/pull/580

[2022-01-12 11:46] bmagyar commented on #613
I'm afraid this isn't as simple as filing a bug report ;)

You are using ROS Rolling, binary incompatibilities are expected there which is exactly what this seems to be. Please make sure to update *everything* from Rolling and do a clean build of the code you are building locally.

[2022-01-12 12:07] tlpss commented on #613
yeah should have done this more carefully, after upgrading *all* rolling binaries, everything works as expected.

Thanks for your quick reply!

[2022-01-12 12:07] #613 closed

[2022-01-12 15:24] destogl commented on #612
For now I think you have to only add a new launch file and then load both `controllers.yaml` file to it

[2022-01-13 14:58] wmmc88 commented on #606
fixed in #608

[2022-01-13 14:58] #606 closed

[2022-01-14 19:31] tlpss commented on #612
that's true!  Even though it seems nice to me if you would not need to create a new launch file either

[2022-01-19 22:24] jaron-l commented on #583
Fixed with above mentioned merge requests

[2022-01-19 22:24] #583 closed

[2022-01-20 04:12] AndyZe opened #622 "FakeSystem initial_value does not seem to work correctly"
I am launching one of the common test packages from MoveIt, the Panda. The ros2_control xacro is here:

https://github.com/ros-planning/moveit_resources/blob/ros2/panda_moveit_config/config/panda.ros2_control.xacro

I saw this deprecation warning:

[ros2_control_node-5] [WARN] [1642614151.127346724] [fake_generic_system]: The usage of initial_position has been deprecated. Please use 'initial_value

[2022-01-20 04:21] AndyZe commented on #622
I wonder if it's because these joints have 2 state interfaces: position and velocity. Perhaps it's because this line should be the command interface, not the state interface?

`for (const auto & interface : joint.state_interfaces)`

[2022-01-20 20:51] AndyZe commented on #622
So can I ask how this feature is supposed to work? I don't see any usage example in ros2_control_demos.

Is it:

[code]

or

[code]

I hope it's option #1. Option #2 wouldn't make sense if there are multiple state interfaces.

[2022-01-21 00:33] bmagyar opened #624 "Rename class_name to something more human-friendly"
`class_name` is the nomenclature of pluginlib which in this case doesn't really help people understand what this is supposed to be. We already use `plugin_name` elsewhere to refer to the same thing, let's rename this field in hardware_interface_info

_Originally posted by @destogl in https://github.com/ros-controls/ros2_control/pull/589#discussion_r785522201_

[2022-01-21 00:37] bmagyar opened #625 "Throw informative exception if interfaces are not as expected in unconfigured state"
if we rely on the lifecycle state machine I think we should take it as contract that if we get a component that is in unconfigured state, we can configure it and theoretically I don't think we'd even need to check for state interfaces however I think that's what people will screw up so checking and giving them an informative exception message instead of a `Segmentation Fault` is important.

_Origi

[2022-01-21 00:39] bmagyar opened #626 "Move set_component_state and similar helpers to new file"
...if possible.

_Originally posted by @bmagyar in https://github.com/ros-controls/ros2_control/pull/589#discussion_r789255250_

[2022-01-21 05:05] RishiKumarRay commented on #624
HOw about plugin_lib_name?

[2022-01-21 14:14] #622 closed

[2022-01-22 13:24] wmmc88 commented on #622
For anyone stumbling upon this looking for the new syntax, there's an example in the test file:

https://github.com/ros-controls/ros2_control/blob/a362e2bfbe2308291f20cfc0109c4e1fbf11fb50/hardware_interface/test/fake_components/test_generic_system.cpp#L259

[2022-01-22 15:03] AndyZe commented on #622
Thanks @wmmc88!

[2022-01-26 17:54] destogl opened #628 "[Jammy+Rolling] Migration strategy toward Humble"
In many ROS-communities I am part of is a bit of anxiety how this should actually happen.
I would like to present a strategy here based on my expectations and assumptions.
The **main assumption** is that there are still rolling binaries available for Focal after [tomorrow's sync](https://discourse.ros.org/t/preparing-for-final-rolling-sync-on-ubuntu-focal-2022-01-25/23920/2?u=destogl).

## How to

[2022-01-27 12:58] destogl commented on #550
@cco-seasony is this still a thing? If not please close this issue.

[2022-01-27 16:28] destogl opened #629 "Update doc regarding FakeSystem and initial_value"
As follow-up to #622 to make use of initial_value clear.

[2022-01-28 07:51] #550 closed

[2022-01-28 12:51] Patrick-Lascombe opened #630 "Galactic Release"
Hello,

Is there a release planned for the Galactic branch anytime soon ?
I have it as a submodule for my project, but it would be much easier to have it as a Debian.

[2022-01-28 17:13] bmagyar commented on #630
been released for many months:
https://github.com/ros/rosdistro/blob/master/galactic/distribution.yaml#L3457

[2022-01-28 17:13] #630 closed

[2022-01-29 21:00] tylerjw opened #631 "missing dependency in 2.1.0 when building on rolling-main"
Recently we added 2.1.0 of ros2_control to our repos file for upstream dependencies.  It is in the testing repo but not in the main repo yet.  When we try to build it in our CI it fails to build with this error:

[code]

I think this means that controller_manager_msgs is missing a dependency in the package.xml and/or in the CMakeLists.txt

Here is an example failed CI job: https://github.com/ros-p

[2022-01-29 21:57] bmagyar commented on #631
Are you 100% sure? I remember similar issues back when we started working
more actively with ROS2 and some dirty workspaces caused this. Any build
cache by any chance or ABI incompatibility?

On Sat, 29 Jan 2022, 21:01 Tyler Weaver, ***@***.***> wrote:

[2022-01-29 23:15] tylerjw commented on #631
As ros2_control seems to be building fine on the buildfarm and is in the rolling-testing repo I am inclined to believe there is just something wrong with our CI.  I do get the warning in my CI about overriding ros2_control ros packages which seems really weird to me.  I'm going to re-build our docker image to see if that fixes it.  I'll close this if that fixes it.

[2022-01-30 08:48] tylerjw commented on #631
There is definitely something weird in our moveit2 CI with the docker image but I just experienced this same issue over on my fork of bio_ik which does not have a base docker image that it is using.  It just checks out all the upstream repos into a workspace and uses rosdep to install dependencies.

https://github.com/tylerjw/bio_ik/runs/4995798901?check_suite_focus=true

[2022-01-31 13:41] karimrahimi76 opened #632 "Use ros2 control with sdf model"
hi , i am trying to use ros2 control for a parallel robot , and my model is sdf format.
when i want to launch a  project , controller manager needs robot description. but sdf format has no any robot tag.
even i tried to pass my project world and sdf format to controller manager, but it doesn't  work too.

would anybody mind Is ros2 control works with sdf format?
 how can I handle it?

[2022-01-31 16:35] destogl commented on #632
Hi @karimrahimi76,

We are currently working with URDF file format, which is standard for ROS visualization/simulation/manipulation. Is there a reason you cannot use URDF format? How are you then visualizing your robot in `rviz`? To be sure to work with `ros2_control` try to define URDF format and give it to  the controller manager node. As a first step, you don't need any geometric description, b

[2022-01-31 16:38] destogl commented on #631
It seems there is something wrong with [moveit_msgs package](https://github.com/tylerjw/bio_ik/runs/4995798901?check_suite_focus=true#step:7:1420). Or am I missing something?

[2022-01-31 18:10] tylerjw commented on #631
I don't know why I didn't see that.  It does seem like it is moveit_msgs that is causing the failure.  I had just assumed it had something to do with the warning that is being printed at the top:

[code]

Thank you for pointing that out.  I'm going to see if I can reproduce the failure with moveit_msgs.  We also have a release of that that is half way synced (in testing but not main) and that migh

[2022-01-31 18:10] #631 closed

[2022-02-01 07:12] karimrahimi76 commented on #632
thank you for your response , i cannot use urdf because i want to simulate parallel robots and need "ball" joint and "universal" joint that urdf doesn't support that.
so i can not simulate my robot in urdf format and i have to do it in sdf format.

[2022-02-01 07:40] olivier-stasse commented on #632
Dear @karimrahimi76,
I do not think that this is a software problem for ros2_control itself.

In SDF it is needed because you *need* to simulate the closed kinematic chain. On the real robot, the mechanics is doing this for you. Strictly speaking you can write a URDF allowing to load the hardware interface for accessing the low level hardware of your robot. The URDF model will not include the clos

[2022-02-01 09:42] destogl commented on #632
@karimrahimi76 as I wrote… you only need to provide <ros2_control> part of URDF which is kinematics-agnostic…

[2022-02-03 19:16] karimrahimi76 commented on #632
dear @olivier-stasse  thank you for your attention and response.
I think you are fully right and we have too  write a custom package or library for our parallel Robot.

[2022-02-03 19:20] karimrahimi76 commented on #632
dear @destogl
I checked the Examples and it was useful for me.
thank you for that. finally I think i have too write my custom package or plugin for my parallel Robot Close Chain Control.

[2022-02-06 09:40] bmagyar opened #638 "Native support for vector-interfaces"
* Templatize ResourceStorage on InterfaceType
* Templatize StateInterface and CommandInterface on InterfaceType
* Add optional layout (rows, columns) metadata
    * Add to parser
    * Add data/getter/setter to data type(s)

[2022-02-12 19:27] AndyZe opened #644 "Main control loop spin rate diverges with increasing CM update_rate"
I dropped a high-resolution timer in controller_manager/ros2_control_node.cpp (see attachment) then ran the rrbot demo with several different `update_rates`. Here are some results:

10 Hz update rate:       10.0084s for 100 iterations. Practically perfect.
1000 Hz update_rate:  10.5889s for 1000 iterations. Missed the `update_rate` by 5.9%

Conclusion:  the main loop spin rate diverges with increa

[2022-02-12 19:29] destogl opened #645 "[ros2_control_node] Let's check if we are measuring time correctly"
A discussion about `ros2_control_node` and its time management is again actual in #640.
I am still not sure if we are measuring the correct period we would like to have.
From my understanding, we should measure time between `update` calls without inclusion of `read` and `write` methods.
I suggest a bit updated time measurement with the following snippet:

[code]

_Originally posted by @destogl in

[2022-02-12 19:30] AndyZe commented on #644
A contributing factor might be that a small bit of work is not accounted for while sleeping?

[code]

Other than that, I suppose read(), update(), or write() just cannot keep up with the requested pace.

[2022-02-12 19:46] AndyZe commented on #645
I'm not sure I understand. Is your thinking basically along these lines?

Internal controller time is tracked within update(). Therefore the sleep in the main control loop should only depend on the update function.

[2022-02-12 19:48] destogl commented on #644
@AndyZe it seems that you did something similar to my proposal in #645. Is this correct? If so, we can close that issue too with #646.

[2022-02-12 19:49] AndyZe commented on #645
Side note: the code you posted isn't exactly right because `begin` isn't updated anywhere. I think I get the idea, though.

[2022-02-12 19:51] AndyZe commented on #644
Well, #646 doesn't completely fix it. There's still something else going on.

[2022-02-12 20:19] destogl commented on #644
I am not sure if `begin = now()` is placed properly...

[2022-02-14 12:49] destogl commented on #632
The clue is that you ros2_control doesn't know anything about kinematics so you can also make it "broken" in URDF and things should work OK.

[2022-02-15 14:07] AndyZe commented on #644
Agree, that's what #646 changes. It puts `begin = now()` right at the beginning of the iteration so it doesn't miss anything.

[2022-02-16 11:37] #605 closed

[2022-02-16 12:00] gavanderhoorn commented on #644
Originally in https://github.com/ros-controls/ros2_control/pull/647#issuecomment-1041246176:

[2022-02-16 12:50] destogl opened #648 "Move test-URDF from transmission interface to `ros2_control_test_assets`? It would be a better and reusable place for this. Maybe there is already exactly the one you need. Or perhaps we can only extend the existing `MinimalRobot` with thi"
I propose to extend the minimal robot from the `ros2_control_test_assets` with transmission tags too. This should be then used for testing of transmissions.

The idea is to have one fully-featured URDF for doing main test of different features. Although not all tags will be used in all tests, they all have to be parsable and should not collide with each other. This can be only achieved if we reall

[2022-02-16 13:25] wmmc88 commented on #599
#633 only resolves simple transmissions, right? The rest of this issue isn't resolved yet.

[2022-02-16 19:38] bijoua29 opened #649 "Hardware interface: variable update rates for command/state interfaces"
I wanted to bring up an ros2_control issue for us that may or may not be unique to us. The details below might also expose some of my ignorance of ros2_control so feel free to point that out. I also apologize for the lengthy text.

**Is your feature request related to a problem? Please describe.**
We have a hardware device that is bandwidth constrained. As such, we have to be judicious about how o

[2022-02-16 21:50] #645 closed

[2022-02-17 08:05] bmagyar commented on #599
That is correct, I'll tick off the first item on the list ;)

[2022-02-18 11:49] destogl opened #652 "Clean definition of `mimic` joints under ros2_control URDF tag"
The feature is related to discussion in ros-simulation/gazebo_ros2_control#111.

The current definition of `mimic` joint features in URDF is not complete.
To have all the features, we should also add the `offset` parameter for the mimic joint.
This lead to the following structure:

[code]
The parameters under `left_finger_joint` could be confusing.

**Describe the solution you'd like**
Therefore,

[2022-02-18 13:15] christophfroehlich commented on #652
The second/alternative seems to be less redundant and still easy to understand.
But is it then necessary to explicitly set mimic to true for ros2_control? Is there a use case where one would specify a mimic joint in the original URDF, but wants this to be disabled in ros2_control?

[2022-02-20 21:47] A-janjan opened #653 "error: expected constructor, destructor, or type conversion before ‘(’ token"
Hello

when I build ros2_control form source , I encountered this problem:

**error:**

`ros2_control/transmission_interface/test/simple_transmission_test.cpp:162:25: error: expected constructor, destructor, or type
 conversion before ‘(’ token
  162 | INSTANTIATE_TEST_SUITE_P(`

**Environment :**
 - OS: Ubuntu Focal Fossa (updated)
 - Version: Foxy

[2022-02-20 22:13] bmagyar commented on #653
Please use the appropriate branch to build from source.

[2022-02-20 22:13] #653 closed

[2022-02-21 18:31] Minipada opened #654 "Controller manager compilation fails on galactic"
**Describe the bug**
Controller manager compilation fails.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Compile latest source code of controller_manager 223b2593b09e3c2b453d8c02f7f402d590316124

**Expected behavior**
Compiles

**Screenshots**
![image](https://user-images.githubusercontent.com/1220912/155009930-b5734e40-db91-4fbc-af6c-831079cb56a8.png)

**Environment (please comple

[2022-02-23 18:58] bmagyar commented on #652
I think it's clearer if as much as possible is is explained as part of the URDF. After all, these are properties of the kinematics structure, not control IMO. We only help making it happen in simulation.

[2022-02-24 09:12] destogl commented on #652
@bmagyar would this mean that we should always search in URDF if there are some mimic joints? Theoretically speaking, we don't need to add a mimic joint in the control part at all. But then we are maybe missing definition of interfaces. Could you give a more concrete answer about what you are having in mind?

[2022-02-24 09:17] destogl commented on #654
This is not a bug, but intended behavior. You are using the wrong branch... ROS" Galactic == 'galactic' branch

And with this answer, I earned myself a beer. (I see you are located in Hamburg, if you send it today via DHL it should be in Karlsruhe tomorrow just in time for after-work beer) :smile:

[2022-02-24 09:17] #654 closed

[2022-02-24 09:20] #536 closed

[2022-02-24 09:21] #107 closed

[2022-02-24 10:40] Minipada commented on #654
Hi, I saw that after, forgot to mention it here 🙃, my bad. Unfortunately (or not?) not I'm in Brazil, not in Hamburg until end of march. If you pass by, or I come to Karlsruhe, I'd be down for a beer 😉
![image](https://user-images.githubusercontent.com/1220912/155508784-52afd45d-d301-4bd8-b11e-737de1747eae.png)

[2022-03-03 11:27] rcywongaa commented on #654
Should the Dockerfile reflect this?  Currently [`[galactic] Dockerfile`](https://github.com/ros-controls/ros2_control/blob/galactic/.docker/source/Dockerfile) still uses the master branch `ros2_control.repos` which doesn't seem right.

Somewhat relatedly, shouldn't [`[master] Dockerfile`](https://github.com/ros-controls/ros2_control/blob/master/.docker/source/Dockerfile) set `ROS_DISTRO="rolling"`

[2022-03-04 14:14] cco-seasony commented on #547
Hey, I have been reading the comments and @bmagyar mentioned that it is possible to set the namespace to the controller manager when loaded as a node.
Are there any solutions for adding a namespace when using gazebo_ros2_control? I am struggling to load multiple robots with independent controller_managers

[2022-03-07 14:46] jlack1987 opened #665 "Add controller type to load controller service"
Is this something that has been considered before? I feel like it's a very small price to pay for something that would really simplify the overall process of loading a controller especially with the way parameters are different in ros2 as opposed to ros1.

[2022-03-07 15:01] AndyZe opened #666 "libhardware_interface.so build error on Ubuntu Jammy"
Building on Rolling, which is now on Ubuntu 22 Jammy. I get this error:

[code]

The CI log is here:

https://github.com/ros-planning/moveit2/runs/5442497608?check_suite_focus=true

[2022-03-07 15:04] gavanderhoorn commented on #666
Likely another case of [Preparing for Rolling sync –delayed by Python 3.10 transition–](https://discourse.ros.org/t/preparing-for-rolling-sync-delayed-by-python-3-10-transition/24521).

[2022-03-07 17:18] destogl commented on #665
I don't see anything against it. Can you explain a bit more your use-case?

[2022-03-08 22:05] AndyZe opened #668 "Dynamic memory allocation inside realtime functions / loops"
I thought it was bad practice to declare a variable inside a realtime loop, but I see it a lot in this codebase. For example, [here](https://github.com/ros-controls/ros2_control/blob/6b495ef86889cbfdc1ee22ac77efa2ff589727ee/hardware_interface/src/actuator.cpp#L235) in actuator.cpp `write()`:

[code]

Compare to the ROS1 ros_control codebase where a lot of effort went into avoiding this practice. F

[2022-03-09 08:35] gavanderhoorn commented on #668
Anything which goes on the stack isn't really a problem, as it can be allocated deterministically (it's essentially `O(1)`, as it's simple pointer arithmetic).

Memory allocation from a heap is something which is not inherently deterministic (at least not with the default memory allocators), and that's what you should avoid when writing code which should be deterministic.

If any of the classes po

[2022-03-09 11:59] Hlanden opened #669 "Add joint_limits_interface to debian package for ros2 foxy"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment (please complete the fol

[2022-03-09 12:29] Hlanden commented on #669
Aha I see! I'll just copy the code for joint_limits_interface to my hardware interface package then.

[2022-03-09 20:25] rcywongaa commented on #666
Copying the comment from ruffsl here: https://answers.ros.org/question/397215/no-rule-to-make-libpython-when-using-rosidl_generate_interfaces-dependencies/?comment=397270#post-id-397270

[2022-03-10 14:29] RobertForristall opened #671 "Ros2_control diff_drive cant turn in gazebo"
**Describe the bug**
When working with the ros2_control package using the diff_drive_controller in gazebo the robot responds to the linear.x component of the twist message and drives forward; however it doesn't respond to the angular.z component of the message for turning.

**To Reproduce**
Steps to reproduce the behavior:
1. Download the following package: https://drive.google.com/drive/folders/1

[2022-03-10 15:28] destogl commented on #665
Yes, we could add this. Do you mind open a PR with this functionality?

We should not remove anything because there are many cases where you want to simply use controller names and type is “not essential”. So, service should have type as an optional parameter. If type-argument is provided, [other `load_controller` method](https://github.com/ros-controls/ros2_control/blob/6b495ef86889cbfdc1ee22ac77

[2022-03-10 15:34] destogl commented on #668
We should agree on the best approach/rules in this issue and open a bunch of good-first-issues to clean the code base completely. It is true that some places need a lot of house-keeping.

[2022-03-10 15:36] destogl commented on #671
Hi, did you check this answer: https://answers.ros.org/question/395015/differential-drive-not-turning-the-vehicle/#396956?

Since you are using foxy, I don't guarantee anything about this working properly. I didn't test it there. Maybe some of the essential recent changes are missing.

P.S. ros2_controllers would be better place to open this issue.

[2022-03-11 17:59] mhubii opened #674 "Controller restart"
Hi All, and thanks for the great work you put into this project. I have a question regarding restarting the controllers. In the previous `ros_control`, the controller manager was capable of restarting the controllers, see https://github.com/ros-controls/ros_control/blob/83a392bafa1ec01dc77ec2a592f3b74a783f3faa/controller_manager/src/controller_manager.cpp#L70.

So if the hardware signals the `Syst

[2022-03-11 18:01] mhubii commented on #674
Closing this and asking in the forum..

[2022-03-12 12:12] HusamZain opened #676 "odrive_ros2_control Migration from Foxy to Galactic"
thank you for your work.
I'm new to this
I found an odrive_ros2_control package for Ros2 Foxy, that I want to use in my project, and I'm using galactic
I tried to do the changes as mentioned [here](https://github.com/ros-controls/ros2_control/blob/6b495ef86889cbfdc1ee22ac77efa2ff589727ee/hardware_interface/doc/hardware_components_userdoc.rst) . but I still get this error when I try to build the pa

[2022-03-12 15:56] destogl commented on #671
There is no “they” those are all the same people. For the rest of the discussion, check there: ros-controls/ros2_controllers#312

[2022-03-12 15:56] #671 closed

[2022-03-14 08:24] HusamZain commented on #676
I changed all the return_type that was proposed in the documentation (configure, active ,deactive), but wasn't sure about the 'prepare_command_mode_switch', and if I do change it I got this error, sorry for the inconvenient
![Screenshot from 2022-03-14 09-19-05](https://user-images.githubusercontent.com/97671800/158132344-190f9caf-5a5a-4d81-aaea-1caa98c11744.png)
any suggestions ?

[2022-03-14 15:04] #266 closed

[2022-03-14 15:23] destogl opened #679 "Make `node_` member in ControllerInterface private to force use of `get_node()` method"
## Background

On the [last WG meeting](https://docs.google.com/document/d/1818AoYucI2z82awL_-8sAA5pMCV_g_wXCJiM6SQmhSQ/edit#heading=h.6726bri1lla5) it was decided to force use of `get_node()` getter in controllers. For this `node_` member should be made private.

To solve this issue two PR should be openend:

-[ ] on ros2_control repository: `node_` member is private and tests are updated to use

[2022-03-14 15:31] destogl commented on #676
Hi,

you should not change the return type of the `prepare_command_mode_switch`. If you are unsure, always check the header files of parent classes. Usually, an IDE can show you this (if configured properly).

[2022-03-14 15:33] #676 closed

[2022-03-20 18:04] mhubii commented on #674
following a discussion here https://discourse.ros.org/t/ros2-control-controller-restart/24662, a temporary solution to restarting the controllers can be achieve through #677.

I am now facing the following issue: On re-loading the controllers, it appears to me that the commanded states are not updated to the current state. Is this the case? Thank you for your help, kind regards

[2022-03-21 08:57] mhubii commented on #674
I think I had some cached variable..

[2022-03-21 08:57] #674 closed

[2022-03-22 21:48] tylerjw opened #682 "race condition in spawner"
**Describe the bug**
In spawner.py the function `wait_for_controller_manager` waits for the node name to exist. Immediately after it is called `is_controller_loaded` is called which calls `list_controllers`.  `list_controlers` depends on the service `/controller_manager/list_controllers` to be available. Even though the log message in `wait_for_controller_manager` says it is waiting for services,

[2022-03-22 22:11] tylerjw commented on #682
I found this function that might provide a way to wait for the interfaces of the controller_manager to be up first: https://docs.ros2.org/latest/api/rclpy/api/node.html#rclpy.node.Node.get_client_names_and_types_by_node

Is there a list of the required set of ros interfaces of controller_manager somewhere I can reference?

[2022-03-23 17:49] destogl opened #684 "[ros2_control CLI] There is no error returned on `switch_controller` even an error happens"
## Background

If a controller can not be started for any reason, CLI is not detecting that, but always returning success.

You should check and update the following files to get this feature working:
- https://github.com/ros-controls/ros2_control/blob/master/ros2controlcli/ros2controlcli/command/control.py
- https://github.com/ros-controls/ros2_control/blob/master/ros2controlcli/ros2controlcli/ve

[2022-03-23 17:52] destogl opened #685 "[ros2_control CLI] `list_hardware_interfaces` should also show availability status"
## Background

The server `list_hardware_interfaces` returns available status, but this is not printed out when using CLI command. This should be updated. To replicate this check any example in ros-controls/ros2_control_demos repository.

Files to check/update: https://github.com/ros-controls/ros2_control/blob/master/ros2controlcli/ros2controlcli/verb/list_hardware_interfaces.py

## Instructions
H

[2022-03-23 17:53] destogl opened #686 "[ros2_control CLI] `list_hardware_interfaces` should have colored output"
## Background

Re-use colors defined in `spawner` and apply them to the list of interfaces depending on their `available` and `claimed` status.

This depends on #685.

Files to check/update: https://github.com/ros-controls/ros2_control/blob/master/ros2controlcli/ros2controlcli/verb/list_hardware_interfaces.py

## Instructions
Hi, this is a `good-first-issue` issue. This means we've worked to make

[2022-03-23 17:55] destogl opened #687 "[ros2_control CLI] `list_controller` should have colored output"
## Background

Re-use colors defined in `spawner` script and make output on command line colored. Related to #686. Also correct aligment when using format-strings (initial work on this is done, but it should be optimized).

Files to check/update: https://github.com/ros-controls/ros2_control/blob/master/ros2controlcli/ros2controlcli/verb/list_controllers.py

## Instructions
Hi, this is a `good-firs

[2022-03-23 17:59] destogl opened #688 "[ros2_control CLI] `set_controller_state` should support full lifecycle and use lifecycle nomenclature."
## Background

set_controller_state CLI command is not full. There are missing some states from there, and we should use lifecycle nomenclature there instead of old one, e.g., `activate` and `deactivate` instead of `start` and `stop`.

## Instructions
Hi, this is a `good-first-issue` issue. This means we've worked to make it more legible to people who either **haven't contributed to our codebase b

[2022-03-23 18:15] destogl opened #689 "[ControllerManager] Update nomenaclature from `start`/`stop` to `activate`/`inactive`"
## Background

Update all comments and code of ControllerManager:
- `start` --> `activate`
- `stop` --> `deactivate`
- `started` --> `active`
- `stopped` --> `deactive`

## Instructions
Hi, this is a `good-first-issue` issue. This means we've worked to make it more legible to people who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before

[2022-03-24 10:19] tonyshi1998 commented on #689
Would love to work on this!

[2022-03-24 11:05] destogl opened #691 "[Interfaces] Make functionality of `get_name()` method clear."
## Background

In `hardware_interface/handle.hpp` file we have three ways to get name of the interface, joint and full name. The naming of methods is a bit confusing:

- `get_name()` - returns "joint" name
- `get_interface_name()` - return interface name (OK)
- `get_full_name()` - returns full name of the interfaces `<joint_name>/<interface_name>`

I find this a bit confusing and propose the follo

[2022-03-24 11:06] destogl commented on #689
looking forward to see your PR!

[2022-03-24 13:09] destogl commented on #674
~~IMO, this is the correct solution. Your hardware interface has the storage of values for interface, and only hardware interfaces know exact moment when interfaces (commands) should be reseted. Everything else could cause race conditions. When hardware is re-activated, I would at least invalidate command interfaces, e.g., set them to NaN (std::limits<double>::quiet_nan()).~~

Ok, thinking more ab

[2022-03-24 13:49] mhubii commented on #674
might definitely be some bug. I am using the `JointTrajectoryController`, but through the `MoveItSimpleControllerManager`. So chances are Moveit2 causes this behavior. I'll strip away the Moveit2 stuff and check if the issue persists. Thanks for thinking it through

[2022-03-28 12:31] lukicdarkoo commented on #472
It looks like a bug and it is still present. The `on_deactivate` callback is not called on `CTRL-C`. @MarqRazz's workaround works though.

[2022-03-29 07:33] bmagyar commented on #472
I'll try to set up a test for this and add a fix.

[2022-03-30 02:16] shonigmann opened #692 "Public method to check if command interfaces are claimed using ControllerManager or SystemInterface?"
Is it possible to directly check whether a command interface is claimed through the ControllerManager?

I'd like to work on a fix to ros-simulation/gazebo_ros2_control#85, where the Gazebo ROS2 Control Plugin is unable to support more than one command interface type even when only one is claimed at a time.

The most direct approach feels like it would involve querying the ResourceManager's [`comma

[2022-03-31 20:16] jackcenter commented on #679
I can work on this one

[2022-04-01 19:54] shonigmann commented on #692
For the time being I am using the ControllerManager's ListControllers service interface, which does provide the desired functionality... That said it takes ~1ms to call, so its definitely not ideal to run inline with the update loop. An event based approach would be wonderful if it exists.

[2022-04-03 11:26] destogl commented on #692
Hi,

This is a correct place for this, because it is a bug fix on the framework.

This should be managed by internal flags that are set in "prepare_command_mode_switch" and "perform_command_mode_switch". There you have exact information which interfaces are used in controller that will be activated or deactivated. This being said, you know exactly hoch interfaces are exactly used in any given mome

[2022-04-05 18:26] destogl opened #695 "Change ugly `namespace_` variable format in controller manager and controller interface."
## Background

Rename the argument to `node_namespace` because `namespace` is reserved C++ keyword. Please do the following:

- [ ] rename argument in `ControllerInterface` files
- [ ] rename argument in `ControllerManager` files
- [ ] Execute all tests on `controller_interface` and `controller_manager` package to be sure that everything works.

## Instructions
Hi, this is a `good-first-issue` iss

[2022-04-05 18:33] destogl commented on #674
This should not actually cause this behavior. Let us know if you are still struggling.

[2022-04-06 10:03] destogl opened #696 "Do we really need `explicit` constructors in `handle.hpp` file?"
Do we really need these constructors? IMHO there are not used anywhere...

If they are used, please document where and why.

https://github.com/ros-controls/ros2_control/blob/a11638d9e3c4acf675ad633bd9854efe8351e7cc/hardware_interface/include/hardware_interface/handle.hpp#L36

[2022-04-06 10:15] destogl commented on #692
I was also thinking about hat, but since flags are dependent on the hardware and its implementation, I am uncertain if we can make a sensible generic solution to it.

Let us know if you have some ideas about generalizing your implementation. You will for sure have more knowledge/experience about it.

[2022-04-12 13:21] joe28965 opened #698 "Use topic for the robot description parameter"
**Is your feature request related to a problem? Please describe.**
Right now I'm making a physical robot that also has a 'digital twin'.

For gazebo_ros2_control it's necessary to add the gazebo hardware interface to the URDF, while ros2_control needs the real one (makes sense). Right now I've set up a xacro argument to choose between gazebo and real hardware interface.

The thing is, I can do thi

[2022-04-12 13:52] joe28965 commented on #421
Is it me or has ros2_control since been released on both Galactic and Rolling and should this issue be closed?

[2022-04-12 13:54] bmagyar commented on #421
Oh yes of course, long since it's been released to both. Closing

[2022-04-12 13:54] #421 closed

[2022-04-14 21:48] Schulze18 commented on #691
Hello everyone, I would like to work on this one.

@destogl, just to make it clear, it is not necessary any changes in get_interface, right? Therefore, as a final result, we would have:
- `get_name()` : returns full name of the interfaces `<joint_name>/<interface_name>`
- `get_interface_name()` : returns interface name `<interface_name>`
- `get_prefix_name()` : returns "joint" name (better is to c

[2022-04-20 03:14] henryliuliuliu opened #703 "Fail to run controller_manager node"
THIS IS my controller.yaml file
[code]

This is my launch file
[code]
[ERROR] [ros2_control_node-1]: process has died [pid 28410, exit code -6, cmd '/opt/ros/foxy/lib/controller_manager/ros2_control_node --ros-args --params-file /tmp/launch_params_0nfwf8mm --params-file /home/khadas/workspace/install/odrive_bringup/share/odrive_bringup/config/odrive_controllers.yaml'].
Could any one tell me the re

[2022-04-20 05:35] bmagyar commented on #703
I'm closing this straight away because you added a bug label.

I often like to call bug labels and bug tickets mismanaged expectations. I don't know what you are trying to do, you dumped a yaml file here for us to debug. Please go do your debugging first and come back with your findings properly written up IF it is a bug and not something you screwed up in your config/launch files.

[2022-04-20 05:35] #703 closed

[2022-04-20 07:40] destogl commented on #691
Yes, exactly, this should be the final solution. For the first implementation, we should probably deprecate `get_full_name()` method using `get_name` in the background.

@Schulze18 I will assign you for this than! Thanks! Please ask if you have any further questions!

[2022-04-20 08:32] joe28965 commented on #698
With regards to the URDF being updated.
As I mentioned gazebo_ros2_control uses robot_state_publisher to get the URDF, so I decided to check how they get the URDF. That actually made me realize I'm wrong (partially).

During the init gazebo_ros2_control actually requests the _parameter_ from robot_state_publisher ([the function in question, if you're interested](https://github.com/ros-simulation/g

[2022-04-20 09:25] bmagyar opened #705 "Refactor error handling when hardware name is duplicated"
**Is your feature request related to a problem? Please describe.**

There is a solution to duplicated hardware names #672 and eve though it is a working one, it is not the ideal solution.

**Describe the solution you'd like**

Refactor the code to take [this comment](https://github.com/ros-controls/ros2_control/pull/672#pullrequestreview-906371921) into account.

Add some tests.

[2022-04-20 10:38] destogl commented on #698
Not they wouldn't. sorry didn't know you exact setup.

Thanks for your input and information! We could do proposed approach, but I would prefer if we think long-term and do this a bit more intelligent also for the future use. TBH I see uses where we would update robot description during run-time, e.g., dynamic adding of hardware and similar. What do you think about following proposal: (also @bmagy

[2022-04-21 13:45] joe28965 commented on #698
In that case, there is a chance robot_state_publisher would need to be updated too, so using the same parameter would be easier for the user in this case. However:

If using the parameter from RSP, we'd need to know when that one is being updated. Since periodically requesting it seems like a bloated solution. Is there a way to get informed when the parameter of _another node_ is updated?

Might m

[2022-04-21 16:00] bmagyar opened #708 "Turn ControllerManager into a LifecycleNode"
**Is your feature request related to a problem? Please describe.**

Over the years there were many ways to detect if the `controller_manager` was available for loading/starting controllers. ROS2 offers a much nicer way of doing this which also helps with launch dependencies at the launch file level for free -> LifecycleNodes.

**Describe the solution you'd like**

Implement a LifecycleNode interfa

[2022-04-22 08:59] bmagyar commented on #32
Done in the recent ros2_control release, 2.6

[2022-04-22 08:59] #32 closed

[2022-04-22 09:12] bmagyar commented on #652
After a discussion with @destogl it seems we converged on a solution very close to the above.

Overview: Using a mimic joint should work out-of-the-box, on by default. Users who want to opt-in can do so in the configuration of their hardware component.

In the example with the setup below, `ros2_control` should do the check on each joint to figure out if it is a mimic joint or not. This could be p

[2022-04-22 09:24] destogl commented on #705
The point is that we should do this check much earlier and not when we already initialize hardware with the duplicated name.

- [ ] Move lines 103 - 108 in ResourceManager.cpp to a new method called `check_for_duplicates`.
- [ ] Use this method at the beginning of methods:
  -  `void initialize_actuator(const HardwareInfo & hardware_info)`
  - `void initialize_sensor(const HardwareInfo & hardware_

[2022-04-22 10:24] bmagyar commented on #698
I think this issue developed beyond the original scope, probably time to close it and start a discussion on a new thread re. dynamic handling of updating robot_description.

Is there anything that could be salvaged from the original discussion?

[2022-04-22 11:17] joe28965 commented on #698
The original issue started with the use of the robot_state_publisher parameter for the URDF instead of a separate parameter. Think that's the main thing?

[2022-04-24 19:10] destogl commented on #698
What I am thinking that we switch to using topics completely for robot description. This means that `robot_state_publisher` decides on changes when this has to be changed (hopefully across all nodes, then. I know that MoveIt2 had also discussions about this.)

This would be possible, we just have to decide what makes sense.

@bmagyar I would rather just rename the issue. Or @joe28965 if you like,

[2022-04-25 13:29] joe28965 commented on #698
Personally it doesn't make sense to me to update RSP with a new URDF that removed hardware, without wanting to remove it from ros2_control. Why was the hardware removed from the update to RSP if it's still being actively used. I suggest unloading regardless of the state.

**Summary:** (think this covers all, if you agree I'll make a new issue for it)

# Use the robot_state_publisher topic to recei

[2022-04-26 13:29] AndyZe commented on #668
I'm planning to start working on this issue of resizing variables in the joint trajectory controller `update()`. The only two strategies I'm aware of are:

- Pre-allocate a large-ish amount of memory ahead of time, then only use what we need
- Use a deterministic memory allocator (TLSF) as mentioned by gvanderhoorn

Any preferences or other ideas?

[2022-04-28 12:50] joe28965 opened #711 "Use the robot_state_publisher topic to receive the URDF, allow for updating on runtime"
Based on the discussion in #698

The idea is to use the topic from robot_state_publisher to get the URDF for ros2_control.

By using the robot_state_publisher to receive the URDF, there will be a more centralized place to update the URDF that multiple nodes can use (instead of multiple nodes all keeping track of their own URDF).

- Update the robot description if the URDF from robot_state_publishe

[2022-04-28 12:51] joe28965 commented on #698
I've created a new issue at #711 with the summarized text. I'll close this issue to keep any future discussion localized to 1 issue.

[2022-04-28 12:51] #698 closed

[2022-04-28 15:45] tylerjw opened #712 "Implicit contracts make ros2_control hard to use"
## Background

I really appreciate all the work that has gone into ros2_control. Recently I've been implementing the various plugins I need to make a robot arm work with ros2_control. Here I will try to summarize my experience and pain points around what you have to do to implement robot control with ros2_control.

Much of this can be summarized as ros2_control is not easy to use correctly because

[2022-04-28 21:03] Schulze18 commented on #691
I have a few doubts. @destogl, to deprecate `get_full_name()`, I just made it return `get_name()` and replaced any occurrence to `get_name()`. Should I add any other comment or message to indicate it was deprecated?

Sorry, it is my first time going deep into the ros2 code. Do the classes [ResourceStorage](https://github.com/ros-controls/ros2_control/blob/5363e3a248e5fc6379e44cd50d6fe59cc05514a3/h

[2022-04-29 22:02] nbbrooks commented on #712
How difficult would it be to write a toy problem that could give us useful data on this?

I was talking with Lovro this morning about how we might recover from Protective Stops in the UR driver, and was thinking the GPIO controller (which receives the UR's status messages) could be chained in front of the JTC/whatever controller to provide graceful degradation on a joint or system level. There may

[2022-05-01 18:02] tylerjw commented on #712
On the shared memory I created an example implementation of the command interface to make it more clear: https://compiler-explorer.com/z/154h7o89z

Something as simple as the joint trajectory execution should return a failure when the end state of the robot after executing the trajectory is not near the end state of the trajectory. The tolerance for this could be parameterized.

[2022-05-01 18:09] tylerjw commented on #712
I think we'd have to implement it in some way to measure it. I'll think about this more to see if I can figure out a simple way to show this. Here is a blog post on memory locality if that helps: https://easyperf.net/blog/2018/07/09/Improving-performance-by-better-code-locality

That being said, even if for some reason shared memory was more performant, I don't think the downsides to having implic

[2022-05-01 18:50] nbbrooks commented on #712
I believe JTC does this style of check and will fail the trajectory when JTC has commanded the last waypoint of the trajectory and both `goal_time_tolerance` and `goal_state_tolerance` are violated:
https://github.com/ros-controls/ros2_controllers/blob/master/joint_trajectory_controller/src/joint_trajectory_controller.cpp#L324

The `goal_time_tolerance` is helpful as my understanding is that some

[2022-05-01 18:52] nbbrooks commented on #712
On another sidenote (I will work with Denis to open a separate discussion on this), I recently learned more about some of the arm controller APIs, and ideally, we would detect when we are stopping the arm because a JTC tolerance is violated and either

1. Have JTC ramp the arm down to a stop using the vel/acc/jerk limits
2. Call whatever the arm's equivalent of "StopJ" is

Rather than what is curr

[2022-05-01 22:50] tylerjw commented on #712
The JTC was really just an annoyance in the theme of "ros2_control is easy to use incorrectly, I'd like better interfaces". I'd like to focus on the implicit contracts with the user and try to as much as possible change the API so the contracts are well defined in the interface. This way, ideally there are no surprises when adding support for new hardware or writing a controller.

[2022-05-01 22:54] tylerjw commented on #712
You say that but in my experience (I am working on galactic) this is not true. It is likely I have it misconfigured or have failed to configure it to have this behavior. As a user the fact that it returns true when executing a trajectory in the case where the hardware interface has stopped because it is in some sort of error state (I'm not talking about the case where the robot does move but fails

[2022-05-01 22:58] tylerjw commented on #712
I think we went down a rabbit hole on the JTC thing. I'm not talking about the problem of dealing with the hardware not perfectly doing what the controller is asking for but a much more software problem.

GIVEN: hardware interface is stopped because it returned an error from `read` or `write` or a state transition, and a controller commanding command interfaces from that same hardware interface,
W

[2022-05-17 08:15] muttistefano opened #718 "Getting librayLoadException when using ros2_control"
Hi all, im trying to use the ros2_control  package to control multiple URs in gazebo.

So far I'm loading the ros2_control node in launch like this :
[code]
In the URDF the library is imported I such way:
[code]

Where different nodes are under different namespaces, but when I launch it I get this:
[code]

I cannot tell why this error comes from.
Thanks

[2022-05-17 09:12] bmagyar commented on #718
The error message is clear, you just need to read it.

[code]

  [ros2_control_node-5]   what():  According to the loaded plugin descriptions the class **gazebo_ros2_control/GazeboSystem** with base class type hardware_interface::SystemInterface **does not exist. Declared types are  fake_components/GenericSystem test_hardware_components/TestSystemCommandModes test_hardware_components/TestTwoJointS

[2022-05-17 09:12] #718 closed

[2022-05-19 10:32] Mikumiku747 opened #720 "Change `interface_list_contains_interface_type` to `inline`"
**Description:**
The function `interface_list_contains_interface_type` from `controller_interface/helpers.hpp` is a function defined in a header, which means it will cause multiple definition errors during linking if used more than once in a controller implementation in separate compilation units (e.g. different controllers linked into the same library).

**Reproduction**
Create separate compilati

[2022-05-20 02:38] Mikumiku747 commented on #720
Thanks for the fix, should be good once the PR goes through.

[2022-05-20 02:38] #720 closed

[2022-05-26 19:58] nuclearsandwich opened #725 "hardware_interface in Rolling fails to build on RHEL 8 target"
**Describe the bug**

Build failures in ROS 2 Rolling build farm on RHEL/AlmaLinux 8

**To Reproduce**

https://build.ros2.org/view/Rbin_rhel_el864/job/Rbin_rhel_el864__hardware_interface__rhel_8_x86_64__binary

**Environment (please complete the following information):**
 - OS: RHEL / AlmaLinux 8
 - Version: Rolling, ros2_control v2.9.0-1

**Additional context**

My C++ appetite isn't enough to t

[2022-05-30 10:19] bmagyar commented on #725
Happy to leave the issue open? We have RHEL in our CI but rarely follow up on it. We do intend to however...

[2022-06-01 19:18] tylerjw opened #726 "Logic in ros2_control_node for timing"
Here is my current understanding of how the logic in [ros2_control_node](https://github.com/ros-controls/ros2_control/blob/master/controller_manager/src/ros2_control_node.cpp) works:

![ros2_control_loop drawio](https://user-images.githubusercontent.com/2490389/171484228-651e1084-1b0e-4c31-9207-a1dcf72a07f9.png)

There are several issues I see with this current design:
* The period value that is s

[2022-06-02 04:59] tylerjw opened #727 "Upgrade to clang-format-12"
The master branch of this repo should use clang-format-12 as clang-format-10 is not easily installable on Ubuntu 22.04. We have transitioned on moveit2 and have had minimal changes as a result.

[2022-06-02 07:01] gavanderhoorn commented on #726
As someone who has written many of these kinds of loops: whether to execute `read(..)` before `write(..)` (with some `update(..)` in the middle) or the other way around is largely a choice.

Your second diagram orders operations such that the exact point in time where `write(..)` is called will depend on how long `update(..)` takes. That's not ideal.

I've seen `write(..); update(..); read(..)` an

[2022-06-02 07:04] tylerjw commented on #726
I'm happy to re-order them in my PR. You will note though that the current design also has the issue you point out along with the other issues I pointed it.

[2022-06-02 07:06] gavanderhoorn commented on #726
I wasn't claiming it doesn't.

I merely wanted to make sure we agree here that while it seems `write(..)` should follow `read(..)` and `update(..)`, that's not necessarily the case, and depends on the structure and configuration of the rest of the (underlying) system.

[2022-06-02 07:08] tylerjw commented on #726
I pushed a change to make it `write, update, read, sleep`. I hadn't thought of what you pointed out but you are right that the hardware I'm interacting with is sensitive to write being called at a steady rate.

[2022-06-02 07:10] gavanderhoorn commented on #726
Now we wait until someone comes along with a good argument for why it shouldn't be the order you just made the default ..

[2022-06-02 07:13] tylerjw commented on #726
The only reason I can think of is if there are some assumptions about the order of `read` and `update`. There might be a controller that depends on the fact that the values it is reading from the robot are the most recent ones (and not the ones from the last iteration of the loop).

[2022-06-02 07:16] tylerjw commented on #726
My primary concern here was to fix what I saw as broken logic in how the loop was written with respect to the time and duration values being passed to the controllers. I'm happy to also fix other issues here while I'm at it though.

When I asked for feedback on my issue I posted here one thing I heard internally here at PickNik my generic design for ControlLoop feels too complex when I could just

[2022-06-02 07:19] tylerjw commented on #726
Another thing to point out is I'm using templates for the function arguments instead of std::function. That is a deliberate choice with the only pitfall being potentially harder-to-read compile errors if this function was called with arguments that couldn't be made to compile.

The upside is that having the function arguments be templates is much lighter weight than std::function. Ideally, I'd hav

[2022-06-02 15:43] kshfire commented on #726
I'm not sure but I think it is clear that there are problems in the cm_thread codes.

    while (rclcpp::ok())
    {
      // wait until we hit the end of the period
      end_period += period;
      std::this_thread::sleep_for(std::chrono::nanoseconds((end_period - cm->now()).nanoseconds()));

      // execute update loop
      auto period = current_time - previous_time;
      cm->read(current_ti

[2022-06-02 15:49] tylerjw commented on #726
@kshfire can you try my pr here to see if it fixes those issues you observed? https://github.com/ros-controls/ros2_control/pull/728

[2022-06-08 08:18] #727 closed

[2022-06-09 17:37] christophfroehlich opened #732 "joint_state_broadcaster configuration fails"
This is a repost of https://github.com/ros-controls/gazebo_ros2_control/issues/131 because it seems to be linked with the [changed hardware interface](https://github.com/ros-controls/gazebo_ros2_control/issues/131#issuecomment-1145258747) logic, hoping that it gets some attention here.

**Describe the bug**
I tried to use the humble or rolling releases and struggle with launching some robots.
Whil

[2022-06-17 13:39] pac48 opened #735 "Problem integrating trajectory controller and chainable interface"
I have a controller which I would like to use in chained mode. I want it to accept the output of a trajectory controller as input. This line prevents it from working:
https://github.com/ros-controls/ros2_control/blob/d632e8998876738e471f364784cde86cac341f88/controller_interface/src/chainable_controller_interface.cpp#L70

The trajectory controller requires that the interface name contains "position

[2022-06-18 03:17] tylerjw opened #736 "What is the expected behavior for missing loop rate?"
Currently when the loop rate is missed following iterations "catch up" because the design is to ask for the loop to start at a set time.

If you combine that with trajectory execution and position control the resulting command values are set with close to 0 charge in position.

If your robot takes control messages and the robot always takes the loop rate amount of time in it's internal controller

[2022-06-18 12:36] AndyZe commented on #736
This is a good reason to get the Ruckig smoothing PR merged:  https://github.com/ros-controls/ros2_controllers/pull/324

You can actually get infinite vels/accels right now, with the spline interpolation algorithm.

[2022-06-18 12:38] AndyZe commented on #736
I don't completely understand the loop rate issue. Maybe it would be smart to reject incoming commands if `time_since_previous_command` is less than 0.8x the control period? Or something like that.

[2022-06-18 13:40] tylerjw commented on #736
This is exactly what I did and it greatly improved the performance.

I'll try to draw a diagram or something to make it more clear. I think the current design is reasonable with regard to loop rates but when combined with how the interpolation works and position control it creates this nastily behavior.

[2022-06-18 16:35] tylerjw commented on #736
![image](https://user-images.githubusercontent.com/2490389/174448142-18183542-64f8-472c-a8ef-82c9bb5313e5.png)

Here is an example of the result on my hardware. The first column is the time delta in calls to my write function, and the rest are the position delta for each joint.

[2022-06-20 06:49] gavanderhoorn commented on #736
To me, this looks like what I would expect from a non-deterministic system.

Some periods are too short, others too long.

[2022-06-20 07:33] tylerjw commented on #736
I agree, but I think there are things we could do to make this more robust to running on a non-deterministic system. As it is failures are constant and poorly handled.

[2022-06-20 07:37] gavanderhoorn commented on #736
What do you suggest?

Almost all control systems I am familiar with assume a fixed `dT`. If that's not achieved, behaviour becomes almost 'undefined'.

Dropping "too old commands" is not really an option when you're working with a position controlled system (as the system-under-control would stop), which makes it difficult to come up with a generic solution.

[2022-06-20 07:40] tylerjw commented on #736
I don't think it is helpful to try to "catch up" in the case of position control because hardware does assume fixed dt and will take that as a hard command to stop motion.

Instead, I think we could calculate the start of the next iteration without trying to catch up by sending commands with near zero dt between them.

[2022-06-20 07:51] tylerjw commented on #736
Why would control engineers choose this then to write their control systems with if they don't start with the assumption that it isn't going to be deterministic. To my understanding ros2_control does not support any deterministic OS schedulers. It is open source and there is nothing stopping someone from making it work in a deterministic system, but by default it targets normal Linux.

Unless it w

[2022-06-20 07:53] tylerjw commented on #736
When you say responsibility of the controller do you mean in this case joint trajectory controller? If the controllers responsibility is to see that it is asked to create a new command at a much shorter than normal dt and it fails the current design of ros2_control has no way of communicating that failure to the hardware controller.

[2022-06-20 07:56] tylerjw commented on #736
If what you mean by controller is the hardware interface, that is what I'm currently doing. However I found this choice to send "catch up" position controls surprising, hence the issue.

[2022-06-20 08:12] gavanderhoorn commented on #736
I assume you mean to write: "if they can't start with the assumption it's going to be deterministic".

Control engineers I've talked to and who've used `ros_control` _do_ assume it's capable of providing deterministic behaviour. That's why I started posting comments on your issue: I recognised what you reported.

Separation of concerns would suggest that would also not necessarily be a responsibil

[2022-06-20 13:00] AndyZe commented on #736
Thank you for the reality check @gavanderhoorn  :+1:

[2022-06-20 13:24] AndyZe commented on #736
Some robot drivers seem to handle the jitter in commands much better than others. UR and ABB do a great job. I think you're working with a less sophisticated, raw driver that doesn't handle the jitter well.

Which is to say, we usually don't use a realtime kernel with UR robots (for example) because we can get away with it. But the kernel running on the UR pendant itself is realtime, I believe.

[2022-06-20 13:51] tylerjw commented on #736
When I said it does not support other schedulers I was simply referring to how the main loop is written and that it does not call any of the scheduler configuration API functions.

This is what I mean. ros2_control does not do this in the implemented control loop... There is nothing stopping me or anyone else from doing this themselves though.

I do think the project could though make some decisio

[2022-06-20 13:55] tylerjw commented on #736
To be clear I've started working on tooling to build ROS for VxWorks because I want to solve this problem for good and make it accessable. The problem though is I just haven't finished that project.

[2022-06-20 13:55] gavanderhoorn commented on #736
ROS 1 or ROS 2?

Doesn't Wind River already maintain a ROS 2 build for VxWorks 7?

[2022-06-20 13:57] tylerjw commented on #736
ROS 2... I should have googled before I started that. 😢

[2022-06-20 13:58] gavanderhoorn commented on #736
Perhaps taking a look at OROCOS could help at this point.

There was a OROCOS compatible `ros_control` `ControllerManager` component available, and OROCOS separates coordination from computation (and the rest of the Cs) *much* better than we have ever done in ROS (1 and 2).

[2022-06-21 19:09] zultron commented on #736
In my mind, the above discussion divides into two problems.

Relevant to the `ros2_control` code base, one problem is the absence of any RT threading features in the ROS2 [`controller_manager` node][1].  IMO those features would greatly improve the utility of this code base, since users would be a lot closer to acceptable RT performance right out of the box.  Optimizing biggest effect on latency v

[2022-06-26 16:32] pac48 commented on #735
Okay, so there a few changed still waiting to be merged as of today which will enable the JTC. See https://github.com/ros-controls/ros2_controllers/pull/318, https://github.com/ros-controls/ros2_control_demos/pull/162, https://github.com/ros-controls/ros2_control/pull/667

[2022-06-26 16:32] #735 closed

[2022-06-27 07:56] destogl commented on #736
Just for the record at maintainer of the framework: I fully agree with you guys and most of these things actually on my roadmap, but without any timestamp on it, unfortunately.

@tylerjw and @zultron you described some great ideas here, and I appreciate very much. What I would appreciate even more are some practical examples, documentation how to set up this or even PR to the existing code-base. I

[2022-06-27 07:59] destogl commented on #736
And to answer to the question: “There is no expected behavior. You should take care that you never miss the loop rate.” If you are missing, it more often, try RT_PREEMT or run `ros2_control` on a separate machine. Sorry that I don't have a better solution for now.

Your proposal seems sensible, would you like at least write up a concept of it in the [roadmap](ros-controls/roadmap) repository?

[2022-06-27 08:45] gavanderhoorn commented on #736
as another 'reality check' perhaps: in my experience, users with a requirement to reach the kind of determinism and low jitter @zultron describes here skip using a "complex OS" like Linux altogether (patched with PREEMPT or Xenomai or not).

Trying to cover those use-cases with vanilla `ros2_control` would perhaps not be the best goal for current development.

I would suggest to set a realistic go

[2022-06-27 12:49] tylerjw commented on #736
To be clear, my requirement for jitter for my current piece of hardware is around 1ms.

I am going to work on getting rt_preempt working this week for me to see if I can make that work for my application.

I do think it would be ideal for ros_control to eventually target bare metal for some specific targets using a rtos. Maybe using micro-ros for the external ros interface.

[2022-06-28 11:11] bmagyar commented on #725
I'm closing this one as #730 fixed what we could in the CI. @nuclearsandwich we are happy to address further things but hopefully the CI is representative

[2022-06-28 11:11] #725 closed

[2022-06-28 11:15] #666 closed

[2022-06-28 11:16] #144 closed

[2022-06-28 11:16] #55 closed

[2022-06-28 11:16] #26 closed

[2022-06-28 11:17] #31 closed

[2022-06-28 11:17] #188 closed

[2022-06-28 11:17] #22 closed

[2022-06-28 11:18] #290 closed

[2022-06-28 11:19] #30 closed

[2022-06-28 11:20] #437 closed

[2022-06-28 13:00] destogl commented on #732
Hi @christophfroehlich, sorry I was on vacation and didn't see this issue earlier.

The issue you mention is on `gazebo_ros2_control` side and not joint state broadcaster. I will skip to the discussion there and close this here.

[2022-06-28 13:00] #732 closed

[2022-06-28 21:08] roni-kreinin opened #740 "Read and write to hardware over ROS topics"
I have a diff drive robot running Foxy that does not have direct access to the hardware. The motors are controlled by a microcontroller running microROS which communicates with the robots PC. The motors are individually commanded with a ROS topic and the microcontroller publishes a feedback topic with encoder data. I understand that I should not be using ROS pub/sub directly in hardware as mention

[2022-06-29 07:19] gavanderhoorn commented on #740
as I wrote that answer, I'll add some clarification here.

The ROS Answers Q&A you link asks about whether it'd be a good idea to have 'ROS-facing' pub-sub directly in the hw interface class(es), or whether any interaction with the ROS application should only be located in controllers/broadcasters:

That's different from what you're describing, as you have a 'driver' -- your only interface to your

[2022-06-29 14:48] roni-kreinin commented on #740
I see. I tried adding a node to the hardware interface and I was able to publish but the subscription doesn't seem to be working. I can see the node is subscribed but the callback never gets called. I tried creating an executor and adding the node to it but I run into an exception that says the node has already been added to an executor (presumably the controller manager one). Any ideas on what th

[2022-06-29 16:00] destogl opened #743 "Remove reference interfaces of chained controllers if those are unloaded."
I think we should remove interfaces already if possible

_Originally posted by @bmagyar in https://github.com/ros-controls/ros2_control/pull/667#discussion_r909038351_

[2022-06-29 18:37] pac48 opened #744 "Add additional information for chained controller to "list_controllers" service response"
Currently, the `list_controllers` service topic returns the following response:
[code]
where the `ControllerState` msg  is defined as
[code]
This response does not effectively convey information in the presence of chained controllers. Consider the following chained system.
![image](https://user-images.githubusercontent.com/28868750/176509726-9cbfd552-02fb-4002-a072-eff78256cdac.png)

There are two

[2022-06-29 23:24] nuclearsandwich commented on #725
Thank you!

[2022-06-30 02:32] tylerjw commented on #736
Here is my PR I'm testing with: https://github.com/ros-controls/ros2_control/pull/748

[2022-06-30 14:44] jaron-l opened #750 "Add RHEL Dockerfile"
This is for the RHEL tests that currently use jaronl/ros:rolling-alma. In addition to moving to Dockerfile here, also the image should update periodically to pull in new rolling packages.

[2022-06-30 16:14] destogl commented on #685
resolved in #739

Thanks @leander-dsouza

[2022-06-30 16:14] #685 closed

[2022-07-02 08:02] leander-dsouza commented on #686
Hello @destogl,

I have implemented this feature request in #754.

[2022-07-02 20:45] destogl opened #759 "Add `cleanup_controller` service and method to controller manager"
## Background

Better support for controller's lifecycle, that is the same as for the Lifecycle node. To transition between `inactive` and `unconfigured` state, we should provide service that enables that. The event name is `cleanup`.

Do the following:

1. Add new method cleanup controller in the controller manager.
2. Copy cleanup content form the `unload_controller` method.
3. Add new service c

[2022-07-02 20:47] destogl opened #760 "Add `set_controller_state` service to controller manager"
## Background

Service should be equivalent to `set_hardware_compoent_state` so that controller manager takes care of all transitions to the desired state. This service should replace than all the individual services used in CLI.

## Instructions
Hi, this is a `good-first-issue` issue. This means we've worked to make it more legible to people who either **haven't contributed to our codebase before

[2022-07-06 22:45] pac48 opened #764 "Can't add description to controller parameters"
The `ControllerInterfaceBase` class sets `automatically_declare_parameters_from_overrides` to true by default. Controllers that inherit from this class have no way to change that default because init is not a virtual method. When parameter are declared automatically using the overrides, a default parameter description is given to them. As far as I know, there is no way to change a parameters descr

[2022-07-07 12:45] bmagyar commented on #764
Does https://github.com/ros-controls/ros2_control/pull/757 fix this?

[2022-07-07 14:32] pac48 commented on #764
That does fix the issue. Thanks for the quick response!

[2022-07-07 20:29] destogl opened #765 "Add service to controller manager to "Cleanup controllers" and also its CLI script"
## Background

See the comments [here](https://github.com/ros-controls/ros2_control/pull/755#discussion_r915832481).

1. Add service called `CleanupController' to `controller_manager_msgs`.
2. Implement this service functionality intro controller manager:
    - copy members and service callback from the defintion of other services.
    - see `unload_controller` methods that has cleanup functionali

[2022-07-08 04:37] gavanderhoorn commented on #740
Technically that would be nice, but with the mico-ROS Agent in between the Client and any `ros2_control` hw interface, I'm wondering whether there's really any benefit.

Determinism is hard enough with regular ROS 2 RMWs in the mix. Let alone with an additional non-determinstic hop.

I wouldn't suggest making it 'target' micro-ROS specifically.

[2022-07-09 06:23] destogl commented on #740
At least people could use our controllers more easily, and we will see ho this could be optimized in the future. It is far from ideal.

[2022-07-10 17:24] tylerjw opened #766 "[Question] Dead Link or Humble branch?"
![image](https://user-images.githubusercontent.com/2490389/178155344-43f79cd7-5927-43fc-9e7e-d772faf3636e.png)

Should there be a `humble` branch or should this link be updated to point at master or the humble release tag for the latest Humble release?

[2022-07-10 17:40] tylerjw opened #767 "Release branch for Galactic in rosdistro"
![image](https://user-images.githubusercontent.com/2490389/178155870-2dfbbc32-3e2f-4632-8d04-4c436e92a221.png)

rosdistro should be updated on the next release for Galactic to point to the correct branch.

[2022-07-11 10:16] ParisaTork commented on #695
Has this issue already been resolved?

[2022-07-15 06:29] destogl commented on #766
There is currently not a humble branch, but we prepared everything for branching out.

[2022-07-15 06:29] bmagyar commented on #767
thanks for bringing our attention to this

fixed in https://github.com/ros/rosdistro/pull/33864

[2022-07-15 06:29] #767 closed

[2022-07-15 06:31] destogl commented on #765
duplicate of #759

[2022-07-15 06:31] #765 closed

[2022-07-15 06:47] #766 closed

[2022-07-15 07:17] bmagyar opened #773 "Fix codecov reporting"
The codecov report have been restored recently but it seems that either uploading doesn't really work or it uploads the wrong thing.

See this chart on how it evolved:
https://app.codecov.io/gh/ros-controls/ros2_control

Or an example from 2 recent PRs:
https://github.com/ros-controls/ros2_control/pull/771#issuecomment-1183174864

https://github.com/ros-controls/ros2_control/pull/769#issuecomment-

[2022-07-15 09:48] #689 closed

[2022-07-15 12:01] destogl opened #774 "Rename parameter in mock_hardware/GenericSystem"
## Background

Rename `fake_sensor_commands` parameter to `mock_sensor_commands`.

Steps:

1. Deprecate `fake_sensor_commands`  --> if exist write deprecation message.
2.  Add new parameter `mock_sensor_commands`
3. Rename variable `fake_sensor_commands` to `mock_sensor_commands`.
4. Update demo repository with new setup.

## Instructions
Hi, this is a `good-first-issue` issue. This means we've wo

[2022-07-15 13:21] #764 closed

[2022-07-15 16:08] AndyZe opened #775 "Document the (optional) setting of realtime permissions"
Related to this PR:  https://github.com/ros-controls/ros2_control/pull/748

It would be nice if the thread priority could be set without `sudo`. The Linux manual says this:

On Linux, the RLIMIT_NICE resource limit can be used to define a
       limit to which an unprivileged process's nice value can be
       raised; see [setrlimit(2)](https://man7.org/linux/man-pages/man2/setrlimit.2.html) for d

[2022-07-15 16:26] gavanderhoorn commented on #775
Would you not want to allow the user starting the process access to the required resources by configuring the `ulimits` instead?

See [this](https://frankaemika.github.io/docs/installation_linux.html#allow-a-user-to-set-real-time-permissions-for-its-processes) for an example.

[2022-07-15 17:11] AndyZe commented on #775
OK, I'll change the issue title to suggest documenting that ^. Thanks

[2022-07-16 21:36] #531 closed

[2022-07-16 21:38] bmagyar commented on #475
This issue I believe I solved now. If you guys find any new occurrence please feel free to reopen this issue or create a new one :+1:

[2022-07-16 21:38] #475 closed

[2022-07-16 21:38] #445 closed

[2022-07-17 22:12] #318 closed

[2022-07-17 22:13] #277 closed

[2022-07-17 22:13] #199 closed

[2022-07-17 22:14] #263 closed

[2022-07-17 22:16] #363 closed

[2022-07-17 22:18] #362 closed

[2022-07-17 22:20] #564 closed

[2022-07-20 12:44] Tuebel commented on #674
I have struggled with a similar Problem, specifically with a KUKA iiwa, too. However I have only used ros_control in ROS 1 yet.
In my case the error was, that I reset the controller but forgot to reset the safety (saturation & soft) limits. These would override the controller commands and sent old commands. This caused very unsafe and jerky motions which triggered the limits on the KUKA controller

[2022-07-20 20:40] #775 closed

[2022-07-26 00:36] shonigmann opened #785 "Non-default controller_manager node names applied to spawned controllers"
**Describe the bug**
Setting the `controller_manager`'s node `name` at launch also overrides the name of any controller nodes spawned by the renamed `controller_manager`, ignoring names specified in either the spawner node or the yaml file.

This results in multiple nodes with the same name, issues with parameter scope, etc.

The root cause is probably this issue with rclcpp that's been open for 3

[2022-07-26 07:11] bmagyar opened #786 "Confusing feedback when loading controller from CLI"
**Describe the bug**
When loading a controller to a configured state, the CLI report
`Sucessfully loaded controller X into state active`
which isn't true. Either we need to revise the nomenclature of active/inactive or how we report things in `list_controllers`.

**To Reproduce**
Steps to reproduce the behavior:

1. Build ros2_control, ros2_controllers and ros2_control_demos from source.
2. Start

[2022-07-26 17:27] sshazly commented on #785
I was able to reproduce this error, but it seems to be more of an issue with how ros2 python launch system applies the new name to the node that is being launched. https://design.ros2.org/articles/static_remapping.html <-- in this document they talk about renaming a node with subnodes as part of the process.

The fix that I found will work is to pass another remapping for the ros2_control_node par

[2022-07-26 21:05] shonigmann commented on #785
this does solve the issue on my end as well, cheers!

[2022-07-26 21:05] #785 closed

[2022-07-30 07:12] destogl opened #789 "Move all operation about interfaces naming and using "/" as separator into handle.hpp so that are all in the one place."
Can we move this in utils namespace of `hardware_interface/handle.hpp` since there is also defined a rule that interfaces have "/" in their name. What do you think?

_Originally posted by @destogl in https://github.com/ros-controls/ros2_control/pull/758#discussion_r931284455_

[2022-08-01 14:54] gbartyzel opened #791 "Zeroing wrench data via SensorInterface"
Hello,
I'm trying to create a hardware interface for F/T sensor (like ATI or OnRobot). Both sensors have options for taring the F/T values via TCP/IP commands. However, using the SensorInterface I'm not able to send such a command to the hardware. What would be the best approach for implementing such functionality? Maybe creating a separate node that will receive raw wrench data and then forward i

[2022-08-02 09:32] VladimirIvan opened #793 "What is the suggested way to handle hardware intefaces running at different rates"
I have a few HW interfaces that run at higher rate (200Hz) and one interface that runs at a lower rate (30Hz). The slower interface does use blocking calls when performing `read()` and `write()` so it would limit high rate interfaces to 30Hz when called in the same control loop. I do need to run some controllers that talk to both the fast and slow interfaces at the same time so I can't run each in

[2022-08-02 12:56] bmagyar commented on #793
Hey @VladimirIvan indeed that is the currently recommended solution. We are (specifically @VX792  :D ) working on adding support for this exact thing but provided by the framework.

[2022-08-02 13:19] VladimirIvan commented on #793
Great! I don't have a better idea and I'm happy test your version too.
One thing worth considering is how the different rates will affect controllers. Especially if for example velocities are calculated using numdiff two repeated position states will mess this up. I'm guessing you would have encountered similar issues as with async controllers so whatever worked there should work here.

Keep up th

[2022-08-04 12:02] destogl opened #796 "Add `list_hardware_components` CLI"
## Background

Add CLI command for `list_hardware_components` service and make nice colored output of it.

See for example how `list_hardware_interfaces` CLI is done.

## Instructions
Hi, this is a `good-first-issue` issue. This means we've worked to make it more legible to people who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**

[2022-08-05 03:09] sirawats opened #797 "Backport #593 and #598 to foxy"
Request backport [Adding support for 'initial_value' parameter.](https://github.com/ros-controls/ros2_control/pull/593#top) and [Support of "initial_value" for the 'FakeSystem'](https://github.com/ros-controls/ros2_control/pull/598#top) to foxy branch

[2022-08-05 14:20] Cryoschrome opened #798 "Transmission interface"
Hi,
I have a stepper motor with 50:1 gear ratio that I am trying to move through MoveIt2! and ros2_control. Due to which I am getting the PATH_TOLERANCE_VIOLATION.  I am guessing to tell the controller about the gear ratio I need to utilize the transmission interface. If so, could you advice me on where I can find instructions to implement it.
I am using Ubuntu 22.04 and ROS humble and actuator ha

[2022-08-06 07:12] destogl commented on #652
This is a new specification.

Mimic structure should be added to `JointInfo`. If mimic is  `true`, then the joint may not have `command` interfaces.

[code]

If one wants to disable mimic behavior for some reason, they can still turn this functionality off by adding mimic="false" to the joint like so:

[code]

[2022-08-09 17:21] Serafadam commented on #796
Hey, a week ago I posted on [colcon-core](https://github.com/colcon/colcon-core/issues/523) repository with an idea to use [rich](https://github.com/Textualize/rich) library from python to improve readability of colcon's output, maybe this could also be applied here?

[2022-08-10 13:31] Cryoschrome commented on #798
Can someone please provide support on how to implement transmission interface?

[2022-08-11 08:16] Llavrih opened #800 "Wrong package arrangment"
**Describe the bug**
I am including #include <controller_manager/controller_manager.hpp> in my cpp program. When trying to build the pkg
I get the error:
```fatal error: controller_manager_msgs/srv/configure_controller.hpp: No such file or directory```.
As I checked there is a problem with package arrangment in /opt/ros/humble/include/controller_manager_msg

[code]

**Environment**
 - OS: Ubuntu 2

[2022-08-20 21:28] Tobias-Fischer opened #803 "Compilation on osx and windows fails"
**Describe the bug**
After https://github.com/ros-controls/ros2_control/pull/748 which uses a Linux only method without any guards, compilation on platforms other than Linux fails.

**To Reproduce**
Try compile the project on osx or Windows, observe errors.

**Expected behavior**
Project should compile.

**Environment (please complete the following information):**
 - OS: Any other than Linux
 - Ve

[2022-08-21 06:56] bmagyar commented on #803
I've changed the label as we don't really support anything other than Linux. The main reason for this is the lack of CI. You can't reliably keep a platform supported without CI backing it up.

If you'd like to fix the compilation, we are happy to review your PRs.

[2022-08-21 07:00] gavanderhoorn commented on #800
I believe this is actually as-intended. Refer to https://github.com/ros2/ros2_documentation/pull/2915 for the update to the Humble documentation.

[2022-09-01 21:25] GilmarCorreia opened #807 "How to delete controller manager correctly?"
Hello ROS developers,

I am developing an application that needs both configure and delete ROS2 controllers. I am trying to figure out the best way to delete a controller manager node. Which is the best practice?

Creation methods:
[code]

deletion methods:
[code]

But, If I try to delete this error message shows up:

[code]

Is that the correct way to do that? Thank you.

**Environment:**
 - OS:

[2022-09-05 16:32] destogl commented on #807
I understand that you want to deactivate and unload controllers, but why do you want to delete controller manager? That is rather unusual use-case.

This error message is probably caused by the resource manager that is also loaded. So before deleting controller manager, you should also deactivate and unload hardware components. To set hardware state it's easy and there is interface for it, but for

[2022-09-07 07:41] yeyanlei opened #808 "ros2_control_node.cpp real time problem"
**Describe the bug**
There are is a problem about ros2_control, i found that the ROS_Control_node would suddenly jitter (like 3ms), the set period is 1ms. The system environment is ubuntu 22.04, ros2 humble, kernel 5.15.55-rt with Preempt_rt patch. Fifo mode, priority is 90. i have posted  serveral pictures. system max jitter is less than 50us.
print result
[ros2_control_node-1] ==================

[2022-09-08 03:26] yeyanlei commented on #808
@bmagyar @destogl Can you help me check this problem or give me some suggestions

[2022-09-09 09:38] yeyanlei commented on #808
I find that update() causes a large time delay (like 2ms, even bigger, the cycle time is 1ms).

[2022-09-10 19:00] destogl commented on #808
Hi @yeyanlei,

the way you are measuring time could cause jitter, since you are using "print" functions on each run. Do you get output that Preempt Kernel is used? It should be automatically recognized in the master version. Also, what controllers are you running? We would need your exact system setup to know what could cause the issue. This mean, which hardware drivers are used, which controllers

[2022-09-11 03:03] yeyanlei commented on #808
@destogl I have located this problem, latency occurs in update (),  controller_manager.cpp, update() function(). I post printed time series. Large time delay will occur in t2-t1 (like400us). using controller is joint_trajectory_controller. Preept Kernel is used. The timing of read() and write() functions can be guaranteed.

controller_interface::return_type ControllerManager::update(
  const rclcp

[2022-09-11 07:17] yeyanlei commented on #808
@destogl joint_trajectory_controller(arm_controller) generates a large delay.
the system includes three controllers, arm_controller(joint_trajectory_controller), hand_controller(joint_trajectory_controller), and joint_state_broadcaster.
![2022-09-11_15-07](https://user-images.githubusercontent.com/36154470/189516532-25d8727d-c455-4ac3-bf35-624988443134.png)

[2022-09-16 02:34] yeyanlei commented on #808
@destogl  At present, the problem has been preliminarily solved. I directly use joint_ trajectory_ The controller source file， obviously reduces the robot jitter. I suspect that “sudo apt install ros humble joint trajectory controller” has some problems.

[2022-09-16 02:41] yeyanlei commented on #808
Using sudo apt install ros-humble-joint-trajectory-controller, sometimes the program execution time is 2000-3000us. using source  file joint-trajectory-controller master,  sometimes the program execution time less than 500us.

[2022-09-20 12:41] jaron-l commented on #750
I decided to keep it in its own repository at [ros-controls/ros2_rhel](https://github.com/ros-controls/ros2_rhel).

[2022-09-20 12:41] #750 closed

[2022-09-21 18:20] destogl opened #815 "Add additional return value to the hardware_interface::return_type"
That's exactly what I am thinking too. So we call it "SKIPPED" instead of "NOT_EXECUTED". Is this correct?

_Originally posted by @destogl in https://github.com/ros-controls/ros2_control/pull/805#discussion_r963418990_

[2022-09-23 09:34] Yadunund opened #817 "initial_value params for state interfaces not respected"
## Background
Hi all,

My setup is as follows:
* Ubuntu 22.04
* ROS 2 Humble installed via binaries
* ros2_control and ros2_controllers installed via binaries

I've been using the `JointTrajectoryController` to command a couple of ABB industrial robots. I'm using [this](https://github.com/PickNikRobotics/abb_ros2) hardware interface implementation. I notice that once the controller starts and the

[2022-09-24 06:46] bmagyar opened #818 "Optimization: this is a search in a for loop..."
this is a search in a for loop... could this be implemented somehow using a more flat mapping by any chance? please feel free to say that I'm asking for impossible or very tedious things

_Originally posted by @bmagyar in https://github.com/ros-controls/ros2_control/pull/805#discussion_r962297766_

[2022-09-26 11:18] tonynajjar commented on #591
Happy to see I wasn't the only one annoyed by the *pyc files generated every time I test my code. The user could create his own gitignore but I think it would make sense to have a gitignore for the project (like in [Nav2](https://github.com/ros-planning/navigation2/blob/af72761f626d8a6bd172d3a05ad070672b51f36c/.gitignore#L45)). You wouldn't want anyone pushing *.pyc by mistake, it's especially use

[2022-09-26 11:28] tonynajjar opened #819 "Publish controller states to diagnostics"
**Is your feature request related to a problem? Please describe.**
We use ROS diagnostics as a way to monitor our system and ros2_control does not expose anything to diagnostics

**Describe the solution you'd like**
As a start we could publish the controllers state to diagnostics.

[2022-09-26 11:31] tonynajjar commented on #819
I started a draft here: https://github.com/ros-controls/ros2_control/pull/820

[2022-09-29 10:20] ijnek opened #825 "test_load_controller tests passing regardless of missing controller plugin"
**Describe the bug**
I'm trying to add a new controller, and following [Writing a new controller](https://control.ros.org/master/doc/ros2_controllers/doc/writing_new_controller.html), and wrote the ``test_load_*`` test before exporting the controller as a plugin (following TDD).
Now, my plugin should fail the test because I haven't exported it as a plugin, but the test_load_* tests pass regardless

[2022-10-01 12:30] #819 closed

[2022-10-01 12:32] destogl commented on #825
Are you sure that the controller was not exported at some time before?
I have rather different experience that we get false positives than false negatives on this test.

[2022-10-01 12:33] destogl commented on #825
I'll close this because it is unclear if there is really an issue in our library or your code. You are welcome to continue commenting and reopen when you are certain that there is an issue in controller manager.

[2022-10-01 12:43] destogl commented on #817
This is definitely not the behavior you want to have. So, what happens is that JTC gets the initial values from hardware interface after it is started. If those values are wrong, then this can happen.
Please do the following to debug this:

1. Which version of JTC/ros2_control are you using?
2. what are the values on `/joint_states` topic before you activate JTC? Are they 0? If yes, then HW interf

[2022-10-01 12:47] destogl commented on #808
Ok, great! Yes, we did some improvements recently, and they are not yet synced to the humble release. Glad that you solved the problem.

I'll close this. You are welcome to reopen is needed.

[2022-10-01 12:47] #808 closed

[2022-10-01 12:55] destogl opened #827 "[CM-Tests] Spawner/Unspawner tests are failing because unloading of controller is not correct."
**Describe the bug**
When running test where controller is unloaded and loaded again, those are failing because publishers are still registered for that node.

See this log: https://github.com/ros-controls/ros2_control/actions/runs/3160695031/jobs/5151413723#step:6:7240
 The error happens in `test_spawner_unspawner.cpp` file in line 122. Output when running tests locally is:

[code]

**To Reproduc

[2022-10-02 12:14] destogl commented on #800
This arrangement is correct, what maybe is not correct that we are not exporting properly dependent packages.

OK, [this](https://github.com/ros-controls/ros2_control/blob/master/controller_manager/CMakeLists.txt#L194) and [this](https://github.com/ros-controls/ros2_control/blob/master/controller_manager/CMakeLists.txt#L11) line show that we are exporting them correctly.

Did you solve the issue?

[2022-10-02 12:14] #800 closed

[2022-10-02 12:16] destogl commented on #798
Transmission interface has to be implemented on hardware side not on the controller side. To be able to help you, you should provide many more details. From your description, I have no idea what is your issue.

[2022-10-02 16:33] Nils-ChristianIseke opened #831 "Hyperlink broken: Templates and scripts for generating controllers shell"
**Describe the bug**
The hyperlink to Templates and scripts for generating controllers shell in the documentation is broken: https://control.ros.org/master/doc/ros2_control/hardware_interface/doc/writing_new_hardware_interface.html

[2022-10-03 22:01] vectorcrumb opened #832 "Segfault when using ROS topics"
**Describe the bug**
I'm working on porting a hardware interface from ROS2 Foxy to Humble. The interface is used to communicate over ROS topics with ros2_socketcan to control four motors on the CAN network. However, when calling `publish` to send a CAN control package on a LifecyclePublisher object within a LifecycleNode belonging to a `hardware_interface::SystemInterface` object, I get a segfault

[2022-10-05 21:54] destogl commented on #832
There are many changes in how nodes are handled between Foxy and Humble. Our main change is a switch to LIfecycleNode that handles publishers a bit differently. Still, this doesn't explain segfaults.

Since this usage is *strongly discouraged*. And we don't have actual access to the code, I don't know how I can help you (except you want to professional support, but this is not the right channel fo

[2022-10-05 21:54] #832 closed

[2022-10-05 23:50] vectorcrumb commented on #832
Hi, thanks for the answer. And I'm really sorry about the `bug` label, I should've removed it before posting, because as you say, it is most likely an issue with my implementation.

So in summary, hardware interfaces don't have the same capabilities as a LifecycleNode, they simply use that interface to interact with ros2_control. Creating a LifecycleNode subclass member inside a hardware interface

[2022-10-07 07:16] marioesteban11 opened #834 "Error while compiling ur_calibration package"
Hi,

This error shows up when I`m trying to compile this workspace following the README Instructions.

This is the error that shows up when im trying to compile this workspace using;

# colcon build --cmake-args -DCMAKE_BUILD_TYPE=Release

ERROR:

## --- stderr: ur_calibration
/usr/bin/ld: /home/marioest/workspace/ros_ur_driver/install/ur_robot_driver/lib/libur_robot_driver_plugin.so: undefined re

[2022-10-10 15:33] #834 closed

[2022-10-10 20:36] #831 closed

[2022-10-11 07:49] #774 closed

[2022-10-11 13:47] Yadunund commented on #817
Hi @destogl,

Many thanks for the reply and apologies for the late follow up, I wasn't subscribed to repo notifications and just enabled that.

1. I'm using the latest humble binaries

2. I will double check this by tomorrow and get back to you. I suspect this is what is happening.

[2022-10-21 14:48] destogl commented on #624
We go with ‚plugin_name‘

[2022-10-23 23:31] bmagyar opened #847 "time out ros2_control_node if delayed in start"
Discussion opener is the link below, an issue I came across again this morning and I think it's be fairly simple to add some co figurable delay so people can flag up if they expect the hardware to start but it hasn't yet:

https://github.com/ros-controls/ros2_control_demos/issues/134#issuecomment-920701627

[2022-10-24 02:06] bmagyar commented on #847
What do you think @destogl ?

[2022-11-05 08:04] bmagyar commented on #609
https://github.com/ros-controls/ros2_control/pull/813

[2022-11-05 16:25] danzimmerman opened #850 "Update rate must be an integer?"
**Describe the bug**
In a simple controller package using `generate_parameter_library`, using a floating-point number in an `update_rate.yaml` file throws an error that the update rate param must be an integer.

[code]

**To Reproduce**
Steps to reproduce the behavior:
 * Possibly can be triggered in other packages by finding the update rate YAML file and changing the rate to a floating-point valu

[2022-11-05 16:27] danzimmerman commented on #850
Works just fine with an integer update rate parameter:

[code]

[2022-11-07 14:04] AndyZe opened #851 "The diagnostic_updater locks controllers with a mutex"
As added in this PR:  https://github.com/ros-controls/ros2_control/pull/820

[code]

This is likely to have a negative effect on realtime performance.

[2022-11-07 19:56] destogl commented on #851
I don't understand the issue here. The mentioned statement is used in all callbacks since it is the way to fix the controllers lists to not change when reading data from non-realtime loop. This only disables loading of new controllers ([see this line](https://github.com/ros-controls/ros2_control/blob/master/controller_manager/src/controller_manager.cpp#L963)) which is also a procedure not relevant

[2022-11-07 19:58] AndyZe commented on #851
OK, good. It's not clear from the comment, without knowing exactly what it does beforehand (like you do). Obviously locking controllers sounds dangerous

[2022-11-07 19:58] #851 closed

[2022-11-08 05:49] destogl commented on #851
No problem, thanks for asking. It does not lock controllers, but the lists where those are stored.

[2022-11-11 07:02] destogl opened #853 "Make sure that controllers are properly sorted and executed in a chain"
**Is your feature request related to a problem? Please describe.**

When loading controllers that are part of the chain, they have to be loaded in a certain order. Otherwise, there could be a lag in execution.

**Describe the solution you'd like**
Controllers are resorted in a proper order and calculations are correct.

**Additional context**

Check doc about controllers' chaining here: https://gi

[2022-11-11 07:03] sgmurray commented on #853
I will work on this.

[2022-11-15 21:52] bmagyar commented on #850
hey,

I took a quick look and it seems that [this](https://github.com/ros-controls/ros2_control/blob/1ceb627c36725b91c8141808fb231a15e9a4b3c0/controller_interface/src/controller_interface_base.cpp#L36) happened at some point. This probably overrides the one from `generate_parameters_library`?

[2022-11-15 22:12] bmagyar commented on #807
Calling the constructor by hand in C++ is always a red flag. Closing this for now due to lack of clarity and activity.
Feel free to reopen.

[2022-11-15 22:12] #807 closed

[2022-11-16 05:08] danzimmerman commented on #850
Yeah, changing that definitely isn't enough, and now that I poke around a little more it seems like the update rate just needs to be an integer throughout.

https://github.com/ros-controls/ros2_control/search?q=update_rate_

In `controller_interface_base.cpp` it's also treated as an integer [here](https://github.com/ros-controls/ros2_control/blob/1ceb627c36725b91c8141808fb231a15e9a4b3c0/controller

[2022-11-17 15:48] #609 closed

[2022-11-17 18:38] destogl opened #856 "Address API changes in `ros2param` package when using parameters checks and calls"
This is the relevant issue for `spawners` and `rqt_controller_manager`

We should also address the following API changes in `ros2param` package:

- [ ] https://github.com/ros2/ros2cli/pull/716
- [ ] https://github.com/ros2/rclpy/pull/945/files

This means, we should probably use service client from `rclpy` and not `ros2param` package. At least in some cases.

_Originally posted by @destogl in http

[2022-11-17 18:41] destogl opened #857 "[RQT Controller Manager] Add `cleanup` transition"
## Background

When you want to update controller's parameter but not actually reload controller, it is useful to `cleanup` it first and then `configure` it again. Doing this from the GUI would be great! Check #813 for details how to extend the implemenation.

## Instructions
Hi, this is a `good-first-issue` issue. This means we've worked to make it more legible to people who either **haven't cont

[2022-11-17 18:59] destogl commented on #847
We should actually do the following:

1. Load URDF at start (as we are doing)
2. Don't start hardware components automatically at all and never (this is already a feature)
3. Create “spawners” for hardware components so that the loading and configuration of hardware (when communication should be created at latest) is in a separate thread than the main loop.

Advantages of this approach:

1. CM wil

[2022-11-17 19:10] destogl commented on #817
@Yadunund and news?

[2022-11-17 19:10] #817 closed

[2022-11-17 19:11] destogl commented on #798
Closing this because it is rather set up issue without activity. @Cryoschrome feel free to reopen.

[2022-11-17 19:11] #798 closed

[2022-11-17 19:25] #850 closed

[2022-11-18 02:12] Yadunund commented on #817
Thanks @destogl, I think this is most likely an issue with the implemented hardware_interface.

[2022-11-18 07:45] Yadunund commented on #817
The issue is indeed with the `hardware_interface` implementation. I've documented the problem with the implementation here https://github.com/PickNikRobotics/abb_ros2/issues/44. The `initial_value` param in the ros2 control xacro works as expected when the `hardware_interface` is working properly 👍🏼

[2022-11-21 18:48] christophfroehlich commented on #652
I missed the updates on this thread in summer somehow. The specification looks good to me.
Just to be sure: As I understand the URDF specification, `<mimic>` means that the position is mimicked? So we have to implement a position-mimic independent of the command interface type of the mimicked joint?

[2022-11-22 03:33] joshjowen opened #859 "Update rate incorrect if using sim time"
**Describe the bug**
When the 'use_sim_time' parameter is set, the ros2_control_node's main loop runs at a rate different then what is provided to the 'update_rate' parameter. In my case, update_rate is set to 100 Hz and the loop runs at ~2.5 kHz.

**To Reproduce**
With a simulated robot and the /clock topic available
Steps to reproduce the behavior:
1. Set up the controller manager with the updat

[2022-11-24 16:48] muttistefano opened #860 "Error in state! Internal state_handle is NULL."
Ubuntu 22.04 , Rolling
Just updated ros2_control from the rolling repository and now doesn't work anymore

The error is :

[code]

Gdb shows :
[code]

Is someone experiencing the same error ?
Thanks

[2022-11-24 17:18] muttistefano commented on #860
Cleaning and building the workspace fixed it

[2022-11-24 17:18] #860 closed

[2022-11-26 11:14] christophfroehlich commented on #652
hi @destogl. I'd like to work on that issue, and you offered help in the other issue where to start from..
As you suggested in the initial post in this issue, I'd start here?
https://github.com/ros-controls/ros2_control/blob/master/hardware_interface/src/component_parser.cpp#L546

[2022-11-27 10:23] bmagyar opened #862 "Eliminate deprecation warnings"
## Background

The type used for ROS2 Quality of Service definition was deprecated recently. We have some warnings in the codebase due to that. Follow the notes from the error message to eliminate these deprecation warnings.

Print from the `controller_manager` build for reference:

[code]

Specifically:
[code]

## Instructions
Hi, this is a `good-first-issue` issue. This means we've worked to mak

[2022-11-27 19:18] destogl commented on #859
Hi @joshjowen,

thanks for this report. Yes, this could be an issue. And you are right about usage of steady clock. I think we have this change in an open PR by @AndyZe about `realtime.hpp` file in `hardware_inteface` folder. what we have to check if we are then using "proper" time in ROS and not braking controllers when communicating with other nodes. Have you tested input of commands when using