[2017-09-15 15:41] Karsten1987 opened #1 "Import ros2_control"
Top Level issue referencing all pending PRs

[2017-09-19 08:48] bmagyar commented on #1
Thanks Karsten! All merged and ready to demo ;)

Even though it is only demo mode I have one comment that should be sorted: `visibility_control.h` is duplicated in all packages. This is something that should make it into a core ROS2 package and probably even included with a `#include <ros2/ros2.h>`

[2017-09-19 08:49] bmagyar commented on #1
@Karsten1987 Please add a short summary & steps to compile and set up to the readme .

[2018-01-12 02:15] znstj opened #7 "build error"
controller_parameter_server/parameter_server.hpp:28:40: error: ‘rclcpp::node’ has not been declared
 class ParameterServer : public rclcpp::node::Node

[2018-06-04 19:51] parthc-rob commented on #7
I have the same error when trying to build these packages using ament in my ROS2 workspace.
@Karsten1987 please detail steps for a successful build.

[2018-06-12 09:42] znstj commented on #7
I change something,and build succes.
but this package only a demo about ros_control.
I can't use it do something.

[2018-06-12 09:49] Karsten1987 commented on #7
Sorry for being late here. I'll have a look it ASAP. We recently changed the namespaces in `rclcpp` and `rclcpp::node::Node` became `rclcpp::Node`. I'll revise these packages.

[2018-06-12 17:28] parthc-rob commented on #7
Thanks for the pointer, please check out [this PR](https://github.com/ros-controls/ros2_control/pull/8)
Build still fails but for a different reason. I'm not sure what's going wrong. Sorry, this is my first PR, let me know of any improvements I can make.

[2018-06-14 07:36] znstj commented on #7
You can test  build only one package,and find bug:
ament build --only-packages hardware_interface.
and next controller_interface,controller_manager,controller_parameter_server,and test_robot_hardware.
if you cann't build that,give me you E-mail,I can send for you the package I fixed the bug.

[2018-06-14 12:52] parthc-rob commented on #7
@znstj Thanks, but to clarify, I've fixed the issue myself for ros2_control in ros-controls/ros2_control#8
 The current ros2_control + ros2_controllers packages were probably made for [`rclcpp 0.0.3`](https://github.com/ros2/rclcpp/commit/ed26865b7118a4789717212b04853775e59fc423) based on the timing of the commits.

I'm now trying to debug ros-control/ros2_controllers since that is the package you

[2018-06-20 07:35] Karsten1987 commented on #7
@parthc-rob I opened a PR to your PR in order to make it compile with the latest ROS2 master.
You may want to accept them in order to update your top-level PR, so that the one PR make it compile.

[2018-06-20 16:57] parthc-rob commented on #7
@Karsten1987 Thanks a lot! Updated my PR's.

[2018-06-22 10:18] Karsten1987 commented on #7
I just merged the two open PRs. Thanks for contributing.

Please note, that this current master only builds against ROS2 master, built from source.
There is a new ROS2 release coming up soon, from which one I'll start tagging and branching the two repos here as well.

[2018-06-22 10:18] #7 closed

[2018-06-22 10:18] Karsten1987 opened #9 "ros_controllers trajectory controller test fails"
The trajectory controller tests currently fails which the change to the ROS2 master time/clock interface.

[2018-06-22 10:19] #9 closed

[2018-06-22 12:50] parthc-rob commented on #7
Thanks for taking the PRs to completion! Hope to make some more soon.

Yeah I tried compiling with Ubuntu 16.04/ros2-ardent but noticed the commits you made were geared towards the 18.04/ros2-bouncy release. Docker containers will do the job for now.

[2018-09-08 21:38] qkx515 opened #10 "How to use ros2_control?"
I would like to try real-time control in ros2. The only thing I find about ros2 control is this repository. However, I cannot find anything that explain how to use this. Could any one please give me a little hint?

In ros2 demo about pendulum_control, it seemes that they wrote their own code. Does this mean we still don't have a ready-to-use ros2-control? Thank you very much! :-)

[2018-09-10 17:01] #1 closed

[2018-09-10 17:14] Karsten1987 commented on #10
The ros2 realtime demo is not strictly related to this repo. That demo shows the new features of ROS2, i.e. custom/rt memory allocator and the intraprocess communication.

The ros2_control repos were mainly developed for a demo. So you're right that there is no ready-to-use ros2-control with the same capabilities as in ROS1. However, I still believe this is the right starting point here and I appr

[2018-09-10 17:41] qkx515 commented on #10
A readme would be awesome! Thank you very much.

One thing I don't understand is that the developers seem to have tried to migrate ros_control.

It is said on [Beta3 Overview](https://github.com/ros2/ros2/wiki/Beta3-Overview) that they have tried
* Experimental rewrite of ros_control

But it seems that they stopped that progress somehow.

---

You must be a expert in ros_control. I would really ap

[2018-09-12 11:45] #10 closed

[2018-11-12 17:17] chapulina commented on #1
As indicated on the README, the code in this repository is still a proof of concept. It may be worth it ticketing issues listing what's left for this to be recommended for use. Will there be a Crystal release?

[2018-11-15 19:40] bmagyar commented on #1
We don't have anyone currently working on `ros2_control` but we'd gladly welcome merge requests or even a new maintainer for that role. I personally won't be able to dedicate time to it until next year.

[2018-11-16 12:01] GavinStrunk commented on #1
@bmagyar @chapulina Hey I have been looking at this repo thinking I would be interested in contributing and maintaining it.  I would definitely like some help in terms of defining a roadmap, because it is a little unclear to me what people would like out of this compared to ros_controls beyond using some of the new functionality in ros2. Do you have a recommendation on how people have setup this t

[2018-11-16 17:52] chapulina commented on #1
Maybe a discourse post with some ideas and asking for feedback from the community could be a good starting point. It would also be nice to describe the current state of the code and what's missing - maybe @Karsten1987 has the most context?

[2018-11-16 18:41] bmagyar commented on #1
We'd like to move much of the existing codebase under ros2_control. Can we
get a hangouts together with the three of us?

On Fri, 16 Nov 2018, 17:52 chapulina <notifications@github.com wrote:

[2018-11-16 21:55] GavinStrunk commented on #1
Yea sounds good to me. I'm pretty flexible in the next week so if there is a day and time that works for both of you I can make it work. I'm on Eastern US time zone.

[2019-01-23 00:07] Karsten1987 opened #11 "ownership of this repo"
@bmagyar Can you grant me ownership for this repo here? I'd like to set up with travis for the two ros2 control packages.

[2019-01-23 06:44] bmagyar commented on #11
Done for both this and the ros2_controllers repo :+1:

[2019-01-23 16:01] #11 closed

[2019-04-13 23:09] samiamlabs opened #12 "ros_canopen integration"
Hi,

I'm working on porting [ros_canopen](https://github.com/samiamlabs/ros_canopen/tree/crystal-devel) to ROS2 and on adding CANopen 402 support to [ODrive](https://odriverobotics.com/).

The overall goal is to make a cheap open-source motor control solution for custom robots with a large number of brushless motors on the same CAN bus. Hopefully at a high enough frequency for dynamics based "oper

[2019-04-15 05:33] bmagyar commented on #12
The steps will be slightly different for ROS and ROS2 as the latter is very much still in a proof of concept phase. On the ROS side you should be fine and I can definitely recommend using the gazebo plugin for inspiration.

This repo contains a reimplemented proof of concept of ros_control for ROS2. It should cover all the basic needs for a simulation, don't see any blockers for you.

[2019-04-28 16:39] samiamlabs opened #13 "Purpose of controller_parameter_server?"
Hi,

Is there some specific reason parameters are loaded using the custom ```controller_parameter_server``` package instead of how it is done in [nav2_bringup](https://github.com/ros-planning/navigation2/tree/a396dc5e575b07114545b350915739bf8e705cb7/nav2_bringup) for example.

Did that method of loading parameters not exist when you started working on this?

[2019-04-28 22:56] Karsten1987 commented on #13
That's exactly the reason for it. Parameters weren't as evolved as they are right now. I'll hope to have some spare time to work on this in the future. But I am also happy to review a PR for this :)

[2019-04-28 22:57] #13 closed

[2019-05-07 21:51] Karsten1987 commented on #12
I am closing this issue as I hope @bmagyar was answering your questions. Feel free to re-open it and discuss further if you've still got uncleared questions.

[2019-05-07 21:51] #12 closed

[2019-05-07 22:14] samiamlabs commented on #12
I have made some progress on the ros_canopen integration. Not sure if it makes sense to have this as an issue here though. Probably better to open more specific issues related to relevant repositories.

Will probably be adding support for effort and velocity command interfaces in my fork soon to support additional control modes available on CANopen 402 motor drivers. Do you prefer I make these typ

[2019-05-07 22:18] Karsten1987 commented on #12
I am happy to review any pull request. I believe it makes sense that you open the PR whenever you feel that it's in a some-what reviewable state and we take the discussion from there.

[2019-05-07 22:20] samiamlabs commented on #12
Ok, will do :)

[2019-07-09 08:18] rjshim opened #17 "JointStateController with Gazebo"
Hi,

I would like to ask how to use joint_state_controller to position-control a robot on the Gazebo simulator. It will be very nice if there is a demo example I can refer to (like [this](http://gazebosim.org/tutorials/?tut=ros_control) in ROS1).

Thank you in advance,
Ryan

[2019-07-25 13:53] KevinHwangAi opened #18 "When will the Dashing version of ros2_control be released?"
I'm tring to use Ros2 dashing version to develop my robot. When will the Dashing version of ros2_control be released?

[2019-08-05 06:16] reso1 commented on #18
Same question here.

[2019-08-05 16:56] Karsten1987 commented on #18
Thanks for the reminder. I’ll take it on my todo list to branch off and release it by the end of the week :)

[2019-08-06 01:48] reso1 commented on #18
Thanks and appriciate your work and the ROS2 team!

[2019-08-08 05:08] Karsten1987 commented on #17
There is currently no gazebo_ros_control plugin. I think the gazebo_ros_pkgs currently don't support that.
@chapulina, is that right? (sorry for randomly tagging you)

[2019-08-08 05:12] rjshim commented on #17
@Karsten1987

I posted this issue last month when I didn't know there is no substitute for it yet. I will wait for it to be ported and released.

Regards,
Ryan

[2019-08-08 07:21] Karsten1987 commented on #18
I've opened #19 which is WIP for dashing. I have to work on the tests (new parameter API etc) and actually would love to re-iterate it a bit longer to address some of the applied workarounds at the time of writing this code (bouncy).
So I am a bit torn to release as-is for dashing without being able to break API later on.

[2019-08-08 15:57] chapulina commented on #17
We're waiting on an official `ros2_control` release before porting `gazebo_ros_control` to ROS 2. It's my understanding that the current implementation is a [proof of concept](https://discourse.ros.org/t/ros-control-in-ros2-wishlist/7803/28), so we're waiting for something more stable.

Here's the issue tracking this on `gazebo_ros_pkgs`' side: https://github.com/ros-simulation/gazebo_ros_pkgs/iss

[2019-08-08 16:19] bmagyar commented on #17
I wouldn't advise to wait for anything brand new on that front soon. We are in the process of porting the satellite packages over and there's plenty of work done and to be done still. The main packages will take more time. I recommend bodging together some gazebo support for @Karsten1987 .

[2019-08-09 00:31] chapulina commented on #17
From #18, it sounds like the current codebase is going to be officially released soon. In that case, we could start working on Gazebo integration after on top of the release. Once the full rewrite comes up, we can look into integrating that as well.

[2019-08-20 23:43] Karsten1987 commented on #18
I've just re-iterated over the dashing parameter design in #19.
The essential here is that the global ParameterServer is not being used but parameters set directly at each node, a.k.a controller.
@reso1 If you feel like, you can check out the two `dashing_update` branches and give it a shot.If not, I'd release a first version of this on Friday for dashing.

[2019-08-25 10:30] reso1 commented on #18
Thanks, Karsten. I'll try both versions, it is very helpful for me!

[2019-12-16 17:19] piraka9011 opened #21 "As a ros2_control developer, I want to have CI for my PRs so I can maintain the quality and stability of my contributions"
## Design Requirements

* Add the [`action-ros2-ci`](https://github.com/ros-tooling/action-ros2-ci) Github action to run on pull requests and create a:
  * [ ] Build and test workflow
  * [ ] Linting workflow

[2019-12-16 17:22] gavanderhoorn commented on #21
I don't have any particular preference, but seeing as `ros-controls/ros_control` is using `industrial_ci`, I thought I'd mention the ROS 2 and Github Actions support of the refactored version.

Actions specifically mentioned here: [ros-industrial/industrial_ci/readme: Quick Start - For GitHub Actions](https://github.com/ros-industrial/industrial_ci/tree/master#for-github-actions).

[2019-12-16 17:32] piraka9011 opened #22 "As a ros2_control developer, I want up to date documentation so I can easily understand how to develop my robotics controller"
## Design requirements

Create a new `docs` directory with Doxygen setup.

* [ ] Create the Doxygen config file
* [ ] Generate HTML output and test with Github Pages

## Resources

* [Getting Started with Doxygen](http://www.doxygen.nl/manual/starting.html#step1)

[2019-12-16 17:36] piraka9011 commented on #21
@gavanderhoorn Interesting, I did not realize they had ROS2 + GH action support.
I don't how well their ROS2 distros are supported but I don't mind using that instead for consistency.

[2019-12-16 17:40] gavanderhoorn commented on #21
whose?

[2019-12-16 17:41] piraka9011 commented on #21
Sorry, I meant the `ros-industrial/industrial_ci`.

[2019-12-16 17:42] gavanderhoorn commented on #21
Afaik, all distros. It's docker based. But I'll wait for @ipa-mdl to comment on this.

[2019-12-16 17:52] ipa-mdl commented on #21
Yep, all distros.  Even the officially unsupported ones (indigo and newer).

[2019-12-16 17:54] gavanderhoorn commented on #21
Also all ROS 2 distros, correct?

[2019-12-16 18:00] ipa-mdl commented on #21
Of course :sunglasses:
All ROS distros (ROS1 and ROS2) since indigo

[2019-12-16 18:05] piraka9011 opened #23 "As a ros2_control developer, I want unit tests for my packages so I can catch regressions and failures"
## Design Requirements

`ros2_control` currently lacks some unit tests for various packages

Specifically:

* [ ] Controller interface
  * [ ] Create a fake controller and test methods.
  * [ ] Mock the robot hardware and lifecycle node.
* [ ] Hardware interface
  * [ ] Create a fake robot and test methods.
  * [ ] Create a fake `OperationModeHandle` and test methods.
  * [ ] Create a fake `JointC

[2019-12-16 18:17] piraka9011 opened #24 "As a robotics developer, I want to control my robot using position, velocity, or torque so I can use different controllers"
## Design requirements

The implementation for an interface that can read/set the position/velocity/effort/torque of a robot can be found in the `hardware_interface` package.

This issue will be used to track whether there are certain features missing such as proper error handling, logging, or potentially new features such as acceleration. This issue will most likely upgrade into an Epic

* [ ] Ex

[2019-12-16 18:41] piraka9011 opened #25 "As a robotics developer, I want to load my robot controller configurations from a YAML file so I can tune my robot parameters"
## Design Requirements

ROS2 does not have a parameter server per se, however, a node based parameter server can be implemented.
An initial implementation of the parameter server can be found in [controller_parameter_server/include/controller_parameter_server/parameter_server.hpp](https://github.com/ros-controls/ros2_control/blob/crystal/controller_parameter_server/include/controller_parameter_ser

[2019-12-16 19:36] piraka9011 opened #26 "As a robotics developer, I want to specify the limits of my robot's joints so I can ensure safe operation of my robot"
## Design requirements

Create a `joint_limits_interface` that ensures joint commands never go over certain thresholds.

* [ ] Limits can be defined from parameters
* [ ] Limits can be defined programatically

## References

* ['ros-controls/ros_control`'s `joint_limits_interface`](https://github.com/ros-controls/ros_control/blob/melodic-devel/joint_limits_interface)
* [Windows STL conflicts with

[2019-12-17 18:45] bmagyar commented on #21
Since its industrial-CI is docker-based, I suppose we can expect all the
Linux coverage however what about Windows builds? Given the amount of macro
magic we may need to add to cmake, we should validate on a Windows build
too.

On Mon, 16 Dec 2019, 18:00 Mathias Lüdtke, <notifications@github.com> wrote:

[2020-01-13 08:02] bmagyar opened #27 "Create Eloquent branch"

[2020-01-13 08:06] bmagyar commented on #27
FYI @jordan-palacios @piraka9011 @Karsten1987

[2020-01-13 08:55] bmagyar commented on #23
It would be great if codecov could also be added to the loop with an output similar to https://github.com/fkie/catkin_lint/pull/76#issuecomment-573559415

[2020-01-13 21:14] Karsten1987 commented on #27
that eloquent branch is already existing: https://github.com/ros-controls/ros2_control/tree/eloquent

[2020-01-13 21:14] #27 closed

[2020-01-14 07:34] bmagyar commented on #27
Yup, I've opened this issue, pushed the branch and tagged all of yous to notify :) thanks for closing

[2020-01-14 07:43] Karsten1987 commented on #27
Just out of curiosity. Why did you create it? It’s currently on par with crystal and neither this one nor dashing has any updates.

[2020-01-14 07:52] bmagyar commented on #27
We'll put the rosin work here that are all potentially breaking changes, didn't want to disturb those more stable releases.

[2020-01-14 08:50] bmagyar opened #28 "As a robotics developer, I want to use the control_toolbox in my controllers"
# Design requirements
Port the classes and functionalities of `control_toolbox` over to ROS2.
Some sanitization may be required along the way: if math-specific interfaces were less tangled with ROS-specific interfaces, both the porting job and the API would benefit from it.

This is a leaf package in our dependency tree, it should already be released to ROS2 Dashing for early validation, please wo

[2020-01-17 17:29] bmagyar opened #29 "As a ros2_control user, I would like to easily configure my runtime setup using the common CLI"
# Design

The currently available service-based interface could be enhanced by a more user-friendly CLI.
 Examples: `ros2 control list`, `ros2 control switch ...` , `ros2 control load ...`

Note that this is *not* to replace the ROS2-API `controller_manager` interface but to supplement it.

# References

https://github.com/ros2/ros2cli

[2020-01-17 17:35] bmagyar opened #30 "As a ros2_control user, I would like to define my control system with chained controllers"
# Design

It is a common design in control theory to define certain parts of a controller's equation with another controller.
In our case, we need to allow one controller's input to be defined by the output of another.
This can be achieved by the shared-memory message passing available within the same executor.
Ensure that the RobotHW and controller manager operate on the same executor with all ot

[2020-01-17 17:37] bmagyar commented on #30
@Karsten1987 please feel free to edit the spec of this whenever you have time.

[2020-01-17 17:40] bmagyar opened #31 "As a ros2_control user, I would like the possibility to define specific update rates for controllers"
# Design

Add an optional rate parameter to the controller base class which can override the default set by the RobotHW.
When no controllers has this defined, they should run as before, using the same update rate.

[2020-01-17 17:40] bmagyar commented on #31
@Karsten1987 please feel free to update the spec.

[2020-01-17 18:00] bmagyar opened #32 "As a ros2_control user I would like to define transmissions for my robots"
# Design

Port over [transmission_interface](https://github.com/ros-controls/ros_control/tree/melodic-devel/transmission_interface)

[2020-01-17 19:03] bmagyar opened #33 "As a hardware manufacturer, I would like to use combined_robot_hw to ship my RobotHW implementation working with my hardware"
# Design

Port over [combined_robot_hw](https://github.com/ros-controls/ros_control/tree/melodic-devel/combined_robot_hw)

# References

http://wiki.ros.org/combined_robot_hw

[2020-01-25 13:44] suab321321 commented on #32
@bmagyar are these beginner issues?I have mediocre level c++ skills.

[2020-01-25 13:45] suab321321 commented on #33
@bmagyar are these beginner issues?I have mediocre level c++ skills.

[2020-01-25 18:16] suab321321 commented on #33
@bmagyar is there more detail how one should proceed into this?

[2020-01-25 18:27] piraka9011 commented on #33
@suab321321 `combined_robot_hw` extends the [`hardware_interface`](https://github.com/ros-controls/ros2_control/tree/crystal/hardware_interface).
This involves moving all the ROS1 features and functionality to use the ROS2 API instead.

Per an earlier discussion with Bence tho, it seems that the hardware interface may change soon so it might better to help port over some of the controllers (like d

[2020-01-25 19:33] bmagyar commented on #32
These user story tickets are the least beginner issues I can think of. We will however split them up more in the near future. If you'd like to contribute in the mean time, I suggest giving some reviews to some PR-s over at [ros-controllers](https://github.com/ros-controls/ros_controllers/). The longer the PR you review, the more appreciated :)

[2020-01-26 15:05] suab321321 commented on #33
@piraka9011 I have to implment the same thing but using ROS2 api isnt it?
First I will understand what `combined_robot_hw` is happening by looking at `ROS1` code,then I will implement the exact same thing but using `ROS2` api for making `publisher` and `subscriber`.Am I right?

[2020-01-26 15:22] suab321321 commented on #32
@bmagyar okay :)
Could you please review my `use of auto keyword` PR :)

[2020-01-26 18:03] piraka9011 commented on #33
That would be great, and documenting what needs to be done in this issue would be must appreciated.

There are 2 PRs to fix the eloquent and dashing builds so yes, waiting for those to land (or branching from them) would be a good place to start from.

[2020-01-27 03:45] suab321 commented on #33
Thanks @piraka9011 I will begin the work

[2020-01-27 03:48] suab321321 commented on #33
Thanks @piraka9011.Soon I will begin the work.

[2020-01-27 10:47] suab321321 commented on #33
@piraka9011 thanks.I will begin soon

[2020-02-03 09:22] bmagyar commented on #21
@piraka9011 can we please also include a source-based build of `ros2_control` in the `ros2_controllers` repo? The reason `ros_control` and `ros_controllers` have an "ros_control from source" stage in the CI is to ensure that changes to the framework were brought to the controllers too.

[2020-02-03 10:28] Mariunil opened #42 "Possible error in JointCommandHandle::set_cmd(double cmd)"
https://github.com/ros-controls/ros2_control/blob/719cb6ca5d15d77e0a765546545a5807771697a2/hardware_interface/src/joint_command_handle.cpp#L53

I believe `THROW_ON_NULLPTR` should check `cmd_` and not `cmd`.

[2020-02-03 12:11] BrightenLee commented on #42
I'm also using ros2 controller after commenting out this line.

[2020-02-03 19:04] Karsten1987 commented on #42
This issue was addressed in https://github.com/ros-controls/ros2_control/pull/19/commits/7b9adc4f2455e624deff22527bb7e96add8b894b

I looks like the current master is not on pair with the dashing branch.
I'll address that ASAP.

[2020-02-03 20:38] bmagyar opened #43 "As a ROS2 user I would like ros2_control controllers to follow node lifecycles"
This could be achieved by making the controller interface inherit from `rclcpp_lifecycle::LifecycleNode` and the rest falls into place after some adjustment in the controller implementations.

# References
* http://design.ros2.org/articles/node_lifecycle.html

[2020-02-03 20:41] Karsten1987 commented on #43
isn't that already the case?
https://github.com/ros-controls/ros2_control/blob/master/controller_interface/include/controller_interface/controller_interface.hpp#L35

[2020-02-04 08:42] bmagyar opened #45 "Add clang-format file to repo"

[2020-02-04 08:44] bmagyar opened #46 "Simplify dependency declarations"
Specifically I mean to do `build_depend + exec_depend = depend`.
Should you find anything else you could simplify/clean up, please go ahead.

[2020-02-05 08:13] #42 closed

[2020-02-05 08:50] bmagyar commented on #21
I think it would be very beneficial for the future to split the build and test steps on the CI as it is currently in `ros_control`. If we ever have flaky tests (which is hard to avoid unless we are willing to put a lot of time into tweaking) it makes it much quicker to re-run as the build step can be skipped.

Separate build and test steps also allow maintainers to have a better result at first gl

[2020-02-05 18:25] piraka9011 commented on #21
Linting is currently its own workflow.

Separating build and test is non-trivial ATM since there's no mechanism to group GH actions together. `action-ros-ci` currently runs build and test to emulate the ROS2 build farm.
The MacOS issues in #44 however can be resolved and shouldn't be a blocker for not running tests. We can just have GH actions run on Ubuntu 18.04 in the meantime until that's resol

[2020-02-06 01:17] Karsten1987 commented on #27
So I've restored a working version for `dashing` as well as `master`.
I am going ahead and delete the stale `eloquent` branch as all new work should be targeted against `master`.

The moment we decide to cut a release for `eloquent` we'll branch off from master.

[2020-02-06 02:41] Karsten1987 commented on #18
It's been too long, but the `dashing` branches for both, `ros2_control` and `ros2_controllers` are now up to date and compatible with the ros2 dashing release.
I've triggered a release for both as well, which should be online within the next dashing sync.

Please don't expect too much stability on this. We just recently resumed more attention to this project again so there will definitely be break

[2020-02-06 02:41] #18 closed

[2020-02-06 08:52] carlossvg opened #48 "ros2_control and real-time requirements"
Hi `ros_control` folks,

There were discussions in the real-time working group (RTWG) about ROS 2 projects working on real-time related applications. The name of this project was mentioned as some of the applications this project targets require real-time capabilities.

It would be great to to have some feedback from this group, for example by providing use cases with hard real-time requirements,

[2020-02-10 09:07] jordan-palacios commented on #46
Keep in mind that in package.xml format 2:
`<depend> = <build_depend> + <build_export_depend> + <exec_depend>`

I could not find any instances in our current packages where all three depends are being used and a `<build>` would be suitable.

[2020-02-10 19:44] Karsten1987 opened #49 "enable rcpputils pointer traits"
top level issue for leveraging `rcpputils::is_pointer` which in addition to `std::is_pointer` checks for smart pointers as well.

[2020-02-10 19:54] Karsten1987 commented on #49
This should also be backported to eloquent

[2020-02-10 23:38] Karsten1987 opened #52 "fix linters on master branch"
The current linters are failing with `uncrustify` errors when using the latest ros2 master.

[2020-02-11 07:52] #52 closed

[2020-02-11 22:07] piraka9011 opened #55 "Re-enable macOS build workflow"
Once ros-tooling/action-ros-ci#81 is resolved, the `build.yml` workflow should be updated to include `macos` in the build matrix:

[code]

[2020-02-12 09:46] bmagyar commented on #49
to foxy?

[2020-02-12 18:10] #49 closed

[2020-02-19 03:56] ddengster commented on #32
hi, what's the status of this port? Karsten's PR has a number of missing things like parsing in actuators.

[2020-02-19 05:58] Karsten1987 commented on #32
@ddengster I should have marked this PR as draft. I am agreeing with @bmagyar review and most likely that transmission interface should have a new design in the first place. I just need something going for get started with the `gazebo_ros_control` part of it.

I think this issue is the right place to voice some concerns or design proposals for a ROS2 implementation.

[2020-02-19 07:18] ddengster commented on #32
No problem, @Karsten1987. I also happen to be working on a minimal `gazebo_ros_control` plugin for my own priorities.

With regards to the PR, I was expecting something closer to a 1-to-1 for the parser - doing a minimal working port first from ros_control, then applying breaking design changes later.

Also I'm not sure if we need a TransmissionParser object instantiation? I just need a function c

[2020-02-19 08:13] bmagyar commented on #32
Over the years there were quite a few attempts at improving `ros_control` to improve extendability but the one that kept failing was joint and actuator interfaces. They are locked into place by the intertwined structure of `transmission_interface` and it solidified bad patterns in the entire framework. If you have specific requirements from transmissions please do say so :)

[2020-02-19 22:55] Karsten1987 opened #59 "use rclcpp logger macros when possible"
throughout the code base, `RCUTILS_LOG_X` is used due to the lack of the `RCLCPP_X` logging macros at the time of development.

[2020-02-19 22:57] Karsten1987 opened #60 "add ROS services for controller manager"
There is currently no way to load controller dynamically at runtime through ROS2 services.

[2020-02-20 10:35] ddengster commented on #32
I'm assuming you're referring to `JointInfo` and `ActuatorInfo`? It's members are mostly strings, which are imo the most extendable types you can have without bringing in a whole bunch of other abstractions to resolve parsed xml strings into another type. (And I'm not really a guy who likes bringing in more abstractions without a few existing use cases)

Perhaps I'll pick an example to narrow it d

[2020-02-21 05:22] ddengster opened #61 "List of breaking changes from ros_control to ros2_control"
Hi, I'd like to startup a list of breaking changes from ros_control to ros2_control. I think it'll help with porting some of the modules and programs that use ros_control and wish to port over to ros2_control. Feel free to add to this list or correct my assumptions.

https://github.com/ros-controls/ros_control

hardware_interface
- ros_control's JointStateHandle split into JointStateHandle and Joi

[2020-02-21 12:50] JafarAbdi commented on #45
@bmagyar Is there any style that you would prefer (for example [MoveIt clang-format](https://github.com/ros-planning/moveit/blob/master/.clang-format) .? I could create a PR to fix this issue

[2020-02-21 14:21] bmagyar commented on #45
I think we'd be quite happy with most of that. One thing though that I remember seeing in moveit a lot is
[code]

while I'd prefer personally

[code]
for more consistency. Can this be added?

[2020-02-21 14:46] JafarAbdi commented on #45
Seems like clang-format doesn't support this, but we could use clang-tidy to do so [see](https://clang.llvm.org/extra/clang-tidy/checks/readability-braces-around-statements.html)

[2020-02-21 18:36] Karsten1987 commented on #61
Thanks for starting this. I just wanted to highlight though that I explicitly chose back in 2017 to not straight up migrate `ros_control` to ros2, but rather have it as a complete re-write from scratch. This gives us the liberty to not only introduce as many API changes as needed, but also to really feature some of the new concepts in ROS2. I also think we should actually come up with a design doc

[2020-02-21 19:26] gavanderhoorn commented on #61
yes.

This is what I also had in mind when I wrote https://github.com/ros-controls/roadmap/pull/2#issuecomment-584024671.

[2020-02-24 19:10] guru-florida opened #65 "Joint Trajectory performance on servos"
How does the Joint Trajectory controller in this project perform for receiving position/vel/acc or position/effort messages and projecting them onto servo position waypoints? How does it control the effort input without knowing torque/current feedback?

I'm studying the code but based on the README this repo may not  be ready for normal use on ROS2? README says,

 I can't find any other existing J

[2020-02-24 23:09] bmagyar commented on #65
Thanks for pointing out the part about the readme, we are in fact have been actively developing since last December. Here's a bit more on what to expect this year: https://github.com/ros-controls/roadmap

This time around documentation is part of the roadmap but unfortunately it's a little further down the line. In the mean time I believe @Karsten1987 had some older tutorial pages, or am I imagini

[2020-02-25 00:11] guru-florida commented on #65
Thanks @bmagyar. I'm glad to hear this is being actively developed again. My question was just how far along this project is or if it was superseded. For example, I dont see the spline calculations. I've reviewed all the code in ros2_control and controllers and it seems pretty straight forward. I definitely don't want to be a "here is my homework" guy. ;) I reviewed the joint_trajectory controller

[2020-02-25 00:11] #65 closed

[2020-02-25 08:01] gavanderhoorn commented on #65
So that's what I get for spending some time answering those questions .. :cry:

That's perhaps just the case in the version that was ported to `ros2_controllers`. See [here](https://github.com/ros-controls/ros_controllers/blob/2d5ba0744a1eec7c9720ef3df6e8b571466d8f90/joint_trajectory_controller/include/trajectory_interface/quintic_spline_segment.h) for the `quintic_spline_segment.h` which certainl

[2020-02-25 08:47] bmagyar commented on #65
You did great ;) This unfortunately can't be said about the OP.

[2020-02-25 14:15] bmagyar commented on #65
Just to tie it back here, I've created a new document in the roadmap repo to collect good resources which we can use down the line for The Promised Documentation Pages.
https://github.com/ros-controls/roadmap/pull/5

[2020-02-25 14:27] guru-florida commented on #65
Agreed. It was only because of your answer I linked it as possibly related. It wasn't because of the OP question.

[2020-02-26 18:25] bmagyar commented on #43
It is indeed, closing...

[2020-02-26 18:26] #43 closed

[2020-02-26 18:34] #46 closed

[2020-02-26 18:42] bmagyar commented on #45
Could you please open a PR with this?

[2020-02-27 00:16] guru-florida commented on #65
Ok good, so I am not crazy. lol. I was aware ROS1 ros_control was much farther ahead. Roadmap helped too. I watched the 2014 you (@bmagyar) posted to, thanks! I'm trying to decide where to go from here. I would like to help port the more advanced trajectory controllers from the ROS1 code but I am also under a deadline to show this humanoid walking or at least balancing, and I'm up to my neck in op

[2020-03-02 15:24] buschbapti opened #66 "Documentation for loading the controller is outdated"
Hello,

I am following the documentation to load a JointStateController. If I am not mistaken, the load_controller function as written in the README is outdated. The new version does not seem to take 3 string parameters but only 2 (name, type).

Moreover, it seems that the controllers are not under namespace ros_control but their own (joint_state_controller for JointStateController and joint_traje

[2020-03-03 00:23] Karsten1987 commented on #66
That change got introduced in #41
@jordan-palacios Do you mind coming up with a follow-up PR to address the documentation?

[2020-03-04 07:25] ddengster commented on #66
"joint_state_controller/JointStateController" should work

[2020-03-05 13:01] destogl commented on #33
Hi all,
@bmagyar and @piraka9011 This would be a good point to discuss how `combind_robot_hw` should look like. Does this mean that combined robot has 2 robots or can also have some additional sensors/actors? This is an issue I have in  `ros_control`, therefore we introduced internally [CombinedRobotSensorHW](https://github.com/KITrobotics/ros_control/tree/combined_robot_sensor_hw/combined_robot_s

[2020-03-09 07:52] bmagyar opened #68 "Set up PR template"
Points to highlight:

* add test to new functionality
* leave resolving comments to reviewers, don't resolve them yourself
* run linters from ROS2 master

[2020-03-09 07:52] bmagyar commented on #68
@Karsten1987 @piraka9011 please add whatever comes to your mind

[2020-03-09 10:37] jordan-palacios commented on #68
In the same line with the linters, I'd say that all packages (old and new) must have the `ament_lint_auto` tests.

[2020-03-09 14:57] #59 closed

[2020-03-09 16:30] piraka9011 commented on #68
* Attach an issue if there is a related one
* Small section for description/info at the top

[2020-03-16 18:23] Karsten1987 commented on #66
@jordan-palacios friendly ping.

[2020-03-16 18:32] Karsten1987 commented on #48
@carlossvg thanks for reaching out. We (at least I) don't have any concrete feedback regarding realtime requirements other than that we have them ;-)

I am very intrigued into leveraging the static executor for the controller manager. Ideally, we would like to use the C++ version of it, but the rclc might be more advanced than the static executor in rclcpp.

I think the two WGs (real-time and ros-

[2020-03-19 09:48] bmagyar opened #70 "Using quotes around ament package names in ament_target_dependencies()"
I found some inconsistencies in our cmake files regarding the usage of quotes around ament package names. I don't know where this comes from but I'd prefer to drop them and use quotes to highlight the semantics when the intention is defining an actual string.
If there is a strong *practical* argument for keeping them, let's make sure we have them but then IMHO we should write *every single occuren

[2020-03-19 09:48] bmagyar commented on #70
@jordan-palacios @piraka9011 @Karsten1987 yay or nay

[2020-03-19 18:30] piraka9011 commented on #70
I prefer to follow convention of other ROS2 packages and have no quotes.

[2020-03-19 18:56] Karsten1987 commented on #70
Certainly up for discussion, `rclcpp` does use quotes:
https://github.com/ros2/rclcpp/blob/master/rclcpp/CMakeLists.txt#L112-L122

I am fine with everything and would second @bmagyar thoughts to have a consistent approach within ROS2. I also like the thought that quotes are for actual strings (left aside that CMake anyway passes everything as strings), so this is a +1 for removing the quotes.

[2020-03-20 08:40] jordan-palacios commented on #70
+1 no quotes.

[2020-03-20 15:35] Karsten1987 commented on #70
@bmagyar did I hear you volunteering for a PR to address this? That's awesome ;-)

[2020-03-23 08:02] bmagyar commented on #70
Yes indeed, please see the mentioned PR-s.

[2020-03-23 16:08] #70 closed

[2020-03-24 01:00] Karsten1987 commented on #45
for an initial start for the clang format, does this help? https://github.com/ament/ament_lint/pull/226

This at least sorts the `#includes` correctly.

[2020-03-25 08:06] buschbapti commented on #66
@ddengster Yes it does indeed. Thanks for the clarification.

[2020-03-25 19:10] matthew-reynolds opened #72 "Test dependency in metapackage"
I'm not sure what a test dependency in a metapackage really does or offers, but I worry that it will pull in the dependency when using tools such as `rosinstall_generator` (Full disclaimer: I'm still very very green with ROS2, so I'm just pulling from ROS1 experience here).

Truthfully, I've never even seen a `test_depend` in a metapackage before. Can someone explain what the intended outcome of t

[2020-03-31 08:52] bmagyar opened #73 "Flaky ros2 master?"
@piraka9011 @Karsten1987
Could you guys please help me out with where this originates from and how we could avoid it?

[code]

[2020-03-31 14:36] piraka9011 commented on #73
We've been seeing this in our builds as well.
Yes, ros2 master isn't stable. Its a side effect of ros2 supporting multiple RMW implementations.

[2020-03-31 16:05] Karsten1987 commented on #73
is that a GitHub action? I haven't seen this on the ROS2 buildfarm. What does that mean it's not stable? All the nightlies are compiling.

[2020-03-31 16:36] piraka9011 commented on #73
I guess what I meant is the master branch for ros2 repos aren't always stable (builds have failed before).
This probably was caused by a change in a down stream dependency and needs a re-run.
The actions don't run at the same time/frequency as the buildfarm so that's why this might have not appeared there.

[2020-04-01 06:15] bmagyar commented on #73
This is a nightly too, should we schedule it to run right after the ROS2 master nightly to catch the stable state? :D

What's strange to me is I remember seeing the exact failure in the past too...

[2020-04-01 06:17] bmagyar commented on #73
Can we schedule the same thing to run on travis at the same time? May shed some light on it the next time it happens.

[2020-04-06 06:40] bmagyar commented on #72
I don't know of any reason why we should keep it, in fact it feels like the same sort of setup that we had it ROS1. @Karsten1987 is there any particular reason for this, would something set on fire if we got rid of this test-dep?

@matthew-reynolds probably worth opening a PR and we can actually confirm things on the ROS2 buildfarm.

[2020-04-06 06:45] bmagyar opened #74 "Foxy release"
List of required features from `ros2_control` and `ros2_controllers` for the first Foxy release:
* The `joint_trajectory_controller` from ROS Melodic with all it's features
* The `diff_drive_controller` from ROS Melodic with all it's features
* `gazebo_ros_control`

Waiting for contributions to this list @jordan-palacios  @Karsten1987  @piraka9011

[2020-04-06 06:47] bmagyar commented on #74
My first list is what I think of as bare minimum.

I'd opt for shipping something now to have *some* functionality available but with ideally it'd be good to be able to ship some framework improvements (aka all the stuff in design docs) to Foxy too, meaning they may be slightly breaking changes, at least within the scope of framework components which we'd manage. The yearly release proposed starti

[2020-04-06 17:10] piraka9011 commented on #74
SGTM, not sure how large of a change `gazebo_ros_control` would be but maybe focusing on framework/infra stuff might be better?

[2020-04-09 04:57] matthew-reynolds commented on #72
Closed in #75

[2020-04-09 04:57] #72 closed

[2020-04-09 06:15] destogl commented on #74
@bmagyar, what is the best way to manage the roadmap for this? I mean the list of tasks with technical / implementation steps. We need to coordinate ourselves somehow...

Should we just open one issue, with a checklist of tasks and responsible person for it? Or ist it better to use GitHub-Project option? Has anyone experience with that? If we go the latter path, then I would need access rights to

[2020-04-09 07:41] bmagyar commented on #73
@Karsten1987 @piraka9011 should we report these failures?

from this morning: https://github.com/ros-controls/ros2_control/runs/566901267
[code]

[2020-04-09 07:46] bmagyar commented on #74
How about a new section in the roadmap repo for a general outline? I can look into how we could leverage github project for the execution

[2020-04-09 15:54] piraka9011 commented on #74
@bmagyar @destogl We have a zenhub board setup in the roadmap repo. It does require an extension though. A GitHub project board also works.

[2020-04-16 10:57] buschbapti opened #76 "Ability to clear the registered handles"
Hello,

Is there a functionality to clear the registered handles? At the moment, calling twice the init function on a hardware interface will try to register again a joint or a command resulting in an exception. The problem is that if a controller fail at configuring, the node is stuck in the not configured state as calling on_configure again will fail at the second hardware init call.

Am I missi

[2020-04-16 21:07] ruffsl commented on #74
+1 for project visibility and being co-located with the repo. I was checking up on `gazebo_ros_control`, which led me here, wondering about the state of `ros2_control`, and where the project roadmap was.

[2020-04-19 20:07] destogl commented on #74
@ruffsl you can find it in [roadmap repository](https://github.com/ros-controls/roadmap)

[2020-04-21 09:08] bmagyar commented on #73
https://github.com/ros-controls/ros2_control/runs/604520000
[code]

[2020-04-24 17:29] destogl opened #79 "Some thoughts on controller and filters"
Hi,

in the calls, some of you mention about value limiters when talking about controller composition. What I understand, you would like to have a controller-like structure, which can limit/change values. If so, then this simple kine of controllers are actually filters. Would it be sensible to separate these two semantically, but keep the same parent class? The execution and structure would be act

[2020-04-25 10:54] olivier-stasse commented on #79
Could you elaborate on kine of controllers I was not able to get the code you are referring to.

For me ros2_control is going in the direction of avoiding to have too much semantic to make possible various low-level control and various high level control. IMHO semantic of the controllers should be put in ros_controllers or another repos, but *NOT* in ros2_control.

For instance the  ros_controller

[2020-05-01 05:02] youtalk commented on #24
Is someone tackling on this issue?

[2020-05-01 13:20] bmagyar commented on #24
No and @piraka9011 expressed that AWS' contributions will be much less from now on as they had to reprioritize. Feel free to take it.

[2020-05-01 13:22] youtalk commented on #24
I got it. I start contribution more.

[2020-05-05 15:22] destogl commented on #79
I am not sure if it is possible to separate controller structure from `ros2_control` since controller manager should have knowledge about it. But then `controller_manager` can be placed in `ros2_controllers` package...

My proposal is to have different semantic regarding controller and filters. They have the same basic structure, but the meaning is different. `ros_control` is agnostic to semantic,

[2020-05-28 06:49] bmagyar opened #83 "Generate transmission info from URDF"
https://github.com/ros-controls/roadmap/blob/master/design_drafts/joint_interfaces_and_transmissions.md

[2020-05-28 06:50] bmagyar opened #84 "Create general transmission parser interface, subclass URDF transmission parser from this"
https://github.com/ros-controls/roadmap/blob/master/design_drafts/joint_interfaces_and_transmissions.md

[2020-05-28 06:51] bmagyar opened #85 "Implement registerInterface() following a string-based setup so it can be checked against when attempting to load transmissions"
https://github.com/ros-controls/roadmap/blob/master/design_drafts/joint_interfaces_and_transmissions.md

[2020-05-28 06:52] bmagyar opened #86 "Implement basic Transmission loading and SimpleTransmission"
http://docs.ros.org/melodic/api/transmission_interface/html/c++/classtransmission__interface_1_1SimpleTransmission.html

[2020-05-28 06:57] bmagyar opened #87 "Add TransmissionInterface class. Adjust SimpleTransmission to inherit from this."
We need something much simpler and extendable than [this](http://docs.ros.org/melodic/api/transmission_interface/html/c++/classtransmission__interface_1_1Transmission.html), no `ThisToThat()` functions are allowed.

[2020-05-28 06:58] bmagyar opened #88 "Add a new robothw to test_robot_hardware that has initialization from URDF and tries to instantiate a transmission. Make necessary changes if integration isn't seamless."
The expected output of this is a couple of new tests.

[2020-05-28 06:59] bmagyar opened #89 "Make use of DynamicJointState message internally to store values & interface names for joints"
Joint handles could still be used & served to clients, pointing to values stored in this message structure.

https://github.com/ros-controls/control_msgs/blob/foxy-devel/control_msgs/msg/DynamicJointState.msg

https://github.com/ros-controls/control_msgs/blob/foxy-devel/control_msgs/msg/InterfaceValue.msg

[2020-05-28 06:59] bmagyar opened #90 "Implement DifferentialTransmission"
http://docs.ros.org/melodic/api/transmission_interface/html/c++/classtransmission__interface_1_1DifferentialTransmission.html

Resolved by #303

[2020-05-28 06:59] bmagyar opened #91 "Implement FourBarLinkageTransmission"
http://docs.ros.org/melodic/api/transmission_interface/html/c++/classtransmission__interface_1_1FourBarLinkageTransmission.html

[2020-06-01 08:27] bmagyar opened #93 "Check that all packages use gmock, not gtest"
Examples:

* here we grab both gtest and gmock, one should really be enough the the gtest tests ported to gmock: https://github.com/ros-controls/ros2_control/blob/master/controller_manager/CMakeLists.txt#L47

* here no testing package was grabbet yet is magically works: https://github.com/ros-controls/ros2_control/blob/master/hardware_interface/CMakeLists.txt#L53 probably better to grab it explici

[2020-06-01 08:27] bmagyar opened #94 "Implement `controller_manager::checkForConflict()`"

[2020-06-02 18:19] bmagyar opened #95 "Move standard names for interfaces to control_msgs"
... once stable in hardware_interface/include/hardware_interface/control_type.hpp

[2020-06-02 20:06] destogl commented on #95
Should we gather proposals somewhere?

[2020-06-03 14:30] #83 closed

[2020-06-03 15:49] bmagyar commented on #95
On this ticket?

[2020-06-04 08:50] ahcorde commented on #32
I saw that @bmagyar has merged transmission_interface in ros2_control/master. Is there any plan for the following data structures.

[code]

[2020-06-04 11:33] v-lopez commented on #93
**hardware_interfaces** uses [ament_lint_auto_find_test_dependencies](https://github.com/ament/ament_lint/blob/master/ament_lint_auto/cmake/ament_lint_auto_find_test_dependencies.cmake#L36)

Which gets the `ament_cmake_gtest` dependency from the package.xml
The `find_package` it performs doesn't have the REQUIRED flag.  So I believe we should add it explicitly.

Regarding **controller_manager**, `

[2020-06-04 12:17] v-lopez commented on #93
Thinking a bit more about `ament_lint_auto_find_test_dependencies`, I thought it could've been done to avoid all this redundancy between package.xml and CMakeLists.txt.

But checking some core packages, they have the `ament_lint_auto_find_test_dependencies` as well as `find_package(ament_cmake_gtest REQUIRED)`.
For instance: [rclcpp](https://github.com/ros2/rclcpp/blob/master/rclcpp/CMakeLists.txt

[2020-06-04 13:42] bmagyar commented on #93
I also think we shoudl only use either gtest or gmock in the repo, but *at least* in a single package for simplicity and cleanliness.

[2020-06-09 13:50] destogl commented on #32
Where do you need those informations?

[2020-06-09 13:52] destogl commented on #95
OK, let's start then:

* Position
* Velocity
* Acceleration
* Effort
* Force

[2020-06-09 15:31] bmagyar commented on #95
What do you think about adding units to these? Of course taking linear/rotary joints into account so there could be 1-2 options

[2020-06-11 19:37] destogl commented on #95
Do you mean something like:
- Position-rad
- Position-m
- Velocity-rad/s
- velocity-m/s

[2020-06-13 10:39] bmagyar commented on #95
Ah sorry I wasn't clear on that. I'd add some documentation to these in the messages. Not to the names/types.

[2020-06-16 14:31] destogl opened #105 "Is it sensible to use lifecycle noded to manage Robots, Sensors and Actuators"
Each component in ros2_control should have a strictly defined state, so that we enable more complex scenarios, like tool changers, stoping robots without killing nodes, etc.

This would also improve troubleshooting and IMHO more robust and transparent management of hardware.

I propose the following states:
[code]

@Karsten1987 Can we achieve this also with lifecycle components? Does it make sense

[2020-06-16 14:34] destogl opened #106 "Make Robot class as main Container used from controller_manager"
After a discussion with @Karsten1987 yesterday, after the full integration of functionalities into Robot class as the main container for Sensors, Actuators, and hardware interfaces, we need to change interfaces of controller_manager and potentially controller to access use Robot and not RobotHardware class.

For more details see #101

[2020-06-16 15:17] olivier-stasse commented on #106
Thanks @destogl for starting this and taking the first hot comments.

A first lean implementation of Robot, Sensor and Actuators as in your diagram :
https://github.com/destogl/roadmap/blob/ros2_hardware_interface_design_proposal/design_drafts/images/ros2_control_core_diagram.svg
would be fantastic.

Let me know how it is possible to help.

[2020-06-16 15:21] gavanderhoorn commented on #106
Unfortunately I cannot attend the WG meetings, so I have to ask "stupid" questions here in issue comments: why was the name Robot chosen?

The use of `robot` in URDF and xacro has caused much confusion over the years, with users assuming they could / should not use the technology for anything not a robot (but still something which could be modelled using URDF).

Should this be avoided here?

[2020-06-16 16:36] Karsten1987 commented on #106
We've come up with a diagram as follows. The idea would be to feature some sort of container instance, which has the capabilities to load - as in ROS1 - a stock robot, e.g. an industrial arm, a mobile base or humanoid. However, the container shall be generic enough to load individual hardware components such as actuators or sensors. We've talked about supporting things like conveyer belts through

[2020-06-16 18:52] Karsten1987 commented on #105
I've tried to mention this in [here](https://github.com/ros-controls/ros2_control/pull/80#issuecomment-642338013) but I strongly advice against making each actuator/sensor a node. There's quite a bunch of overhead coming with it (a.k.a. built-in services etc) which I personally don't see feasible. A second aspect is that these things are ideally as small as possible, not only to reduce their logic

[2020-06-16 19:13] destogl commented on #105
Ok, than I will add states from above (maybe not all of them), so one can at least follow it from controller_manager.

[2020-06-16 19:13] #105 closed

[2020-06-16 19:17] destogl opened #107 "Create lifecycle for components/hardware"
The hardware in the robotic system can have different states, e.g. the communication to the robot is initialized, but the breaks are still on, or emergency halt happened and the robot needs to be recovered, etc.

A proposal for list of this state:
[code]

[2020-06-16 19:52] destogl opened #108 "Add functionality of Robot-Container"
As in #101 the functionality for `Robot`-Container as explained by @Karsten1987 in #106 is implemented.

This implementation should provide the same functionality as `hardware_interface::RobotHardware` by using Sensors and Actuators for storing data.

First implementation is used transparently through `hardware_interface::RobotHardware` to keep functionality of `controller_manager` and controllers

[2020-06-17 08:59] destogl commented on #95
I did something in this direction [here](https://github.com/ros-controls/ros2_control/blob/aa885a25f991b1f6e729cc46d4426342b3f31494/robot_control_components/include/robot_control_components/ros2_control_types.h#L35)

[2020-06-17 09:04] destogl commented on #94
This would be probably part of the `Actuators`, since it is only critical when controllers is doing to write simultaneously.

[2020-06-20 06:49] bmagyar commented on #94
I disagree. The way ros_control handles this in ROS1 is that one joint
command interface can only be used by one controller at a time. This is
decided at load time. You cannot have multiple controllers trying to write
to the same joint loaded and running at once. It is not a concurrency issue
but rather a resource-management one.

On Wed, 17 Jun 2020 at 10:04, Denis Štogl <notifications@github.com

[2020-06-20 07:32] destogl commented on #94
@bmagyar I agree completely, that is what I meant, but my comment was not clear.

The point was, this is only relevant for actuators since generally sensors can be read from an arbitrary number of controlled. It would be very cool to achieve this and also important for cascade control and similar structures.

[2020-06-25 07:39] bmagyar opened #110 "Update readme"
The readme is massively outdated to say the least.

[2020-06-26 06:28] rjshim opened #111 "ros2_control usage example"
Hi @Karsten1987

I am working on porting source codes for manipulator robots written in ROS1 to ROS2. I am trying to implement things that written on this [instruction](http://wiki.ros.org/urdf/XML/Transmission), but I cannot find any resources for implementation in ROS2 that I can refer to. I can't even find anything related to transmission_interface/SimpleTransmission in this repository. Are the

[2020-06-26 06:56] bmagyar commented on #111
Our readme was written in 2017. The project has been evolving recently quite a lot but we are far from feature parity with ROS1 ros_control. There are no reference implementations either, perhaps the closest you could find is [gazebo_ros2_control](https://github.com/ros-simulation/gazebo_ros2_control/pulls) or the simplistic setup in `test_robot_hardware`.

Transmissions are currently not in worki

[2020-06-26 07:56] rjshim commented on #111
Glad to hear that. Thank you for the answer.

[2020-06-26 07:56] #111 closed

[2020-06-30 06:48] bmagyar opened #115 "if you don't specify the parameter name in the cpp, the linter won't cry about the unused parameter and we save on some boilerplate"
if you don't specify the parameter name in the cpp, the linter won't cry about the unused parameter and we save on some boilerplate

[code]

The currently used alternative is
[code]
Functionally they are equivalent, silencing the linter on unused argument.

_Originally posted by @bmagyar in https://github.com/ros-controls/ros2_control/pull/101_

[2020-07-01 15:08] bmagyar commented on #115
@Karsten1987 @jordan-palacios @v-lopez @destogl please weigh in on this here.

My vote is with commenting out the argument name, I think it is a much cleaner way of denoting not wanting to use an argument. It is also one line less, overall reducing litter in the code.

[2020-07-01 15:22] v-lopez commented on #115
Comment out or remove altogether from the .cpp and leave on the hpp only.

[2020-07-01 16:44] Karsten1987 commented on #115
I actually don't remember why we do this all over the place within the ros2 stack. I thought to remember that one of the linters (cppcheck, cpplint, uncrustify) would complain about it. If that's not the case any longer, I am okay with having the argument commented out.

[2020-07-01 16:54] jordan-palacios commented on #115
Agreed with the previous responses, commenting out the argument is the way.

[2020-07-01 18:13] AndyZe opened #116 "Proposed interface with MoveIt2 (high level)"
As discussed in the Work Group meeting, here's the proposed interface between MoveIt2 and ros2_control.

First, the old ROS1 design that used an action interface to communicate with a trajectory controller. In the case of reactive control, a ROS topic was used to communicate with e.g. a JointGroupPositionController.

![ros1_moveit_control_interface](https://user-images.githubusercontent.com/112843

[2020-07-07 06:08] #110 closed

[2020-07-08 09:50] #85 closed

[2020-07-09 08:58] rjshim commented on #66
@buschbapti

Did it really work for you? I don't know what I did wrong. I get the
"Loader for controller 'joint_state_controller/JointStateController' not found" message.

[2020-07-10 02:38] rjshim commented on #66
For future users who might struggle because of the same reason as I had, try below, it worked.
[code]
You can also see sample examples at this [link](https://github.com/ros-controls/ros2_controllers/blob/master/joint_state_controller/test/test_load_joint_state_controller.cpp).

This was really confusing because the input **_"controller_type"_** for the function **_"load_controller"_** is the **_na

[2020-07-10 04:38] olivier-stasse opened #118 "Tests on RT-PREEMPT"
### This issue is to track the implementation of a github-action runner using Linux RT-PREEMPT

The main issue with this thread is to implement a test to check if the main ros_control part are breaking minimal real-time requirements.

Example: For torque control robot, a minimal 1 KHz loop is required. It also implies having at least 800 us free for computation over 1 ms. This time is typically wh

[2020-07-10 18:12] olivier-stasse commented on #118
Some real-time results on the computer with a Linux v5.4.47 kernel with the RT_PREEMPT patch:
[code]

[2020-07-13 06:09] rjshim opened #119 "How to set params for controllers"
Fixed this problem.

[2020-07-13 08:17] #119 closed

[2020-07-14 20:38] olivier-stasse commented on #118
Test on setting a self-hosted runner done.

[2020-07-17 13:08] jordan-palacios opened #124 "JointHandle should be managed using DynamicJointState message"
This is a follow up on #112 and involves modifying joint handles so they make use of the DynamicJointState message. `JointHandle` works the same way as `ActuatorHandle` and, in fact, makes sense for both to share a base class.

Furthermore, the goal is to remove `JointStateHandle` and `JointCommandHandle` completely. `JointStateHandle` currently has the downside of being hardcoded to the position,

[2020-07-20 12:55] olivier-stasse commented on #118
@bmagyar: To use the computer for the repository or the organisation (it would be probably better to add the runner only to the repository for a test) the instructions to go through are the following:
[code]
The interface propose to choose the operating system ('Linux' is needed) and the architecture ('X64' is needed)

During the creation (and *ONLY* during) the interface provides instructions to

[2020-07-25 15:08] #23 closed

[2020-08-01 07:07] bmagyar commented on #118
@olivier-stasse I've sent an email with the instructions to you to your @laas.fr email, thanks for following up on this :+1:

Also, you may find these useful/inspiring for some test implementations: https://github.com/ros2/realtime_support

[2020-08-05 06:58] olivier-stasse commented on #118
Dear @bmagyar on my side the runner is working and ready.
Let me know if it is not working for you.

[2020-08-19 15:44] destogl opened #129 "Improve gettters and setters in the Joint and Sensor Components"
The new components Joint and Sensor introduced in #121 are basically new "Handles" for the exchanging data. Therefore they provide getters and setters for commands and states. For more details how they are used see the documentation in those base classes.

The current implementation will work with simple joints and interfaces. To support more complex scenario please consider following drawback/nee

[2020-08-20 07:14] destogl opened #130 "Proper header order"
In #127 we had a short discussion about header ordering (concrete it was about `<tinyxml2.h>`

For the CPP files, I personally would prefer the following order - example for `component_parser.cpp`:

[code]

The only problem with this order is that lint complains that no folder is defined in `"tinyxml2.h"`. At my system, it is also directly installed in `/usr/include` so I am not sure how to resolv

[2020-08-21 05:54] destogl opened #131 "Add missing component types for the examples in the roadmap"
[roadmap example](https://github.com/destogl/roadmap/blob/control_components_design/design_drafts/components_architecture_and_urdf_examples.md) - see ros-controls/roadmap#17

Initial work is in #123

This has to be done for ros-controls/ros2_control_demos#37

[2020-08-21 05:59] destogl commented on #131
@bmagyar can you assign this to the project ["ros2_control new HW Interfaces design and examples in demo repository"](https://github.com/orgs/ros-controls/projects/1) somehow I do not have access to it...

[2020-08-21 07:09] bmagyar opened #132 "Update component parsing to cover changes to min-max"
Update the example URDFs in the component parser tests [here](https://github.com/ros-controls/ros2_control/blob/master/hardware_interface/test/test_component_parser.cpp) and apply the necessary changes on the parser implementation to support them.

Related to
https://github.com/ros-controls/roadmap/issues/23
https://github.com/ros-controls/roadmap/pull/25

[2020-08-22 07:29] bmagyar opened #133 "`Return value is used for API consistency.`"
`Return value is used for API consistency.`

Let's use the language-specific keyword to denote we don't return anything, `void`. While it may be pleasing to the eye, an API is not made consistent by applying the same pattern everywhere. If we don't need to use a return value here, let's not have one.

_Originally posted by @bmagyar in https://github.com/ros-controls/ros2_control/pull/121/review_co

[2020-08-24 10:06] drewskoots commented on #26
Hi, I was just wondering there is any update as to when the ```joints_limit_interface``` will be added to ros2_control. The roadmap mentioned something about May 2020 and I'm waiting on its implementation to begin migrating my code. Any info would be greatly appreciated!

[2020-08-27 06:18] rjshim commented on #17
@Karsten1987 @chapulina  @bmagyar

I think I better grasped how to use gazebo plugins now than last year. I will create another issue thread when I have more questions.
Thank you for all the comments help!
Ryan

[2020-08-27 06:18] #17 closed

[2020-08-28 07:20] v-lopez commented on #60
I'll be looking into this in the next few weeks.

If possible i'll add the distinction between loaded and started controller, and between unloaded and stopped.

[2020-08-31 09:00] bmagyar commented on #26
Incoming on #135

[2020-09-02 08:58] v-lopez commented on #60
I've begun working on this, implementing the loaded/started distinction.

Currently a controller is only `configured` when the controller manager is `configured` [here](https://github.com/ros-controls/ros2_control/blob/master/controller_manager/src/controller_manager.cpp#L110)
And is only `activated`  when the controller manager is `activated` [here](https://github.com/ros-controls/ros2_control/bl

[2020-09-02 10:34] bmagyar commented on #60
Very good place to start a discussion on naming of controller states!

* loading in controller manager terms comprises of loading the actual controller plugin, initializing and configuring it.
* starting is the same as activating, I propose to rename this in ros2_control to activate
* stopping is the same as deactivating, let's rename to deactivate
* unloading is disposing of the loaded plugin ins

[2020-09-02 11:31] v-lopez commented on #60
It's interesting because unload doesn't do any unloading. It was one of our issues with ROS1 control, because we'd saved hours of testing if we could unload a library, build it with some changes, and load it again.

I don't know if unloading is possible and what side effects it could have. If it was possible, you'd only be able to unload if any other instances of plugins from that library were als

[2020-09-02 14:05] bmagyar commented on #133
@v-lopez what is your opinion on this?

[2020-09-02 14:07] bmagyar opened #138 "Industrial CI from ROS main failing consistently"
[On this PR](https://github.com/ros-controls/ros2_control/pull/136) we had to disable "Industrial CI from ROS main" due to consistent failure none of us were able to reproduce with (supposedly) identical installations.

The error was

[code]

@Karsten1987 @piraka9011 do you guys know by any chance what this error may originate from?

[2020-09-02 14:30] v-lopez commented on #133
IMO go with `void` in this particular case.

And in general, we can have the same return type everywhere, and the caller's job is to check for OK or ERROR. but I guess that if we're not using `bool` is because in the future we may need a 3rd return value?

In that case, when we add a 3rd value, won't all callers need to update their return value checking to take into account the new value? This is

[2020-09-02 15:04] v-lopez commented on #60
Work in progress here: https://github.com/ros-controls/ros2_control/pull/139

So far going with old nomenclature, but that can be changed.

[2020-09-02 15:07] gavanderhoorn commented on #138
@ipa-mdl: would you happen to have run into this already?

`dynamic_joint_state__traits.hpp` looks to be a template specialisation.

[2020-09-02 17:18] ipa-mdl commented on #138
This is not an issue of industrial_ci, but with the current `ros:foxy-ros-core` Docker image.
It is not possible to build `ros2_control` in it.

[2020-09-02 17:33] ipa-mdl commented on #138
It looks like the [last sync](https://discourse.ros.org/t/new-packages-for-foxy-fitzroy-2020-08-27/16126) is did not make it to Docker hub yet

[2020-09-07 11:34] destogl commented on #60
I think that having `unload` as opposite to `load` of a controller is OK. IMO `cleanup` would be even more confusing.

[2020-09-07 17:03] bmagyar commented on #133
The original post was focusing on not having a return type when one is not warranted

[2020-09-08 07:15] v-lopez commented on #133
Yeah, as I said I'd go with `void` in this case.
But in general I don't fully agree with having a standard `return_type` for everything, even for functions that are supposed to return something.

[2020-09-11 23:22] destogl commented on #107
started in #121 and during ros-controls/ros2_control_demos#5 has to be investigated in detail.

[2020-09-11 23:25] destogl commented on #106
after ros-controls/ros2_control#121 not relevant any more

see also ros-controls/roadmap#22

[2020-09-11 23:25] #106 closed

[2020-09-11 23:25] destogl commented on #108
after ros-controls/ros2_control#121 not relevant any more

[2020-09-11 23:25] #108 closed

[2020-09-11 23:27] destogl commented on #131
the initial work is currently in #140

[2020-09-11 23:36] destogl commented on #131
closing in favor of ros-controls/ros2_control_demos#5

[2020-09-11 23:36] #131 closed

[2020-09-12 06:36] bmagyar opened #141 "Add ResourceManager class to controller_manager_package"

[2020-09-12 06:36] bmagyar opened #142 "Add `controller_manager_node` to `controller_manager` package"
Goal for  `loop()`:

[code]

as per demo repo #37

Make sure to have `ControllerManagerNode` as a separate class and a separate one with executor + main functions. The `ControllerManagerNode`  class should allow users to compose ros2_control with other nodes.

[2020-09-12 06:36] bmagyar opened #143 "Add extended/alternative `ControllerManager` class to `controller_manager.hpp`, etc which uses `ResourceManager`"

[2020-09-12 06:52] bmagyar opened #144 "Add Sensor handling to ResourceManager"
After #141

Loading of SensorHardware, handling of Sensor component

[2020-09-12 06:54] bmagyar opened #145 "Add Actuator handling to ResourceManager"
After #141

Loading of ActuatorHardware, handling of Actuator component

[2020-09-12 06:58] bmagyar opened #146 "Add Handling of Sensor in the SystemHardware context"

[2020-09-12 10:45] destogl commented on #141
Tasks:

- [ ] Make maps with access to state and command interfaces of components check in the Ressource manager they are done properly, See example 6 where ActuatorHW provides commands and SensorHW provide state for the same Joint Component

[2020-09-15 12:37] destogl opened #148 "Shared implementation for *Hardware components"
During the development of the first `*HardwareInterface` for the example robot, I came across some functions which will often be the same in 90% of implementations. I think we should provide this default implementation to make it easier for the users. The best way would be to add virtual implementation of a `*HardwareInterface` classes, but this would increase the footprint of the library and head

[2020-09-15 15:36] v-lopez commented on #60
https://github.com/ros-controls/ros2_control/pull/139 is ready for review, I'm still using old nomenclature.

[2020-09-16 03:26] chch2010523 opened #150 "cmake error when compile the ros2_control"
ubuntu 20.04+ros2 foxy
the fatal information is as follows:

[code]
it seems that the control_msgs is not installed. Where to find it? Thx

[2020-09-16 07:50] jordan-palacios commented on #150
You have two options:

A. Add the https://github.com/ros-controls/control_msgs repo to your workspace. You'll need to use the `foxy-devel` branch.

B. Install the `ros-foxy-control-msgs` from the ROS repositores

[2020-09-16 09:50] #150 closed

[2020-09-17 07:53] v-lopez opened #151 "Unify return_type nomenclature in hardware_interface and controller_interface"
I propose the name change to keep the same nomenclature as for `hardware_interfaces`. What do you think?

[code]

_Originally posted by @destogl in https://github.com/ros-controls/ros2_control/pull/139#discussion_r489326777_

hardware_interface uses `OK` and controller_interface uses `SUCCESS`

[2020-09-17 15:56] bmagyar commented on #151
I agree and I think we should pick the shorter one, I vote for `OK`.

[2020-09-17 20:21] destogl commented on #151
I vote also foe OK. It is a bit broader term, but still with the clear meaning.

[2020-09-17 20:32] Karsten1987 commented on #151
OK sounds good to me, too.

[2020-09-18 06:23] v-lopez commented on #151
All right, I'll do after https://github.com/ros-controls/ros2_control/pull/139 is merged to avoid conflicts

[2020-09-18 08:44] v-lopez opened #152 "Loading a controller should only be allowed after controller_manager has been configured"
can you please open an issue for this and reference it in here too?

_Originally posted by @bmagyar in https://github.com/ros-controls/ros2_control/pull/139#discussion_r490768871_

Probably a trivial issue outside of tests, since the load controller service is enabled on configure.

[2020-09-18 08:47] v-lopez opened #153 "Cache running controllers to avoid checking status on update() loop"
_Originally posted by @bmagyar in https://github.com/ros-controls/ros2_control/pull/139#discussion_r490770028_

It could also be used for reactivating previously active (or running) controllers on controller_manager activate (https://github.com/ros-controls/ros2_control/pull/139#discussion_r490786849)

[2020-09-19 12:34] destogl opened #154 "Rename index variables for in `ControllerManager`"
I'm not sure I understand the question, why not use this function on line 105?

First of all  I believe it's important to view there (line 105) the "magic" with the `controllers_lists_` indexes.

Besides that, this creates a copy, and the code there needs to modify the original. We could return a non-const reference for that, but I believe viewing the indexes here is important.

We might rename th

[2020-09-20 12:46] destogl opened #155 "#134 broke MoveIt builds"
With the merge of #134 the MoveIt source build fails. Check:  ros-planning/moveit2#283

Since we will brake the interfaces one more time to use componets, i.e., `Joint` and `Sensor` classes, they should keep using older version for now. I mentioned that in a [issue comment](https://github.com/ros-planning/moveit2/issues/283#issuecomment-695782913)

This issue should remind us to contact the MoveIt

[2020-09-21 19:38] bmagyar commented on #138
@ipa-mdl has there been an update with the osrf images? Should I just try again?

[2020-09-21 19:39] bmagyar commented on #94
@v-lopez it seems you've covered some of this already? at least in terms of scaffoldings

[2020-09-22 06:34] v-lopez commented on #94
The scaffoldings yes, the whole checking for conflict not though. I was under the impression that this was going to be handled with the new resource interface.

[2020-09-22 07:26] bmagyar commented on #94
I've added this to the ros1 features and also the new components projects... I think I'll remove it from the ros1 board as it's really only relevant for components at this point

[2020-09-22 09:38] jordan-palacios commented on #155
Ah, I missed that one. Thanks for handling it.

[2020-09-22 17:10] #138 closed

[2020-09-23 17:24] bmagyar opened #160 "Remove ControllerLoaderInterface"
https://github.com/ros-controls/ros2_control/pull/139#discussion_r489310568

[2020-09-23 20:02] AndyZe commented on #132
Working on this

[2020-09-25 05:38] v-lopez opened #162 "Remove ControllerSpec"
Integrate name and type fields in the ControllerInterface.

See https://github.com/ros-controls/ros2_control/pull/139#discussion_r492323425

[2020-09-25 18:42] Karsten1987 opened #163 "Add Codecov GH action"
As per title. The action for enabling codecov could be added to this and the ros2_controller repo.
More details on how to enable these can be found here: https://github.com/ros-tooling/action-ros-ci#generate-and-process-code-coverage-data

[2020-09-25 18:58] Karsten1987 opened #164 "Implement ResourceManager based on Components"
With the newly introduced components, the requirements for the resource manager are as follows:

* Remodel Hardware Components
  * Remove existing "joint" and "sensor" components
  * Move hardware resources into components namespace and use as such
  * Update component parser to reflect changes
* Remodel Component Interfaces
  * Introduce handles for command and state interfaces to hardware compon

[2020-09-26 23:08] AndyZe commented on #132
@bmagyar @destogl Does component_info.cpp need to be updated as well, or is it correct now? Here's the data structure there:

[code]

[2020-09-29 08:05] jordan-palacios commented on #124
All required tasks have been completed.

[2020-09-29 08:05] #124 closed

[2020-09-29 08:16] v-lopez opened #168 "Review how to provide controller parameters"
The current implementation summarized:

`ControllerManager` allows undeclared parameters [here](https://github.com/ros-controls/ros2_control/pull/139/files#diff-62ce0dd4e11b38feb99d1047dfa80fc0R44)

If a controller with name `arm_trajectory_controller` must be loaded using the service interface, there must exist a `/controller_manager/arm_trajectory_controller.type` parameter with the type of the

[2020-10-01 11:13] destogl opened #172 "Why I can not find libraries after clean build"
I have the following problems:

1. [ERROR] [launch]: Caught exception in launch (see debug for traceback): package 'controller_manager' found at '/home/stogl/workspace/ros2_ws_eloquent/install/controller_manager', but libexec directory '/home/stogl/workspace/ros2_ws_eloquent/install/controller_manager/lib/controller_manager' does not exist
  - `controller_manager` is in '/home/stogl/workspace/ros2

[2020-10-01 19:19] Karsten1987 commented on #172
Every node has to be installed into `../lib/<pkg_name>` in order for the `ros2cli` tools to pick it up. The correct CMake line would be something along the lines of `install(ros2_control_node DESTINATION lib/${PROJECT_NAME}`. See [this example](https://github.com/ros2/examples/blob/master/rclcpp/topics/minimal_publisher/CMakeLists.txt#L30).

[2020-10-01 19:23] Karsten1987 opened #173 "Remove Joint/Sensor base class from hardware_interface"
While I generally agree that a base class for a generic multi interface component (joint, sensor) makes sense, I don't see it being placed in the hardware interface as this imposes every follow up component to inherit from it.

I see a better place for this in a dedicated package where derivations of it can easily inherit from, but significantly different components are not forced to work around a

[2020-10-01 20:06] Karsten1987 opened #174 "Realtime safe access to read & write components"
The current component interfaces are not designed for realtime access. I personally see two ways of solving this, both come with some drawbacks:

* expose internal data pointer to the component's internal memory allocation. The idea is equivalent to `std::data` (https://en.cppreference.com/w/cpp/iterator/data) which is implemented by pretty much all STL containers.
 PRO: No need to adapt a complex

[2020-10-02 11:42] destogl commented on #172
I would to leave this reopened, because we do not have such defintion in almost any CMakeLists.txt

As you can see it also does not work with the controller_manager library.

I will do a PR with this changes.

[2020-10-02 14:07] destogl commented on #168
I did some kind of ["proposal" YAML](https://github.com/ros-controls/ros2_control_demos/blob/8eec4e097eafbb12a0c0b5f78c35bb98caef3023/ros2_control_demo_robot/controllers/rrbot_forward_controller_position.yaml) during development of #147.

Here the out for the discussion:
[code]

I am not very fond of this solution since there is a controller's name three times in the YAML.
I tend to be restrictive

[2020-10-03 19:07] bmagyar opened #179 "Rename `hardware_interface::hardware_interface_status` to `hardware_interface::status`"

[2020-10-06 00:40] mateus-amarante commented on #160
I would like to get deeper into ros2, so I propose to start solving good first issues. May I get this one?

I only have some questions about it:
* Should `ControllerLoaderPluginlib` exist (as a`ControllerLoader`) or can it be  `pluginlib::ClassLoader<controller_interface::ControllerInterface>` directly?

* Does the list of loaders inside the `ControllerManager` make sense? Can I remove it too?

[2020-10-06 01:34] mattnds commented on #179
I can take this one if you don't mind

[2020-10-06 05:22] Karsten1987 commented on #160
#175 is a first start to do that. It needs a bit more love though. If you don't mind, please feel free to take over that PR and either open a PR against that branch or cherry-pick the existing commits onto your own branch and open a new PR from your branch.

Happy to hand this one over :)

[2020-10-06 10:17] destogl commented on #174
Here a proposal to make the management of interfaces/handes access simpler from the controller perspective.

1. ControllerManager reads `joint_names` and `interfaces` parameters from the parameter server
  - the parameters are than in the controller_manager namespace
2. ControllerManager ask ResourceManger for confilicts and does not initialize the controller if there are any
3. ControllerManager

[2020-10-06 10:17] destogl opened #183 "ResourceManager should be part of the controller_manager package"
The issue is that `ControllerInterface` uses `ResourceManager` in place of `RoboHardware.

This could be resolved by chaining `ControllerInterface` as discussed in #174

In general, I agree with you, only issue here are potentially cyclic dependencies if the `resource_manager` is in the `controller_manger` package:

controller_manager -> controller_interface -> resource_manager

A solution could b

[2020-10-06 10:19] destogl opened #184 "Remove BOOST compiler defintions from CMakeLists.txt files in rolling/galactic"
ros/pluginlib#199

@Karsten1987 hello dear Sir, do you think it'd be possible to flip this around and make people *enable* boost functionality if they need it, given that we are so strongly encouraged to not use boost? Or is this already done somewhere upper-stream?

_Originally posted by @bmagyar in https://github.com/ros-controls/ros2_control/pull/147#discussion_r499124758_

[2020-10-06 11:05] mateus-amarante commented on #160
I didn't see #175. You have already done most of the update :)

I'll finish it.

[2020-10-06 22:42] Karsten1987 commented on #174
I have an implementation ready for my second proposal which I would love to bring into a PR, but I guess it needs 147 to be merged beforehand.
alternatively, I could update #165 to reflect these changes.

[2020-10-07 05:55] destogl commented on #174
@Karsten1987  do you mean the second proposal from your [comment](https://github.com/ros-controls/ros2_control/issues/174#issue-713148056)? This also depends on #171 am I right?

I would go as discussed on Monday, we proceed with #147, #170 and #171 and than close #165 .

[2020-10-07 08:08] destogl opened #186 "User unique_ptr in ResourceManager"
consider to put them in the initializer list with `std::make_shared` / `std::make_unique`.
But first, why are these shared pointer and not unique pointers, and second, why are these pointers in the first place?

_Originally posted by @Karsten1987 in https://github.com/ros-controls/ros2_control/pull/147#discussion_r499863280_

I started porting stuff from @Karsten1987 from #165 but it was not tivia

[2020-10-08 06:40] #160 closed

[2020-10-09 04:12] dignakov commented on #172
I think that definition only needs to be changed/added to nodes/executables that would be run through `ros2 launch` or `ros2 run`

This should be the right way to do it?
[code]
I think the only node so far is `ros2_control_node` , which would need to be in `lib/${PROJECT_NAME}`
[code]

[2020-10-10 09:49] bmagyar opened #188 "Refactor enforceLimits in joint_limits_interface"
We are using snake case in this codebase

_Originally posted by @bmagyar in https://github.com/ros-controls/ros2_control/pull/181#discussion_r502761169_

[2020-10-10 09:49] bmagyar opened #189 "Update all the licenses in joint_limits_interface to Apache 2"
we need to update all the licenses in joint_limits_interface

_Originally posted by @bmagyar in https://github.com/ros-controls/ros2_control/pull/181#discussion_r502761334_

[2020-10-10 09:50] bmagyar opened #190 "Need to add joint_limits_interface to linting jobs on CI"
Need to add joint_limits_interface to linting jobs on CI

_Originally posted by @bmagyar in https://github.com/ros-controls/ros2_control/pull/181#discussion_r502771522_

[2020-10-10 09:53] bmagyar opened #191 "joint_limits_interface should not wrap JointHandle in shared_ptr"
@bmagyar @Karsten1987 @destogl In this refactor for #134 I went with JointHandle arguments wrapped in  std::shared_ptr<>, should these have been without shared_ptr? This was due to a commit I was using as a reference that had shared_ptr, but after reviewing more code such as robot_hardware.cpp I dont see any reason to use shared_ptr here, the JontHandle by value would work fine and probably more c

[2020-10-10 09:54] bmagyar commented on #191
@guru-florida please go ahead and make these changes on a new PR, I've merged the old one.
You may want to branch off from a fresh checkout of master, we squash-merge PRs.

[2020-10-10 15:22] guru-florida commented on #191
Will do. I can take care of #188 and #189 at the same time. Would you like them as individual PRs or just one?

[2020-10-10 15:29] bmagyar commented on #191
I've already submitted for #189 and #190  in #193 and #192.

Happy for you to do #188, just leave a note that you are doing it so nobody else starts it. It's fine to mash them up in the same PR :+1:

[2020-10-10 15:46] guru-florida commented on #188
FYI  I'll be completing this as part of #191.

[2020-10-13 07:42] #189 closed

[2020-10-13 07:43] #190 closed

[2020-10-13 12:57] guru-florida commented on #191
@bmagyar PR #194 fixes issue #191 and #188. Please, review caveat in PR comment about hardware_interface.

[2020-10-13 23:58] mattnds commented on #179
The pull request was submitted yesterday and was merged. We can close this issue out.

[2020-10-14 05:31] destogl opened #196 "Tests for the ResourceManager in #147"
To finalize #147 a few tests for the ResourceManger are needed. Those are the following:

- [ ] Loading and Configuring resources:
      * Function `load_and_configure_resources_from_urdf` using the URDF from the [roadmap's Example 1](https://github.com/ros-controls/roadmap/blob/master/design_drafts/components_architecture_and_urdf_examples.md#1-industrial-robots-with-only-one-interface)
- [ ] Add

[2020-10-14 14:56] #179 closed

[2020-10-14 14:56] bmagyar commented on #179
Thanks!

[2020-10-16 16:28] simutisernestas opened #197 "Launching ros2_control with diff_drive_controller"
Is it possible to launch ros2_control with diff_drive_controller at his stage? If not, I would be interested in contributing to the project.

[2020-10-19 15:22] simutisernestas commented on #197
I've managed to accomplish that.

[2020-10-19 15:22] #197 closed

[2020-10-21 15:50] destogl commented on #132
I reopen this since the issue is not settled completely (see [comment](https://github.com/ros-controls/ros2_control/pull/167#pullrequestreview-512395931))

[2020-10-21 16:00] Karsten1987 commented on #132
I am btw strongly against CamelCase [here](https://github.com/ros-controls/ros2_control/blob/891f524ee4a9f9cc7c7ddccfb078db8b23435c41/hardware_interface/src/component_parser.cpp#L35-L36) and would vote for `snake_case`. I don't see any help in searching for "commandInterfaceType". First off, I believe the tag name is too long, but then the parser should at least allow for variants of this such as

[2020-10-21 16:27] destogl commented on #191
@guru-florida this seams to be solved in #194. Is it OK to close the issue?

[2020-10-21 16:45] destogl commented on #132
I agree. We should update the example descriptions in the roadmap repo and then also the parser, as soon as we merge ros-controls/roadmap#27

[2020-10-21 19:47] guru-florida commented on #191
Yes, this and #188 can be closed.

[2020-10-21 23:09] Karsten1987 opened #199 "Windows Compilation - Cleanup visibility macros"
There's currently a wild mix of visibility macros used throughout the code base. These only have to be placed on function (as class declarations) which are going to be used cross library boundaries.
If there's an implementation of some function inside a header file, that's no cross library as the code gets compiled in the target library and thus doesn't need any declaration. This obviously also go

[2020-10-22 00:16] Karsten1987 commented on #199
I am flagging this with "good first issue" knowing that things might not be super easy to set up, but should nevertheless be straightforward.
Happy to help out by running (Windows) CI on incoming PRs.

[2020-10-22 00:39] Karsten1987 opened #200 "[hardware interface] Remove rclcpp dependency"
Currently, rclcpp is only being used within the hardware interface to invoke the logger functionality.
I believe for this, the dependency of rclcpp is really heavy. We should consider logging through rcutils.

[2020-10-22 06:59] bmagyar commented on #200
@mateus-amarante perhaps you may be interested in this?

[2020-10-22 10:39] mateus-amarante commented on #200
I can get this one!

I also want to take a look at other good first issues and start playing with the lib this weekend so I can learn a bit more and maybe start contributing more actively.

Thanks.

[2020-10-22 17:31] Karsten1987 opened #202 "update doxygen style to ros2 core"
We're currently using a different style of doxygen than the rest of the ros2 core packages. We should adapt their style in the form of
[code]

examples can be found here: https://github.com/ros2/rclcpp/blob/master/rclcpp/include/rclcpp/node.hpp#L79-L84

[2020-10-22 23:01] #200 closed

[2020-10-23 19:06] Karsten1987 opened #208 "consolidate test material"
many tests are requiring some sort of mocked robot material, whether it's the actual hardware or a URDF.
Right now, these things are copied across multiple repositories and should be ideally consolidated into a single location, most likely their own package in the style of `ros2_control_test_material`.

[2020-10-23 21:34] Karsten1987 opened #210 "change min/max values to double"
The current component_info declares their min and max values as strings. I am not really sure why that's the case, but I think this should be changed to doubles.

[2020-10-24 07:55] #163 closed

[2020-10-24 08:02] bmagyar commented on #210
It is considered an optional argument in the implementation, I guess it was an easy way to communicate that.
A better solution would be `std::optional<double>` or `boost::optional<double>` but I take it none of that is really an option for us ATM. Is there an `rclcpp::optional` that's not using boost and doesn't need C++17? Or can we just move to C++17 now?

[2020-10-24 18:31] guru-florida opened #212 "RobotHardware::register_joint() will invalidate existing handles"
Calling RobotHardware::register_joint() will invalidate existing handles retrieved from get_joint_handle() since registering a new joint interface grows the underlying vector<double> of the DynamicJointState msg. Invalidated handles may produce random values or SEGV upon access. This underlying implementation detail is not explained to the API user.

**Affects**
Any use case involving pre-setup of

[2020-10-24 20:32] destogl commented on #210
The idea was to provide different interface types, so that the concrete component would parse the data into a specific type. But since we are being more specific now, it can make sense to support only doubles.

Will we ever have an interface which uses any other data than double? Some tools or something maybe? Do you have any idea?

Let's just move to C++17...

[2020-10-24 20:33] destogl commented on #208
Thanks for opening this!

[2020-10-24 21:17] bmagyar commented on #208
I'd propose to move `test_robot_hardware` in there too or whatever is the equivalent in the future. How about `ros2_control_test_assets`?

[2020-10-25 18:19] Karsten1987 commented on #210
I guess that's reason enough for me to justify the use of a string here. Thanks for the clarification.

[2020-10-25 18:19] #210 closed

[2020-10-26 11:20] ahcorde opened #213 "controller_interface namespace"
I'm facing an issue in `gazebo_ros2_control` https://github.com/ros-simulation/gazebo_ros2_control/issues/37. The `controller_interface` is not setting up the node namespace.

See this line of code: https://github.com/ros-controls/ros2_control/blob/master/controller_interface/src/controller_interface.cpp#L29

[2020-10-26 16:51] destogl commented on #164
Can we rename "Handle" to "Interface".   We are actually talking all the time about Robot-Interfaces (position, velocity, etc...)

The reason I am against the handles because it is confusing to me to access the robot through them. I am missing some clarity.

Is it me, or are there also similar opnions?

[2020-10-26 18:34] Karsten1987 commented on #164
I am in favor of renaming them to interface. That'll go along with the nomenclature we've introduced in the URDF. I'll change #203 to use `CommandInterface` and `StateInterface`.

What do you think?

[2020-10-27 07:32] bmagyar opened #214 "ros2ci foxy source job failing on master"
I couldn't reproduce the issue, it seems that there's a failure with taking down the launch test.

here's the relevant snippet from https://github.com/ros-controls/ros2_control/pull/209/checks?check_run_id=1313191689
[code]

while when I locally run the same, I get this
[code]

@piraka9011 @Karsten1987 do you guys have any clue why we'd be seeing this? Anyone worth contacting?
[code]

[2020-10-28 13:30] kong2983 opened #215 "JointStateHandle not available"
I am configuring HardwareInterface using JointStateHandle. As in the example,
I tried to call hardware_interface::JointStateHandle using the latest package, but I got an error saying that the package could not be found.
I noticed that the JointState Handle disappeared from the latest package and the JointHandle package was created.
Should I change the existing JointStateHandle to JointHandle?
And,

[2020-10-28 19:59] destogl opened #217 "Remove `TestRobotHardware` from ros2_control_node"
#216 is introducing the default ros2_control node.

Since the `ControllerManager` is currently expecting `RobotHardware` the `TestRobotHardware` class is hard-coded.
This should be removed as soon and the interface changes and `ResourceManager` is finished. (see the comments in the code)

[2020-10-28 20:02] destogl opened #218 "Remove parameter declaration from the ControllerManager constructor"
To satisfy the CM-tests in #216, the parameters in the `ControllerManager` are declared.
This should probably not be the case (see also discussion in #168).
Find out how to set the parameters in the tests, e.g., `test_controller_manager.cpp`

[2020-10-28 20:10] destogl opened #219 "Abstract Sensor implementations and its package"
As in ROS1 we would like to provide default implementation of shared functionalities for commonly used sensors, e.g., FTS and IMU.
Those implementations should be stored in a separate package inside ros2_control repository.

Name proposals:
- `ros2_control_components`
- `ros2_control_default_components`

An example implementation of an abstract sensor would then look something like this:
[code]

A

[2020-10-29 13:50] destogl opened #220 "[hardware_interface]: Remove uncecessary return codes"
Since we are currently using @Karsten1987's implementation, some return codes are uncecessary. This should be removed.

https://github.com/ros-controls/ros2_control/blob/3d542bb045860cdc7e7338c2e16a73985e387511/hardware_interface/include/hardware_interface/types/hardware_interface_return_values.hpp#L27-L39

[2020-10-29 14:11] destogl commented on #196
Obsolete since #147 is closed.

[2020-10-29 14:11] #196 closed

[2020-10-29 14:14] destogl commented on #215
Hi @kong2983,

You can do this, but please keep in mind that the interface will change again soon. So if you are doing only some testing, you can use older version of start incremental switch. It's up to you.

[2020-10-29 14:21] destogl commented on #213
Is #216 solving your issue? Check this line of code: https://github.com/ros-controls/ros2_control/pull/216/files#diff-ef3035625d6e5c566b8d29dc255f3297c6a53186b8ebf048e639198e0df937deR30

This code worked in my tests with "components" concept. It also solves the issue with undeclared parameters #168

[2020-10-29 15:23] ahcorde commented on #213
Not really, In gazebo_ros2_control, I need to create an instance of this class.  I can't see in these lines how the namespace is included.

Maybe we can create another init() method with the namespace as an argument ?

https://github.com/ros-controls/ros2_control/pull/216/files#diff-ef3035625d6e5c566b8d29dc255f3297c6a53186b8ebf048e639198e0df937deR29-R32

[2020-10-30 02:25] guru-florida commented on #215
Hi @kong2983,

The process to switch JointStateHandle code to use new JointHandle is basically:

1. Loop through your joints calling RobotHardware::register_joint(JointName, JointInterfaceName). JointInterfaceName is going to be one of "position", "velocity" or "effort" for states or "position_command", "velocity_command", etc for command handles.
2. Loop through your joints again and retrieve han

[2020-10-30 23:44] destogl opened #221 "I would be in this comment more concrete. Something like:"
I would be in this comment more concrete. Something like:
[code]
What do you think?

__Originally posted by @destogl in https://github.com/ros-controls/ros2_control/pull/203#discussion_r514270636__

[2020-10-31 00:26] destogl commented on #213
Oh sorry, I misinterpreted your question...

Yes we could do this

[2020-11-02 06:51] bmagyar opened #222 "Remove/refactor `Handle::set_value(std::string name, double value)` ?"
_Originally posted by @destogl in https://github.com/ros-controls/ros2_control/pull/203#discussion_r515428853_

[2020-11-04 15:36] v-lopez commented on #168
@destogl But in this proposal, at which point in time do you load the yaml?

Right now what happens is:

1. Start controller_manager
2. Load Controller "forward_command_controller_position" via service call for instance
3. Controller is configured as part of the load, reads parameters.
4. Start controller via service

The problem is that parameters can only be set after **2.**, because prior to th

[2020-11-05 17:43] Karsten1987 commented on #217
I am not sure I fully understand this issue. What's the benefit of temporary hardcoding TestRobotHardware? Shouldn't the ros2_control node fetch the URDF and get the robot hardware from there?

[2020-11-08 19:18] AndyZe opened #227 "SystemInterface::write() should be const"
In system_interface.cpp:

`virtual return_type write() = 0;`

Should probably be:

`virtual return_type write() const = 0;`

since it only sends a command to the hardware

[2020-11-08 20:15] bmagyar commented on #227
The reason for this was that we can't assume that the implementation of that function will be stateless for every component. Some components may be given APIs that are non-const or operate on stateful comms objects.

[2020-11-08 20:15] bmagyar commented on #227
fyi @destogl @Karsten1987 if you guys have specific examples

[2020-11-08 21:10] AndyZe commented on #227
Ok, that makes sense. May want to track the previous command, for example.

[2020-11-08 21:10] #227 closed

[2020-11-09 17:20] AndyZe opened #229 "controller_manager libexec directory not found"
When launching the `controller_manager` from a launch.py file like this:

[code]

I get the error:

`exception=SubstitutionFailure("package 'controller_manager' found at '/home/andy/ws_ur2/install/controller_manager', but libexec directory '/home/andy/ws_ur2/install/controller_manager/lib/controller_manager' does not exist")`

Screenshot of my install directory attached.

![install_directory](http

[2020-11-09 17:39] AndyZe commented on #229
I suppose this is because the executable is not ready yet, and I just need to wait?

[2020-11-09 22:57] Karsten1987 opened #230 "remove ::components sub-namespace from hardware interface"
After seeing hardware_interface::components::SystemInterface et al a couple of times I think that the components middle namespace is soon going to outlive it's usefulness, we should aim to remove it & perhaps rename the hardware_interface package.

_Originally posted by @bmagyar in https://github.com/ros-controls/ros2_control/pull/224#discussion_r519194123_

[2020-11-09 23:16] Karsten1987 opened #231 "remove default argument for deleter in loaned classes"
I'd opt for enforcing defining a deleter, even if one wants a nullptr, let them write it explicitly. For command interfaces the normal case is to use a deleter to release the resource.

_Originally posted by @bmagyar in https://github.com/ros-controls/ros2_control/pull/224#discussion_r519193208_

[2020-11-10 11:40] BasVolkers opened #232 "Unable to build joint_limits_interface"
When trying to build the 'joint_limits_interface' package I get the following error:
[code]

When I look at https://github.com/ros2/urdf/tree/ros2/urdf/include/urdf it seems that this file does indeed not exist.

[2020-11-10 19:52] ckenwood commented on #232
There is a missing dependency specification in the joint limits interface package `CMakeLists.txt` when building the tests.

Line 38:
`ament_target_dependencies(joint_limits_urdf_test rclcpp)`
Should read:
`ament_target_dependencies(joint_limits_urdf_test rclcpp urdf)`

The referenced file exists in the linked `urdf` repo but [one level up](https://github.com/ros2/urdf/tree/ros2/urdf); it gets ins

[2020-11-11 01:59] Karsten1987 commented on #168
From reading through this, there's really two problems here:

1.) How to load a controller by name

Is there a chance to enhance the service call to take not only a controller name but also it's appropriate type? I don't see a big drawback to this as I believe the type is just as well known as the controller name at the time of loading.

2.) How to propagate parameters to the controllers
At the ti

[2020-11-11 07:40] v-lopez commented on #168
Regarding 1) the service could be changed to take the type as an input, it will be less convenient for people who need to be stopping and starting controllers continuously, that for sure is us and some of our customers. If the parameter's are going to be in a central location as suggested in 2) I'd keep it like that.

2) I'd go for your second suggestion, to let controllers read parameters from th

[2020-11-11 07:47] bmagyar commented on #168
I've been thinking about this for the last couple of days and agree with declaring it all parameters in the `controller_manager` namespace. It's not ideal as we lose some nice online configurability but when the choice is between that and not having parameter handling or having to pass in redundant information, I am supporting to propagate parameters to the controllers from the controller manager

[2020-11-11 07:51] Karsten1987 commented on #168
Don't you have to do exactly this when parameters are going to be changed? ROS2 gives you a nice way of subscribing to parameter changes (you get a callback). If you force each controller node to exclusively look for their parameters on another node (aka the controller manager node) you'll lose that one.

[2020-11-11 08:12] v-lopez commented on #168
I was thinking about how you'd read those parameters from an intermediate structure provided by the controller manager, so unless that controller manager actively updates this structure you'd be using outdated params, but I didn't think about that parameter changes callback.

I'll get back to you once I've worked a bit more on it.

[2020-11-11 14:19] bmagyar commented on #168
@Karsten1987 and this is what I meant by not focusing on this for now. Better lose niceties in the short term than not having a short term.

[2020-11-11 15:58] v-lopez commented on #152
Controller manager doesn't need to be configured anymore.

[2020-11-11 15:58] #152 closed

[2020-11-11 16:19] Karsten1987 commented on #168
I wouldn’t consider this a nice thing to have. It’s fundamentally different from what all the ros2 parameter tutorials would tell you how to deal with parameters.
We at least have to make this clear that the regular ros2 concepts don’t apply here. And that concerns me a bit.

[2020-11-11 16:33] v-lopez commented on #168
Please take a look at #234.

I've added the callback thing, so the parameters are updated on the controller's node, I believe operation will not be different in general.

One thing that will differ, is that if someone updates directly the controller's parameters, the controller_manager copy of the parameters will not be updated.
If needed we could add a callback in that direction as well, not sure

[2020-11-11 20:19] Karsten1987 opened #235 "Avoid heap allocation for pluginlib in controller manager"
I tried to avoid using a shared pointer (or generally prevent heap allocation) for the pluginlib and I ran into a segfault when trying to reload the controller libraries.

error:
[code]

All other tests passed correctly, but it seems that replacing
[code]
with
[code]

yields to some internal error. Don't really know why.

@v-lopez any idea?

[2020-11-11 20:21] Karsten1987 commented on #235
At the same time, I am seeing the following:
[code]

which makes me wonder why this test is marked as `passed` if clearly something goes wrong there.

[2020-11-13 06:56] Karsten1987 commented on #168
@v-lopez how did you test the current master branch?

I've tried to load a test controller via the service call and it immediately crashes:
[code]

given a name with a `/` makes the parameter name invalid from what I get from the console output. How am I supposed to make this work?

[2020-11-13 07:13] Karsten1987 commented on #168
Then further, even if I hardcode the type within the controller manager, the instantiation of the node crashes with the following:
[code]

I feel like the loading mechanism is currently broken :(

[2020-11-13 08:10] v-lopez commented on #168
What's the branch you are using for getting the urdf?
Anyway, the name of the controller cannot have `/`.
Shouldn't param be: `-p "joint_state_controller.type:=joint_state_controller::JointStateController"`

[2020-11-13 08:33] v-lopez commented on #235
Regarding the warning in the test, it is due to the test keeping an instance of the controller [here](https://github.com/ros-controls/ros2_control/blob/master/controller_manager/test/test_controller_manager_srvs.cpp#L219), that is used [after the reload](https://github.com/ros-controls/ros2_control/blob/master/controller_manager/test/test_controller_manager_srvs.cpp#L249) to make sure that the `fo

[2020-11-13 08:34] Karsten1987 commented on #168
I am working on this PR: https://github.com/ros-controls/ros2_control/pull/236

but yes, you're right. The name of the controller here got me confused. It's essentially the node name of the controller, not the name of the plugin being exported via pluginlib.xml.

Running it with your suggestion make it work. The controller I am using is here: https://github.com/ros-controls/ros2_controllers/pull/1

[2020-11-13 18:03] Karsten1987 opened #238 "move lambda out of constructor"
https://github.com/ros-controls/ros2_control/blob/925f5f3b4b9bfc61214e015c7ff11a80e61e5d0b/hardware_interface/src/resource_manager.cpp#L164

[2020-11-14 14:07] destogl commented on #168
@v-lopez: I am loading them in the launch file before of anything else.
I will try got get a demo work in the next days, so you can check "hands-on" the idea.

[2020-11-15 19:38] BasVolkers commented on #232
Thank you!

[2020-11-15 19:38] #232 closed

[2020-11-16 15:03] destogl commented on #168
@v-lopez: I just look again at this issue and corresponding PR #234
My first answer were probably confusing to you, as well as this issue to me :)
I all my current tests I didn't experience it at all. Not at #147  and not in the new version demo explained [here](https://github.com/ros-controls/ros2_control/pull/236#issuecomment-727597491).

I am using this yaml, loaded when starting the `ros2_cont

[2020-11-16 15:16] v-lopez commented on #168
My guess is that if the parameters are loaded as part of the launch file, they are stored in a file in `/tmp`, and each time you instantiate a Node inside that application, it loads the parameters from the file if there are any.

But if you run using a launch file, a controller_manager with some default controllers with their parameters, and later you want to load a different controller, you canno

[2020-11-16 17:05] destogl commented on #168
Thanks, I think I am getting it now...

So, you are using the same name for the controller?
This would explain that you need `type` parameter in the `ControllerInterface` class

[2020-11-16 17:57] v-lopez commented on #168
Yeah, the most reduced example is that you start a controller_manager without controllers configured.

Later, you set the parameter `controller_manager.joint_trajectory_controller.type` to `"joint_state_controller/JointTrajectoryController"`. And you need to be able to load the rest of the parameters in the `joint_trajectory_controller` namespace before loading the controller itself, or the `confi

[2020-11-17 13:10] bmagyar commented on #29
Closing as per #176

[2020-11-17 13:10] #29 closed

[2020-11-17 13:23] #132 closed

[2020-11-17 13:25] bmagyar commented on #145
This can be assumed rejected.

Actuator *components* are just like any other components, actuators as in the transmission handling context are the internal business of system components. A non-issue ATM.

[2020-11-17 13:25] #145 closed

[2020-11-17 13:26] bmagyar commented on #142
#216  and #236 contain an alternative implementation of this

[2020-11-17 13:39] bmagyar commented on #84
#92 resolved this

[2020-11-17 13:39] #84 closed

[2020-11-17 22:27] ckenwood opened #242 "VelocityJointSoftLimitsHandle does not allow position beyond soft limits"
Per URDF specifications, joints should slow down beyond soft limits but still be capable of reaching hard limits.

The logic in `VelocityJointSoftLimitsHandle`'s `enforce_limits` function (inserted below for convenience) does not seem to allow this behavior when using position and acceleration limits.

[code]

Consider the case where a URDF file gives:
[code]
and a complementary config file gives:

[2020-11-18 01:22] #242 closed

[2020-11-18 01:29] ckenwood commented on #242
This is consistent with the following from [Safety Limits](http://wiki.ros.org/pr2_controller_manager/safety_limits):

This states that the joint will not be commanded beyond its soft limits.

The [URDF joint documentation](http://wiki.ros.org/urdf/XML/joint) seems contradictory to me, as it suggests that joint limiting begins at the soft limits.

An attribute specifying the lower joint boundary w

[2020-11-18 11:17] destogl opened #243 "Resource Management - enabling Tool-Changes and Multi-HW suppor"
Something for future work (maybe after the first release),

Now with `ResourceManager`, we can load resources also during the run-time dynamically. A typical example of this is tool-changing, as described by the following scenario:

* URDF has a robot with two different grippers defined.
* On start, all the libraries can be loaded.
* When starting the physical system, only the robot and to it atta

[2020-11-18 17:40] destogl commented on #230
@bmagyar  I find `hardware_interface` not bad. It actually provides interfaces for implementing the hardware. Or what is your take on it?

[2020-11-18 17:42] destogl commented on #186
obsolete...

[2020-11-18 17:42] #186 closed

[2020-11-18 17:44] destogl commented on #141
After we merge #236 this could be triggered again. There are no circular dependencies anymore.

[2020-11-18 17:47] destogl commented on #143
this is done. Or will be merged soon in #236 therefore closing.

[2020-11-18 17:47] #143 closed

[2020-11-18 17:49] destogl commented on #229
This is probably related to #172.

Can you check it?

[2020-11-18 18:04] Karsten1987 commented on #141
I think we should close this. I was thinking about this a little bit in more detail and the resource manager should always be passed into the controller manager. The reason for this is that other applications such as the gazebo ros control packages are instantiating the resource manager "statically" with their internal URDF and don't rely on the controller manager to load plugins.
Also semanticall

[2020-11-18 19:13] destogl commented on #74
The PRs for the release:

[ros2_control](ros-controls/ros2_control):
* #234
* #236
* #240

[ros2_controllers](ros-controls/ros2_controller):
* [joint_state_controller](ros-controls/ros2_controller#110)
* [forward_command_controller](ros-controls/ros2_controller#99)
* joint_trajectory_controller

[ros2_control_demos](ros-controls/ros2_controller_demos)
* [RRBotSystemHardware](ros-controls/ros2_cont

[2020-11-19 13:41] destogl commented on #141
I agree!

@bmagyar: If Karsten's explanation is OK for you, please closeit.

[2020-11-19 13:45] destogl commented on #217
When you merge #236 with ResourceManager than it is resolved. I close it anyway.

[2020-11-19 13:45] #217 closed

[2020-11-19 14:12] gavanderhoorn commented on #74
I haven't been able to attend the meetings, so this could have been discussed there.

Could you provide some more info on availability of interfaces for the two robot OEMs you mention?

[2020-11-19 14:38] destogl opened #244 "Extend list_interfaces service with interface claimed status"
I know it's a PITA but I'd strongly suggest renaming this service. We already have the name "controller interface" for a class, also it doesn't actually capture what's happening here, there's not even a controller at play in this context.

I suggest something along the lines of `ListJointInterfaces` but I wonder if this is strongly required at this stage... I think it may be useful to also denote

[2020-11-19 14:39] destogl commented on #244
Also mentioned in [#236 (comment)](https://github.com/ros-controls/ros2_control/pull/236#discussion_r526919795)

[2020-11-20 05:17] destogl commented on #74
There are currently none, but people said they can provide them. I can notify you when we start to work on it.

I am not experienced with ABB.
For KUKA we will be porting RSI-Driver from kuka_experimental.

[2020-11-25 08:44] v-lopez opened #249 "Replace ControllerInterface LifecycleNode with Node"
Controllers are not regular nodes, they cannot be activated or deactivated from anyone but the controller manager, for many reasons:

1. If we use the `ResourceManager`, we need the `ControllerManager` to assign hardware interfaces. Assignment occurs [before activation](https://github.com/ros-controls/ros2_control/pull/236/files#diff-51a3ffe225a0370e8b9026ea1cb8f0cf34fd5bf6547a239ce8418f445e22a094

[2020-11-25 08:54] v-lopez commented on #249
Another option is to embrace the whole lifecycle thing, but then I believe we need at least to:

1. Ensure that the lifecycle callbacks are executed on the RT thread (whether they are RT-safe or not is another issue) or guarantee that their execution doesn't overlap with the update method.
2. Allow the controllers to claim hardware interfaces themselves, without the controller_manager being involv

[2020-11-25 13:02] destogl commented on #249
If we do that I vote for `ros_control` names: `activate` == `start`; `deactivate` == `stop`

I don't think we should do this.

[2020-11-25 13:06] v-lopez commented on #249
I agree with you on the name thing, it would reduce confusion with the lifecycle states.

[2020-11-25 16:37] bmagyar commented on #249
Thanks for looking deeper into this Victor.
I agree that the external controller lifecycle node interfaces are problematic, especially now that with #236 we are eliminating the connection from controller to RobotHardware/ResourceManager.

The LifecycleNode *reporting* interface and API still have value. My slightly lazy question is: can we have LifecycleNodes *without* the external service interfa

[2020-11-25 17:27] Karsten1987 commented on #249
If so, why bother with Nodes in the first place? If you change from lifecycle node to node, you still have external influence over it, such as their subscriptions, parameter callbacks and whatnot. I am not sure we win much with this.

That's where I see the main focus for now. I think we have to expose the callback groups more explicit and make sure that every controller can add services to either

[2020-11-25 17:46] v-lopez commented on #249
The idea of keeping Nodes was so they could still define params in their own namespaces, as well as "private" publisher, subscribers, etc...
The problem in my opinion is the Lifecycle part of it, not the Node.

I like this as well, but then it renders the activate lifecycle API useless from the outside, since you must go through start_controllers, or you won't be assigned those resources.

[2020-11-25 20:06] destogl commented on #249
I agree with @v-lopez on this. There is still value for the controller to be their nodes, exactly to have their services and parameters.

This obviously needs quite more discussion and thinking. Should we for sake of time "fall-back" to regular nodes and then discuss other options for galactic?

[2020-11-26 07:16] bmagyar commented on #249
With this in mind I'd opt for falling back to Nodes for Foxy, let's see how those work with RT issues and re-evaluate our options for Galactic.

[2020-11-26 08:28] v-lopez commented on #249
So we merge #236, the ones in ros2_controllers for using resource_manager, and then we replace lifecyclenode with node?

[2020-11-26 09:26] destogl opened #250 "Use constants instead of strings for standard interfaces"
I will do that, as soon as we clarify exact names.

_Originally posted by @destogl in https://github.com/ros-controls/ros2_control/pull/241#discussion_r529742582_

[2020-11-26 09:30] destogl opened #251 "Remove controller_name from init function in ControllerInterface"
Reviewing the current controller portings in ros-control/ros2_controllers repository I realized, that this name argument is obsolete. Since controllers are `LifecycleNode`s they have access to their own name through the node name.

[code]

_Originally posted by @destogl in https://github.com/ros-controls/ros2_control/pull/236#discussion_r530619435_

Should be done with changes in #246

[2020-11-27 07:16] destogl commented on #249
Yes, that's the plan. (We will also merge #240 after #236)
@bmagyar would like to have controller working before merge.

[2020-11-30 19:39] livanov93 opened #252 "Create publisher/subscriber when inheriting SystemInterface"
While watching the [hardware interface example](https://github.com/ros-controls/ros2_control_demos/blob/add_rrbot_system_position_joints/ros2_control_demo_hardware/include/ros2_control_demo_hardware/rrbot_system_position_only.hpp), I wondered how can publishers and subscribers be created when inheriting from [SystemInterface](https://github.com/ros-controls/ros2_control/blob/use_resource_manager/h

[2020-11-30 22:35] destogl commented on #252
May I ask why do you need publisher ans subscribers in there? I would use those always through controller, so you know that your real-time constraints are respected as much as possible.
If you need services, that's another beast.

[2020-12-01 17:13] livanov93 commented on #252
I would like to share a flag that is fetched from the robot driver within system hardware interface. It refers to the current state of robot's control, if it accepts commands from ROS side or not.

[2020-12-01 21:40] #164 closed

[2020-12-02 07:38] bmagyar commented on #252
@destogl I can also imagine a non-realtime-safe setup may want to have their data leave ros2_control through topics, I've done similar things with ROS1 and rosserial.

@livanov93 I think your approach of a new thread is the best way for now, dealing with other parameters through the ros2_control_node executor could make things on that end way too messy, we are trying to keep things very tightly co

[2020-12-02 08:01] livanov93 commented on #252
@bmagyar What would be the proper way of handling this now, with respecting real-time contraints?

I could return return_type::ERROR from the [write()](https://github.com/ros-controls/ros2_control_demos/blob/f44d20bee525eeb1363c3f27dd4891875a41b27b/ros2_control_demo_hardware/src/rrbot_system_position_only.cpp#L191) method when the robot stops receiving commands from ROS side.

[2020-12-02 08:48] bmagyar commented on #235
I agree it'd be very hard to remove heap allocation for plugins... What's the verdict on this?

[2020-12-02 08:50] #215 closed

[2020-12-02 09:29] v-lopez commented on #235
I'd vote for closing this because of what I stated at the end of my previous message.
Also I'd focus on what happens in the update() function, which is the RT critical code.

[2020-12-02 14:24] #235 closed

[2020-12-02 16:46] #238 closed

[2020-12-02 18:46] v-lopez commented on #249
Regarding this, would you like me to keep as much as possible the API of the original implementation.

We could even keep LifecycleNodeInterface inheritance, but we would need to define some `configure`, `activate`.. methods like the ones that would be retrieved from LifecycleNode, and connect these methods to the `on_configure` overrides from the controllers.

[2020-12-02 18:57] AndyZe commented on #252
Basically we're just copying the way things were done in ROS1. We may need to rethink this, but we wanted to make service calls to do things like clear robot warnings. I guess the hardware interface may not be the best place to put this stuff.

[2020-12-03 12:36] destogl commented on #249
Would it make sense to create a 'LifecycleInterface' from which 'ControllerInterface' inherits.

So we create a compatibility layer similar to the Lifecycle node implementation.

[2020-12-03 17:07] v-lopez commented on #249
It already inherits from LifecycleInterfaceNode which has the virtual methods for `on_configure`, `on_activate`, etc...
These callbacks are connected to a member LifecycleNode's `configure`, `activate`,...
I don't think the API for the controllers will change in this regard, they still have to put there their code in these callbacks.

What will change is that now there will be no `configure` metho

[2020-12-04 08:47] bmagyar commented on #252
An ideal solution would be self-contained. If you can clear warnings in start/stop methods as opposed to read/write of your System, that should be fine. You'd still need to spin your own Node probably.

[2020-12-04 18:37] #222 closed

[2020-12-05 12:34] bmagyar commented on #214
Fixed via updates

[2020-12-05 12:34] #214 closed

[2020-12-05 12:35] bmagyar commented on #89
Was done, now not done anymore

[2020-12-05 12:35] #89 closed

[2020-12-05 14:04] bmagyar commented on #74
I've added doc and source jobs to Foxy for ros2_control

https://github.com/ros/rosdistro/pull/27622

[2020-12-05 19:01] destogl commented on #74
How should we provide doc? Or how do we want to provide it? also in the long-term.

[2020-12-05 21:32] #220 closed

[2020-12-05 21:38] bmagyar commented on #74
I'd like to contribute those to the main ROS2 docs page if possible, we could create a sub-section there or we could even ask for a subdomain like https://navigation.ros.org/

[2020-12-05 23:20] destogl commented on #74
It would be great if we could have something directly in the repositories. So that each package has `doc` folder. I believe this would be the easiest to maintain and keep track of changes. What do you think?

[2020-12-07 08:42] bmagyar commented on #74
I was actually thinking about this last night and had a similar idea that we should try to keep them local *but* since it'd also be beneficial to have this appear in a central place, we could use a script that collates the individual package docs.

[2020-12-08 16:03] buschbapti opened #260 "MutliThreadedExecutor update rate is unstable"
I have tried following the ros2_control_demos and made some testing to push the frequency of the update rate. Turned out that `hz` the `/joint_states` topic produces inconsistent behaviors with the receiving frequency sometime 10 time slower than expected. I know you are using `MultiThreadedExecutor` and to my experience I had this issue on a publisher on my own. I initially thought it was because

[2020-12-09 07:15] #252 closed

[2020-12-10 15:02] buschbapti commented on #260
Ok good progress has been made on rclcpp side. It has been confirmed that this problem comes from the `MultiThreadedExecutor`  and a path has been found. I have tested it and the solution works for the demo as well and solves this issue. Do you want me to close this issue or should I keep it open until the patch has been pushed to rclcpp?

[2020-12-10 17:33] destogl commented on #260
Hi @buschbapti,
Thanks for the detailed analysis! I would keep it open for now, sine probably other people will have it also.

So it seems this will be solved in galactic?

[2020-12-10 18:08] destogl commented on #252
I propose to use specialized controllers for now. In the future we have to consider making HW-Interfaces to Nodes. Or something that has it's own parameters and can get callbacks on their change...

[2020-12-10 18:09] destogl commented on #74
How other people are doing this? I saw the recommendation that doc could be in the code repository. Is buildfsrm maybe doing this automatically?

[2020-12-11 09:28] v-lopez opened #262 "Add resource check in switch controller callback"
In ROS1 control the resource compatibility was checked in the switch controller callback: https://github.com/ros-controls/ros_control/blob/noetic-devel/controller_manager/src/controller_manager.cpp#L581

Currently this check does not exist, and is only performed in start_controller (https://github.com/ros-controls/ros2_control/blob/master/controller_manager/src/controller_manager.cpp#L603) which p

[2020-12-11 10:10] v-lopez opened #263 "Implement start controllers asap/start controllers difference if needed"
In ROS1 Control there's the option to start asap controllers: https://github.com/ros-controls/ros_control/blob/noetic-devel/controller_manager/src/controller_manager.cpp#L127

In ROS2 this difference is not implemented, does it make sense? How should we implement it?

[2020-12-12 08:33] bmagyar opened #266 "[Galactic+] Use LifecycleNode once transitions cannot be triggered by externals."
Once transition triggering can be disabled through ROS2 services, we can go back to using LifecycleNode.

LifecycleNode was replaced with Node  #261 but the code wasn't really changed, we are ready to move back as soon as possible.

[2020-12-12 19:09] destogl commented on #262
It seams we need L582-L594 and L597-L605 in CM.cpp to do this.
Is "switch_controller" service only way for user to start/stop controllers? if so we could move this in "switch" function. This would be probably the easiest way to provide sensible error-feedback (controller name + interface name) to users.

[2020-12-12 19:14] destogl commented on #76
I think this is obsolete now? Can we close it?

[2020-12-12 19:18] destogl commented on #60
This is resolved in the current implementation. We are using LifecycleNode-state names and services exists and work.

[2020-12-12 19:18] #60 closed

[2020-12-12 19:19] destogl commented on #66
There is an explanation in the rod-controls/ros2_control_demos repository README about this.

[2020-12-12 19:19] #66 closed

[2020-12-12 19:20] #76 closed

[2020-12-12 19:27] destogl commented on #155
I just notified MoveIt guys that API is fixed. (we are at least not expecting to do major changes for Foxy)

[2020-12-12 19:30] destogl commented on #142
This is done in #236

[2020-12-12 19:30] #142 closed

[2020-12-12 19:31] #141 closed

[2020-12-12 19:33] destogl commented on #73
This should be resolved with #265 or am I wrong?

[2020-12-12 20:12] destogl commented on #115
So it seams we are rather going for removing the arguments. see [comment](https://github.com/ros-controls/ros2_controllers/pull/125#discussion_r541755377)

[2020-12-12 20:42] bmagyar commented on #73
Yep, also we aren't building against ros2 master anymore

[2020-12-12 20:42] #73 closed

[2020-12-14 18:29] AndyZe opened #269 "Member function naming in system_interface.cpp"
These member functions defy the Google style guidelines and the ROS C++ style guidelines. Was that intentional or should we change them?

[hardware_interface/system_interface.hpp](https://github.com/ros-controls/ros2_control/blob/master/hardware_interface/include/hardware_interface/system_interface.hpp)

For example, `export_state_interfaces()` should be `exportStateInterfaces()` per ROS1 style

G

[2020-12-14 18:42] AndyZe commented on #269
It looks like this is pretty widespread throughout the codebase

[2020-12-14 18:47] gavanderhoorn commented on #269
ROS 2 C++ code style allows `snake_case`.

From [Code style and language versions - C++ - Style: Function and Method Naming](https://index.ros.org/doc/ros2/Contributing/Code-Style-Language-Versions/#function-and-method-naming):

[2020-12-14 18:50] AndyZe commented on #269
Cool. Maintainers, feel free to close the issue

[2020-12-14 22:22] #269 closed

[2020-12-15 07:46] destogl opened #270 "Separate triggering of "load", "configure", and "start" of controllers"
Using LifecycleNode's states there are three stages of starting a controller:

* Load: loads controller's plugin
* Configure: read parameters and initialize publishers/subscribers
* Start: Start controller

In ROS1, load and configure functionalities were executed in one step. So, if one wanted to start a controller with custom parameters on run-time, they were set before loading it on the paramet

[2020-12-16 18:44] bmagyar opened #273 "Add ourselves to ROS2 Common Packages"
...following the release to Foxy
https://www.ros.org/reps/rep-2005.html

[2020-12-17 21:34] DrFKNoble opened #274 "Build Error: Unable to extract the library file path from "" generated when building"
Hi there,

I'm trying to test out ros-control's ros2_control_demo's; however, when building the ros2_control repo, I get the following error:

[code]

I'm using Foxy and I have installed the dependencies listed in the ros2_control_demo's readme, i.e. ros-foxy-realtime-tools ros-foxy-xacro ros-foxy-angles. I also thought it might be because TinyXML might be missing; however, libtinyxml2 is installe

[2020-12-17 23:14] destogl commented on #274
Probably a stupid question, but did you sourced your workspace before compiling?

P.S. I did multiple clean builds recently I never got this error, therefore I am a bit confused...

[2020-12-17 23:22] DrFKNoble commented on #274
@destogl I opened a fresh terminal and ran the following commands:
[code]

[2020-12-18 08:20] bmagyar commented on #274
Our CI check against latest foxy binaries as well as latest foxy from source on Ubuntu. Is it possible you are running something else?

[2020-12-19 19:54] #270 closed

[2020-12-19 21:30] destogl commented on #274
@DrFKNoble it seems you didn't set up ros workspace. If you are trying to build inside a package you will get error since behaviour is not clear.
You should create proper ROS workspace, clone repos into src folder and than go to the workspace root and compile everything.
Using cmd something like:

[code]

[2020-12-20 08:38] destogl commented on #260
This is related to PR ros2/rclcpp#1168

@bmagyar: can you rename this to "MutliThreadedExecutor update rate is unstable" (or something similar?

[2020-12-20 08:44] destogl opened #277 "Restore using MutliThreadedExecutor once #260 is resolved in rclcpp"
Revert #275 when #260 is resolved in rclcpp

_Originally posted by @destogl in https://github.com/ros-controls/ros2_control/pull/275#discussion_r546343491_

[2020-12-20 08:57] bmagyar opened #278 "Improve error messages"
Stemming from https://github.com/ros-controls/ros2_control/pull/276 comments

* [ ] Capitalize messages in `controller_manager.cpp` and `resource_manager.cpp`.
* [ ] Add `'` around controller and resource names in prints, this is done already but not for all prints.

[2020-12-20 11:43] destogl opened #279 "Integration of JointLimitsInterface into components structure"
There a few issues regarding `joint_limits_interface`, this one should be an overview issue for their integration into components architecture. If you know other related PRs and issues please add those.

Review #271 and thinking about its test I came to the following conclusion/proposal:
`joint_limit_interface` should be integrated into `ResourceManager`. `ResourceManager` represent (logically) `R

[2020-12-23 14:00] bmagyar opened #281 "transmission_interface is acting strange on the buildfarm"
I've raised a question on the release PR but will post it here too: https://github.com/ros/rosdistro/pull/27828#issuecomment-750281488

I am simply going to remove `transmission_interface` from 0.1.1 temporarily, it doesn't have real functionality ATM anyways, only the parser.

Resolved by https://github.com/ros-controls/ros2_control/pull/280

[2020-12-23 14:07] bmagyar opened #282 "Lack of access to former release repos in ros2-gbp org"
The dashing release was made using the release repos in `ros2-gbp` but I couldn't simply add the new releases on top of them as I have no access there. Opted for recreating the release repos as a personal repo but ideally I'd like to use

* https://github.com/ros2-gbp/ros2_control-release and
* https://github.com/ros2-gbp/ros2_controllers-release
for making releases in the future.

Who is there to

[2020-12-23 17:36] nuclearsandwich commented on #282
@bmagyar I've sent you an invitation to maintain both release repositories. Please let me know if you have any issues and feel free to close this issue once you have access.

[2020-12-23 21:57] bmagyar commented on #282
Grand! Thanks @nuclearsandwich , I now have access, upcoming releases will happen using those repos :+1:

[2020-12-23 21:57] #282 closed

[2020-12-25 17:47] #281 closed

[2020-12-30 13:37] ar0usel opened #286 "joint_limits_interface"
I'm trying to build `gazebo_ros2_control` package, and it's depends on `joint_limits_interface` package. While building `joint_limits_interface` occurred
[code]
Can you advise version which capable with `gazebo_ros2_control`?

My setup: Ubuntu 18.04, ros2-foxy

[2020-12-30 13:42] ar0usel commented on #286
#https://github.com/ros-simulation/gazebo_ros2_control/issues/42

[2020-12-30 20:49] bmagyar commented on #286
Wait for the release my friend

[2020-12-30 20:49] #286 closed

[2021-01-01 13:10] bmagyar commented on #74
https://github.com/ros/rosdistro/pull/27872
https://github.com/ros/rosdistro/pull/27873

[2021-01-04 15:57] destogl opened #287 "Update documentation of the cli interface in the ros2controlcli README.md"
It is not up-to-date with the latest changes.

[2021-01-05 11:11] bmagyar commented on #74
https://discourse.ros.org/t/announcing-ros2-control-for-foxy/18274

[2021-01-05 11:11] #74 closed

[2021-01-06 11:10] bmagyar commented on #286
We haven't made up our minds about what should happen to this package, most likely it will be merged into `hardware_interface`.

[2021-01-06 20:02] destogl commented on #208
I started to work on this in #247, but there were some issues with dependencies (see more in the discussion there).

Therefore, I will proceed as follows:
- [ ] move test hardware components from `test_robot_hardware` to `hardware_interface` package (#288)
- [ ] add `description.hpp` file to the new `ros2_control_test_assets` package. This file is already used by all controllers. I will check how

[2021-01-07 21:45] bmagyar opened #290 "catkin_lint on the CI"
If we had catkin_lint as part of our linting workflow on the CI, it'd highlight things that derail the release farm but may not be otherwise highlighted with normal CI jobs or local compilations.

[2021-01-08 11:00] destogl commented on #290
Why catkin? Isn't this ROS1.

[2021-01-08 11:42] bmagyar commented on #290
I added this to the meeting agenda so I can explain it further but let me do it here then:

`catkin_lint` has the neat feature of highlighting cmake find_package() calls to ROS packages that weren't declared in the package.xml and vice-versa. It also highlights a couple of common mistakes that may not reveal themselves on local, or CI builds, but only in truly isolated builds which for us currentl

[2021-01-08 11:46] bmagyar opened #291 "Redesign transmission XML format"
Before `transmission_interface` can be released, we should carefully think about how we should design getting parameters through to transmissions within a SystemInterface implementation and an ActuatorInterface implementation.

I am under the impression that transmission_parser is not even required anymore. What is your take on this @destogl ?

[2021-01-09 17:06] destogl commented on #291
At the current point, we don't need this since users can use the transmissions directly in their implementations. Transmissions don’t have to be loaded using pluginlib.

Transmission parameters could be added as user-defined parameters for the hardware.

This is the easiest and most promising way. Let’s keep it simple for now. We can always make this more complex in the future if there is a plausi

[2021-01-09 21:06] bmagyar commented on #291
Transmissions still have parameters that need to be specified as well as they may not use the same type of transmissions for mapping things, hence pluginlib could be required - that being said this is a SystemInterface implementation detail.

[2021-01-11 15:42] bmagyar commented on #291
[code]

@jordan-palacios if you have other input, we'd appreciate it

[2021-01-12 11:18] jordan-palacios commented on #291
This looks good an easily extendable.

As @bmagyar says, it's specially important to support generic parameters. This will allow the development of more complicated transmission types.

What I'm not really sure yet if transmissions should be plugins.

A parameter per joint/actuator with the list of interfaces to configure?

[2021-01-13 16:24] destogl opened #293 "Get ros2_control into REP 2005"
[REP 2005](https://www.ros.org/reps/rep-2005.html)

### Reasoning
- ros2_conrol is an integral part of ROS2 and will be used by many people
- companies in ROS2 TSC can get their work counted

### Current state w.r.t. the criteria
- [x] open source
- [x] connected to ROS2 project
- [x] broadly useable
- [x] actively maintained and following accepted software development processes, including code re

[2021-01-13 17:34] destogl commented on #291
Me too. The users will anyway have them "hard-coded" into their system/actuator. I am not sure how plugins should provide any advantage.

[2021-01-13 18:30] bmagyar commented on #291
@guru-florida @ahcorde

[2021-01-13 19:21] bmagyar opened #294 "Spawner and unspawner"
Spawner: simple python nodes that load, configure and start a controller on startup, and stops, unloads on takedown.

Unspawner: the opposite of spawner

Typical use-case with robots that come with ros2_control by default on startup software deployed by manufacturer of a mobile manipulator, my launch file would:
* unspawn arm_joint_trajectory_controller
* spawn my_awesome_force_arm_controller

Whe

[2021-01-13 19:21] bmagyar commented on #294
FYI @JafarAbdi

[2021-01-13 19:26] bmagyar commented on #293
1. We can prove this part met based on ROS1 ros_control.
2. Both Karsten and myself are declared as leads of the Control Working Group, I think this should be enough. Also our packages have even more ppl listed as maintainers and we can show a good range of people providing reviews.
3. We could probably declare Quality 3 already and open a project for QL2

[2021-01-14 15:16] JafarAbdi commented on #294
Thanks! @bmagyar, let me know if there's something I can help with, for now as a workaround, I add the following action to the launch description

[code]

[2021-01-15 07:16] bmagyar opened #295 "Declare Quality Level 3"
* [ ]  Version Policy:
   * [ ]   Must have a version policy (e.g. semver)
   * [ ]   Must be at a stable version (e.g. for semver that means version >= 1.0.0)
* [ ]  Change Control Process:
   * [ ]  Must have all code changes occur through a change request (e.g. pull request, merge request, etc.)
   * [ ]    Must have Continuous Integration (CI) policy for all change requests
* [ ] Documentation

[2021-01-15 07:28] bmagyar commented on #295
I'll go ahead and tick the ones I think we already meet.

Let me start scrutinizing the rest.

Have how? ROS already uses the three-number semver structure, do we need to add a declaration of this? I don't see what else we could change to meet this.

Maybe it's just my opinion but I'd not give anyone any quality level without some test coverage. C'mon guys

`control_toolbox` and `realtime_tools` p

[2021-01-15 07:30] bmagyar commented on #293
https://github.com/ros-controls/ros2_control/issues/295

[2021-01-16 11:29] yimenghou opened #298 "problem with resource manager when validate storage"
I guess the content in validate_storage() may not finished. There is a typo in hardware_interface/resource_manager.cpp line 377, where 'missing_command_keys' should emplace back resources instead of 'missing_state_keys'. Which may cause loading error. Besides that, hardware sensors are not validated here yet.

[2021-01-17 21:12] bmagyar commented on #298
We aren't currently extending this section but would be happy to see if you
can produce a test case that fails or just doesn't work as intended. We
could use that as a test and have a task for someone to fix.

On Sat, 16 Jan 2021, 11:29 Yimeng Hou, <notifications@github.com> wrote:

[2021-01-24 12:50] gavanderhoorn commented on #295
using a triplet as a version number `!=` following and practicing semantic versioning.

[semver.org]() is pretty specific about it:

I believe that's what `REP-2004` refers to.

[2021-01-24 21:27] olivier-stasse opened #305 "Extending the CommandInterface"
Thanks again for the work realized.

I am trying to write a rrbot_system_quadruped with an extended CommandInterface as discussed during the meetings.

A preliminary version is [here](https://github.com/olivier-stasse/ros2_control_demos/blob/master/ros2_control_demo_hardware/src/rrbot_system_quadruped.cpp)

Instead of having a double for the StateInterface or the Command Interface the goal is to h

[2021-01-25 05:53] olivier-stasse commented on #305
Or should I keep ```hardware_interface::HW_IF_POSITION``` ```HW_IF_VELOCITY``` ```HF_IF_EFFORT``` and add inside ```RRBotSystemQuadrupedHardware``` specific local name such as ```HW_IF_GAIN_KP``` and ```HW_IF_GAIN_KD``` ?

[2021-01-26 07:53] destogl commented on #305
Hi @olivier-stasse,

Since you have a structure with all-double, there is no reason to extend the `CommandInterface` or `StateInterface`. IMHO this would lead to incompatibility with controllers and make the framework unnecessarily complex.

In your specific case (when having many double values) I propose using of a separate interface for each value. So you will export for each joint following (st

[2021-01-26 07:58] olivier-stasse commented on #305
Thanks @destogl ! This is currently the direction I am taking.

[2021-01-26 07:58] #305 closed

[2021-01-26 08:22] ShotaAk opened #306 "Some cli commands return '1' even through it's successfully executed"
Some `ros2 control` commands return exit-status '1' even through it's successfully executed.

# Environments
- OS: Ubuntu 20.04
- ROS: Foxy
- Software Version: latest of master, commit: fb804313a2a7d3992ef58034a369e8558f7f8c57

# To Reproduce

[code]

# Expected behavior

The commands return the exit-status '0'.

[2021-01-26 08:51] destogl commented on #306
The issue is that some verbs are returning the results from service_caller (`future.result()`). See [here](https://github.com/ros-controls/ros2_control/blob/master/ros2controlcli/ros2controlcli/verb/load_start_controller.py#L33).

What is the proper thing to do? Inverse the return? I would guess so ([see](https://docs.python.org/3/library/asyncio-future.html#asyncio.Future.result)).

[2021-01-26 09:05] ShotaAk commented on #306
I agree with your suggestion.:+1:

[2021-01-26 09:15] ShotaAk commented on #306
I will create a PR.

[2021-01-26 15:39] v-lopez commented on #294
How would you guys feel if the spawner also loaded an optionally provided yaml file with the controller parameters?

Because right now I have to do:

1. start controller_manager with the proper `my_controller_name.type` param
2. ros2 control load_controller **my_controller_name** (creates the controller Node)
3. load **my_controller_name** parameters into the namespace
4. ros2 control configure_st

[2021-01-26 20:31] destogl opened #311 "Rename JointHandle to JointInterface in transmissions?"
I know this is a larger change. but, would this name be better?

[code]

__Originally posted by @destogl in https://github.com/ros-controls/ros2_control/pull/303#discussion_r564325294__

[2021-01-28 07:01] #306 closed

[2021-01-28 08:08] bmagyar commented on #87
https://github.com/ros-controls/ros2_control/blob/master/transmission_interface/include/transmission_interface/transmission.hpp

[2021-01-28 08:08] #87 closed

[2021-01-28 08:08] bmagyar commented on #86
Resolved by #245

[2021-01-28 08:08] #86 closed

[2021-01-28 17:18] #202 closed

[2021-01-28 18:32] bmagyar commented on #311
so the reason I wanted to stick with handles is that essentially `transmission_interface` is a library that is an optional add-on for ros_control. Similarly to how they were optional in ROS1 (your `RobotHW` didn't need to implement them) but here I wanted to step away from using the same handles, hence the choice to use `JointHandle` and `ActuatorHandle` which are now unique to `transmission_inter

[2021-02-02 07:34] #90 closed

[2021-02-02 13:01] destogl commented on #311
@bmagyar this is very plausible. Let document this somewhere. Than I agree to close this.

[2021-02-03 07:07] bmagyar commented on #298
@Karsten1987 ?

[2021-02-03 07:10] bmagyar opened #314 "Post-Foxy breaking changes (Collection Ticket)"
Let's collect the known API/ABI breaking changes we'd like to see in a release coming after Foxy.

* [x] Not an issue anymore, rclcpp deprecations took care of it. ~~Move constants out of class & refactor to avoid lengthy casting in [controller_manager constants issue](https://github.com/ros-controls/ros2_control/pull/312/files#r568395744)~~
* [x] Update actions: [ros2_controllers#111](https://git

[2021-02-03 09:36] destogl commented on #311
Since this is doc issue, and there are many, many more I will close this here.

[2021-02-03 09:36] #311 closed

[2021-02-03 09:43] destogl opened #315 "Check for interface conflict and notify a component which interfaces are in use"
Following the discussion from ros-controls/ros2_control_demos#59 there are two potentially missing functionalities:

#. Notify Component about user interfaces when the controller switching
#. Feedback "lock" of interfaces to RM from a component.

I have the following scenarios in mind:

1. Command Interfaces can be used separately, e.g., position and a logical interface.
2. Command interfaces have

[2021-02-03 09:47] destogl commented on #95
I think we agreed not to do this anymore since using a simple header file with constants has a smaller footprint and dependencies than messages.

@bmagyar do you agree? if so let's close this.

[2021-02-03 09:59] destogl commented on #298
This seems correct. We have to work on a test case for this. We need to produce an URDF to provoke this error.

They should be [here](https://github.com/ros-controls/ros2_control/blob/40475642201e71d37ca4e622fad48ba0d6b4393f/hardware_interface/src/resource_manager.cpp#L381).

[2021-02-03 10:42] bmagyar commented on #95
agreed!

[2021-02-03 10:42] #95 closed

[2021-02-03 12:32] destogl commented on #298
@Karsten1987 I work on this part for the framework this week anyway. I can than notify what is result of my tests.

[2021-02-03 15:46] Karsten1987 commented on #298
@yimenghou thanks for bringing this up. Line 377 is clearly a typo. I'll come up with a PR to fix this if you haven't started on it yet.

What does that mean? I do believe that the validation for the sensors should be sufficient in here: https://github.com/ros-controls/ros2_control/blob/master/hardware_interface/src/resource_manager.cpp#L381-L387

[2021-02-03 15:47] Karsten1987 commented on #298
@destogl I consider this a clear bug and would open a separate PR for it.

[2021-02-03 15:59] yimenghou commented on #298
Yes, hey are validated. I didn't see it right. Thanks!

[2021-02-03 19:37] destogl opened #318 "Non-Joint command interfaces"
Currently, we defined two types of interfaces: related to a joint and related to a sensor. What if there is a command interface needed that is not related to any joint? An example of this is that the robot has voltage output on its flange. Ideally, this interface is also controlled by a controller, e.g. Forward Command Controller can write to an arbitrary interface. To realize this the following U

[2021-02-03 20:38] olivier-stasse commented on #318
IMHO `gpio` is better than `joint`.

[2021-02-04 21:04] destogl commented on #318
I agree. Although the functionality is the same, this semantic increases clarity.

[2021-02-04 21:44] gavanderhoorn commented on #318
what about making things a little more generic?

It seems command interfaces are sinks and state interfaces are sources.

Might be a nice concept to make explicit in the codebase.

[2021-02-05 08:03] v-lopez opened #320 "Feature proposal helper function for loading controllers via launch.py file"
Just testing the waters with some code to facilitate writing launch files for loading controllers.
Could I get some feedback as to whether I should try to make it into ros2_control or just keep it for ourselves?

Our use case is that our robots don't always run the same controllers. Even may run controllers that some of our customers build and we don't have the yaml parameters for them when we shi

[2021-02-05 12:29] #298 closed

[2021-02-05 16:09] destogl commented on #318
This is a very good idea. Nevertheless, I don't see an issue with the interfaces, but rather how they are structured.
An example would be a robot that has a controllable voltage output at its flange (see #323). It ros2_control part of the URDF is as follows:

[code]

It would probably make sense to change the last 6 lines to:

[code]

I hope, now it's clearer what is issue here.

[2021-02-05 16:22] destogl commented on #94
Although this is done for CM

#322 addressed this in ROS1 terms. There is currently only "notify" - "doSwitch" functionality. We should probably add also "trySwitch" functionality. Let's discuss it there further.

[2021-02-07 18:03] livanov93 commented on #318
At [component_parser](https://github.com/ros-controls/ros2_control/blob/master/hardware_interface/src/component_parser.cpp) I see that all the tags are hardcoded. It would generally be handy to be able to define new tag within ros2_control xml tag. This way the user could define naming convention for each GPIO or robot subsystem.
Of course, this does not engage the problem we currently have - only

[2021-02-10 17:10] v-lopez opened #325 "use_sim_time handling in ros2_control and controllers"
Since there's no global param server anymore, all nodes need to manage their `use_sim_time` parameter.

Failure to do so will lead to nodes publishing messages with different times from the rest of the system, different real time factors and  other stuff.

The simple solution is to set it on each controller parameter file, as well as on the `controller_manager` node.

I was hoping we could agree o

[2021-02-10 18:33] AndyZe commented on #318
Agree that something like this shouldn't be labeled a `joint`. We talked about why this should be part of ros2_control -- there may be a robot controller, which the hardware interface has access to. It might not be available to any other ROS nodes. So it makes sense (to me) to have this in ros2_control.

[2021-02-10 18:52] AndyZe commented on #318
I think some kind of alias called `gpio` for readability's sake is nice!  :+1:

[2021-02-12 16:11] tylerjw opened #326 "Add note about rosdep in README instructions"
The README instructions should instruct users to call:

[code]
after they do `vcs import` and before `colcon build`.

[2021-02-12 16:16] Karsten1987 commented on #326
feel free to open a PR for it. That instruction however only applies when building from source.

[2021-02-12 16:16] tylerjw opened #327 "Why does the main loop in the readme use fprintf?"
Would it not be better to call the ROS logging methods instead of fprintf?  Are there performance/real-time tradeoffs to either that resulted in recommending fprintf for error reporting?

[2021-02-12 16:22] gavanderhoorn commented on #326
I would advise against including `-r`: it tends to mask problems with packages not being available.

It'd be better to fail with a clearly visible error.

[2021-02-12 16:51] bmagyar commented on #327
Please feel free to update this bit, there are RCLCPP calls there too. I think the cause of those fprintf lines is oversight when updating the readme

[2021-02-12 18:58] #326 closed

[2021-02-12 20:15] destogl commented on #320
@v-lopez why not. The only question is where to place such code snippets.

[2021-02-12 22:34] tylerjw opened #330 "controller_manager as component node"
Component nodes enable using intra-process communication which can greatly reduce latency in control systems that run on the same machine by running the nodes in the same process.  [Here is the official documentation on it](https://index.ros.org/doc/ros2/Tutorials/Composition/#ros-2-unified-api).

If possible it would be nice if the `controller_manager` was a component node.  This would not preven

[2021-02-15 08:16] bmagyar commented on #330
I think this'd be a much desired improvement and would fit well with our Foxy version.
Indeed, `controller_manager` is a single node, however controllers are their own nodes and multithreading really depends on the executor. I think it is worth giving a try to the component approach, it is partially why we opted to use nodes in the first place.
I'd say let's see a PR whenever you have a bit of tim

[2021-02-15 09:06] v-lopez commented on #320
I'd say `controller_manager` or a new `ros2_control_launch` in this repository.

[2021-02-15 16:28] guru-florida commented on #325
My 2c, I think launch argument is a good plan. Setting a launch argument in a root launch file also affects included launch files so a variable set in the root can set the use_sim_time for all launch files in the launch hierarchy. I use this for Gazebo launch settings.

[2021-02-15 16:44] v-lopez commented on #325
The problem with launch argument is that in the way the controller_manager is launched with gazebo, I don't think it inherits parameters from a file in the same way as from a launch file.

If I am not mistaken, when you launch `controller_manager` via the launch `Node` tag, it launches the executable with a `--params-file ...` argument. And if in this file, there's a wildcard namespace (`**/`), no

[2021-02-15 17:07] Karsten1987 commented on #330
Just a few things I'd like to have clarified before digging too deep into coding.

* The controller manager is already a shared library. I am not sure I follow your sentence with "building the controller_manager as a shared library". https://github.com/ros-controls/ros2_control/blob/master/controller_manager/CMakeLists.txt#L22-L24
* While the component manager gives us a nice CLI interface to star

[2021-02-15 17:35] guru-florida commented on #325
Yes, I believe you are correct.

[2021-02-15 18:23] #327 closed

[2021-02-15 18:25] bmagyar commented on #21
We've had this for a while, closing...

[2021-02-15 18:25] #21 closed

[2021-02-15 18:29] destogl opened #331 "Add timestamp to interfaces to know how old is a command/state"
The idea from #24

This needs to extend LoanedHandles

[2021-02-15 18:29] bmagyar commented on #24
The main purpose of this ticket was fulfilled. There's one idea we captured on a new ticket. Closing...

[2021-02-15 18:29] #24 closed

[2021-02-15 18:32] bmagyar commented on #26
We've decided to move this functionality into `hardware_interface` as this code is extremely simple.

[2021-02-15 18:33] destogl commented on #28
It's available in foxy.

[2021-02-15 18:33] #28 closed

[2021-02-15 18:36] bmagyar commented on #32
We are missing transmission-loader and an xml format to close this.

[2021-02-15 18:37] bmagyar commented on #45
opted for uncrustify to follow the crowd

[2021-02-15 18:37] #45 closed

[2021-02-15 18:37] destogl commented on #33
We have this natively in the new architecture.

[2021-02-15 18:37] #33 closed

[2021-02-15 18:38] bmagyar commented on #55
@piraka9011 @emersonknapp is this possible now?

[2021-02-15 18:39] destogl commented on #48
We need to have tests on the runner provided by @olivier-stasse

[2021-02-15 18:40] bmagyar commented on #61
We have started a migration guide section over at https://github.com/ros-controls/control.ros.org/

[2021-02-15 18:40] #61 closed

[2021-02-15 18:42] destogl commented on #79
This is obsolete so closing

[2021-02-15 18:42] #79 closed

[2021-02-15 18:43] bmagyar commented on #88
This is duplicated by #291

[2021-02-15 18:43] #88 closed

[2021-02-15 18:45] destogl commented on #118
This is connected #48 and it replaces is actually.

[2021-02-15 18:45] #48 closed

[2021-02-15 18:45] bmagyar commented on #93
we are using gmock in all the packages AFAIK but it could be worth a check

[2021-02-15 18:47] bmagyar commented on #94
Merging this with #315

[2021-02-15 18:47] #94 closed

[2021-02-15 18:49] bmagyar commented on #115
Done!!

[2021-02-15 18:49] #115 closed

[2021-02-15 18:51] bmagyar commented on #107
We need a design doc to progress with this

[2021-02-15 18:54] destogl commented on #116
duplicate to the #330 therefore closing

[2021-02-15 18:54] #116 closed

[2021-02-15 18:56] #133 closed

[2021-02-15 18:56] destogl commented on #129
obsolete

[2021-02-15 18:56] #129 closed

[2021-02-15 19:00] #146 closed

[2021-02-15 19:04] bmagyar opened #332 "Generate doxygen from this repo and compile it into control.ros.org deployment"

[2021-02-15 19:05] bmagyar opened #333 "Support .rst files for local documentation that gets compiled into control.ros.org page"

[2021-02-16 06:30] bmagyar commented on #208
I'd consider this done, please reopen if you have other points to raise @destogl

[2021-02-16 06:30] #208 closed

[2021-02-16 06:49] bmagyar commented on #213
@ahcorde is this still an issue?

[2021-02-16 06:50] bmagyar commented on #212
There's no `RobotHardware` anymore, this issue is obsolete

[2021-02-16 06:50] #212 closed

[2021-02-16 06:51] bmagyar commented on #155
Amen. This red flag is not required anymore ;)

[2021-02-16 06:51] #155 closed

[2021-02-16 06:56] #274 closed

[2021-02-16 06:58] bmagyar commented on #260
This is a duplicate of #277, closing in favour

[2021-02-16 06:58] #260 closed

[2021-02-16 07:02] bmagyar commented on #249
Closing as we've resolved this for Foxy.

[2021-02-16 07:02] #249 closed

[2021-02-16 07:10] tylerjw commented on #330
Thank you for the detailed replies.  My takeaway is that we generally need the issues with the executors to settle down and some support for RT execution/spinning before this becomes a real possibility.

I'm happy to help where I can if there are things I can do.  When I said build as a shared library I meant the main node that loads the controllers, I didn't realize the overlap between it and the

[2021-02-16 07:52] Briancbn commented on #213
@bmagyar Thanks for following up on this.

This is still an issue. Although now with node name included inside the `forware_command_controller` subscription topic as `~/command` solves some of the problem, `/joint_states` published by `joint_state_controller` still cannot be remapped with <namespace> argument within the gazebo plugin.

I think the problem is that `ControllerManager` constructor do

[2021-02-16 08:22] bmagyar commented on #213
The global name for `/joint_states` is pretty much a standard location. Why do you need to remap it?

Also, I wonder if this is this something that can be solved entirely on the gazebo side now?

[2021-02-16 08:23] bmagyar commented on #229
Is this still an issue? Any different from #172?

[2021-02-16 09:12] Briancbn commented on #213
Two manipulator with separate moveit setup in gazebo to represent two independent workcell, which means controller manager and controllers under different namespace. Any suggestion?

As new nodes and separated executor are created within the ros2_control,  and separated executor are created for controller_manager as well, Gazebo plugins at the moment can't seem to do any remap or set any namespace

[2021-02-16 11:09] v-lopez commented on #320
I added them on `controller_manager` on #310

We can move to a separate package if you see fit

[2021-02-16 11:25] destogl commented on #183
this is obsolete.

[2021-02-16 11:25] #183 closed

[2021-02-16 11:28] destogl commented on #277
related to ros2/rclcpp#1168

[2021-02-16 11:32] destogl commented on #330
@tylerjw thanks for the initiative!

I would not close the issue, but just put it on low-priority for now since we need some other things to solve, e.g., #277.

Still, I think there it is worth investigating this and make a proof-of-concept implementation. So if you like to test it, please go for it and just ask what we can support you. The `ContrtollerManager` starts a node, but the executor is p

[2021-02-16 14:33] destogl commented on #320
For me is fine to be there

[2021-02-18 19:58] #174 closed

[2021-02-19 08:56] bmagyar commented on #333
Started off by separating the existing stuff into multiple smaller files: https://github.com/ros-controls/control.ros.org/pull/6

[2021-02-21 15:04] suab321321 commented on #278
@bmagyar I can do this, can you how to build this

[2021-02-21 20:24] destogl commented on #213
This shouldn't actually matter at all. Are you using prefixes for the joint names for your two manipulators? IMO this is the proper way. You actually want to have a global topic named '/joint_names' receiving data about all joint in the system. Even from different robots and other devices.

[2021-02-22 09:08] gavanderhoorn commented on #213
That doesn't mean that not having a global `/joint_states` topic should not be supported.

It doesn't seem like "nice ROS-nodeship" to publish to global, fully resolved names, as common as they are in their usage.

Having completely separated graphs within the same application is not such an uncommon occurrence.

[2021-02-22 10:49] bmagyar commented on #213
Thanks for this feedback guys.

So let's see a list of actions to solve this:
* joint_state_controller parameter to use or ignore the local namespace it is in: I feel that we should still maintain the use of the global `/joint_states` topic by default but a simple flag setting would help anyone wanting to do a multi-robot system constrain it to the namespace.
* @Briancbn what can we do about the o

[2021-02-22 11:30] gavanderhoorn commented on #213
is the issue really specific to multi-robot systems?

Publishing to a fully resolved name seems like it should not be the default.

[2021-02-23 20:00] destogl opened #334 "Is FakeSystem namespace confusing?"
The FakeSystem has to be loaded using `fake_components/FakeSystem` name, but it is placed inside `hardware_interface` package. Is this confusing? Should we use sub-namespace?

https://github.com/ros-controls/ros2_control/blob/93b15787f1d2e16dd41d202cebff5fdbef56e19d/hardware_interface/fake_components_plugin_description.xml#L3

[2021-02-24 18:15] AndyZe commented on #334
IMO this is not confusing.

[2021-02-24 23:27] destogl commented on #334
Sa discissen on today's WG meeting Tihanina OK.

[2021-02-24 23:27] #334 closed

[2021-02-25 01:19] Karsten1987 commented on #218
@destogl can this be closed?

[2021-02-25 01:20] Karsten1987 commented on #221
I am closing this as I don't think there's a real need for it. @destogl feel free to re-open (and potentially rename) the issue.

[2021-02-25 01:20] #221 closed

[2021-02-25 01:22] #173 closed

[2021-02-25 01:23] Karsten1987 commented on #172
I am closing this issue (again) as the thing should be resolved now.

[2021-02-25 01:23] #172 closed

[2021-02-25 01:23] #229 closed

[2021-02-25 01:24] Karsten1987 commented on #144
not sure I understand this issue. Can you elaborate?

[2021-02-25 01:25] #25 closed

[2021-02-25 02:02] Karsten1987 opened #335 "Rethink parameter handling"
TL;DR:
I propose to enhance the service call for loading a controller with an optional parameters file, similar to what the ros2 composition does: `ros2 composition load -p <parameters> ...`. That way we can load controllers and their types dynamically, even though they weren't declared beforehand.

---

The current parameter handling is IMO a bit cumbersome and quite error prone - user unfriendly

[2021-02-25 07:52] #91 closed

[2021-02-25 10:57] v-lopez commented on #335
Have you seen https://github.com/ros-controls/ros2_control/pull/310?

The idea is that you can:
`ros2 run controller_manager spawner.py my_controller_name --controller-type my_controller_pkg/ControllerType --param-file </path/to/file.yaml>`

`--controller-type` and `--param-file` are optional.

We can refactor it into a `ros2control` verb, but I also like the idea of having it as a node, as you ca

[2021-02-26 18:53] destogl commented on #148
Done in the `BaseHardwareInterface`.

[2021-02-26 18:53] #148 closed

[2021-02-26 18:56] destogl commented on #151
So we go with `OK`. Rename `return_type::SUCCESS` everywhere to `return_type:OK`.  But keep `SUCCESS` where it is defined and make its value equal to `OK`. Mark `SUCCESS` is deprecated.

[2021-02-26 19:00] #153 closed

[2021-02-26 19:03] #154 closed

[2021-02-26 19:12] #168 closed

[2021-03-01 15:02] destogl commented on #335
I find the idea very good. For completeness, I would like to add/comment on a few points.

I don't think we have to declare parameters in the two places. First, you have to declare the controller's type for CM to know which plugin to load. The second declaration are the controller's parameters in their namespace. I find this very natural and intuitive.  would rather say that ROS1 was confusing sin

[2021-03-01 16:37] destogl commented on #144
In the RM we only implemented things for the SystemInterface. Sensor and ActuatorInterface will not be registered correctly. (This is as I remember)

[2021-03-01 16:39] destogl commented on #218
Yes, thanks for helping with the triage!

[2021-03-01 16:39] #218 closed

[2021-03-09 22:57] suab321321 commented on #278
only error messages needs formatting  or `INFO, DEBUG` too?

[2021-03-10 07:55] bmagyar opened #339 "I propose adding `parse_bool()` function to encapsulate this logic and it could be reused by other components."
I propose adding `parse_bool()` function to encapsulate this logic and it could be reused by other components.
https://github.com/ros-controls/ros2_control/blob/master/hardware_interface/include/hardware_interface/component_parser.hpp is the place to add this

_Originally posted by @bmagyar in https://github.com/ros-controls/ros2_control/pull/337#r591173829_

[2021-03-10 11:12] destogl commented on #339
I agree, but then we have to add `type` argument in XML structure. Or how we should communicate how to parse the value?

[2021-03-10 11:57] destogl opened #340 "Acceleration Limits from URDF"
Currently, the [URDF defines](https://wiki.ros.org/pr2_controller_manager/safety_limits) the only position, velocity, and effort limits for each joint. What if one would like to have acceleration limits too? This is especially interesting for industrial scenarios where no effort measurements are provided and where no knowledge about tools and object's mass is unknown.

How are you defining these l

[2021-03-10 11:59] gavanderhoorn commented on #340
MoveIt's `joint_limits.yaml`? The same file structure is supported by `ros_control`'s [joint_limits_interface](https://github.com/ros-controls/ros_control/wiki/joint_limits_interface).

[2021-03-10 18:12] bmagyar opened #341 "ros2control CLI simplification"
@Karsten1987 could you please re-iterate your proposal here and one of us could get around to implement it?

[2021-03-10 18:15] v-lopez commented on #325
As discussed on March 10th WG meeting, if the controller manager has `use_sim_time` set, it will overwrite the controller's parameter when loading them.  An INFO message should be printed when this happens.

[2021-03-10 21:34] Karsten1987 commented on #341
The current set of CLI options of `ros2 control` are a bit overwhelming and not really user-friendly. Especially the load and state changes wrt the individual controllers are a bit cumbersome to deal with:

[code]

I propose to cluster these services a bit more tightly:
[code]

Alternatively, for the last command I could see a second top-level verb `ros2 controller`:
[code]

The first set of comma

[2021-03-11 06:06] olivier-stasse opened #342 "Hardware components for simulators"
Dear all, and more specifically @bmagyar @Karsten1987 @destogl,
Following the discussion in the WG, I would like to try writting hardware components for simulators.  Where such components should be located ? Is there already a repository ?
Thanks for the directions.
Best,
Olivier.

[2021-03-11 07:32] #278 closed

[2021-03-11 10:38] gavanderhoorn commented on #340
The nice thing about separate files is that it inherently supports loading overrides from application-specific packages.

If everything is part of the urdf, there is no other way to do that but forking and branching.

[2021-03-11 10:54] olivier-stasse commented on #340
Why not modifying `robot_description` such that the acceleration field is inside the urdf when loading the file ?

Then each package providing a robot for ros2-control could add this information without having a different way of providing the parameter.

Each ros2 controller would knew where to find to the information.

We could have the best of both world ?

[2021-03-11 11:19] gavanderhoorn commented on #340
I'm not aware of any work in the direction of runtime modifiable URDFs -- which seems to be what you're suggesting.

How would you guarantee all consumers are aware of the changes?

[2021-03-11 12:52] olivier-stasse commented on #340
Even more simpler if you need to change the URDF to have the ros2-control tags in the URDF file, I would suggest to modify the URDF at this time.

Then the consumer would be aware.

[2021-03-11 12:53] olivier-stasse commented on #340
And no runtime modification of the URDF.

[2021-03-11 13:01] gavanderhoorn commented on #340
so then managing application-specific configurations -- or even temporary overrides of limits -- would require duplication of the urdf, correct?

[2021-03-11 13:24] olivier-stasse commented on #340
Agree, IMHO for this specific information the best source of information is the robot manufacturer. Thus it seems strange to have it located somewhere else than the URDF.

[2021-03-11 13:28] gavanderhoorn commented on #340
I believe we're misunderstanding each other.

I'm specifically talking about *overriding* the (default) limits for application-specific scenarios.

How would the OEM know what those limits should be?

[2021-03-11 13:39] olivier-stasse commented on #340
Ah yes sorry. Good question. In practice for the robot we do ourselves the limit are part of the command interface.
It could also be part of the state interface depending on the control mode or the environment (such as the temperature) to be read by the controllers.

[2021-03-11 13:54] gavanderhoorn commented on #340
That's all good if you're in control of the total robot, or it's a custom machine that you're writing a driver for.

I'm thinking about COTS robots used in (industrial) work cells.

and how does the command interface know what the limits should be?

[2021-03-11 14:51] olivier-stasse commented on #340
If your COTS robots is allowing you to change such limit on-line, having it in the control interface seems to be a good choice.

A  trajectory optimizer (TrajOpt for instance) should give you a motion that meet the maximum limit provided by the URDF. To be safe you can then ask the closed source industrial controller to follow the trajectory with the max speed being 5 percent above or below the pl

[2021-03-11 14:59] gavanderhoorn commented on #340
There must be some lost-in-translation happening here. This is my last comment on this matter.

The discussion here started with @destogl asking what a good place would be for limits other than the ones currently supported by the `joint` element in URDFs.

The two options mentioned so far are:

 1. placing them in the urdf -- regardless of whether the spec supports it (I believe, this is my interp

[2021-03-11 15:50] AndyZe commented on #340
@gavanderhoorn makes a good point. An external yaml file (`joint_limits.yaml`) is an easy way to define lower limits than the URDF.

An external yaml is also the "path of least resistance." It requires no change from MoveIt and it doesn't require ros2_control to re-parse the URDF.

I think if both MoveIt and ros2_control standardize on joint_limits.yaml, it would become a good standard.

It is not

[2021-03-12 10:59] v-lopez commented on #340
A small note, In ROS2 I believe the standard is to publish `robot_description` as a topic, instead of as a ROS param.
So handling changes to the URDF dynamically would be pretty straightforward with a Subscriber.

But the question of how would you have this modified URDF with limits per application is something else. One solution that we use for something similar, is for the xacro file that genera

[2021-03-12 11:38] v-lopez opened #344 "Modify spawner.py and unspawner.py to use directly rclpy API"
As discussed on https://github.com/ros-controls/ros2_control/pull/310/

The first implementation uses ros2controlcli tools to interact with the controller manager. We should modify it to use directly the services that the controller_manager provides.

It also loads a parameter file using `ros2 param load`, there's currently no rclpy API to do it (see https://github.com/ros2/rclpy/issues/671) so th

[2021-03-13 17:23] destogl commented on #340
Thank you all for the lively discussion with exciting ideas. In the following, I try to wrap the discussion up and propose an approach with corresponding TODOs (and priorities). As an additional reference, I consulted [`joint_limits_interface` wiki page in ROS1](https://github.com/ros-controls/ros_control/wiki/joint_limits_interface).

1. The primary storage for the limits should be URDF (xacro) f

[2021-03-13 20:18] ssumoo opened #345 "Question regarding the releasing of controller's claimed interfaces"
Hi, I have a question regarding the release of the controller's claimed interfaces. As I am new to the codebase, I am not sure whether or not this is indeed an issue or a deliberate design choice that I am not yet aware of.

In short, the question is: _why does neither of the following happen?:_
1. _The controller manager calls the controller's `release_interfaces` in its `stop_controllers` functi

[2021-03-15 08:42] bmagyar commented on #345
Very good attention to detail! Indeed the bound-deleter is more of a last resort safety to ensure we are not leaking interfaces. First of all, please ensure that you are running with latest release/master, not something old.

To drive your point home, you could bring up rrbot from the demos repo and load a `joint_trajectory_controller` and a `position_controllers/JointGroupPositionController` and

[2021-03-15 18:12] Karsten1987 commented on #345
@ssumoo thanks for opening this ticket. As I believe your encountered behavior is the same as being addressed in #343, I'd close this ticket here and would very strongly invite you to participate on the discussion over there.

If you feel that's fundamentally different, please re-open your ticket.

[2021-03-15 18:12] #345 closed

[2021-03-15 21:08] ssumoo commented on #345
@bmagyar Thank you for the feedback, actually, I did the exact experiments you mentioned, where I tried to switch between two different forward command controller, each of which claims the same joints.

@bmagyar @Karsten1987 Thank you for pointing the MR out, I'm happy that it matches perfectly with what I patched locally on the repo, I'll be waiting to pull the changes then :D

[2021-03-15 21:52] Karsten1987 commented on #345
@ssumoo it's great that you have already an idea on how to test. I am sure any contributions to #343 are welcome.

[2021-03-22 16:46] destogl opened #347 "Hardware Interfaces with many parameters"
Integrating an existing robot into the `ros2_control` framework, an issue about parameterizing hardware interface came up. Concretely, the robot is rather complex with many sensors (FTS, cameras), tool changing system, many tools. Therefore many parameters need to be set at on start of the hardware. In `ros_control` we would typically use YAML files for this and access the parameters on the parame

[2021-03-22 17:11] gavanderhoorn commented on #347
I'm "glad" to see this raised, as it was basically what I tried to get across in #340.

[2021-03-22 20:40] bmagyar commented on #347
OK I'll stay quiet on this. How about raising the same question on ros discourse? Would help involving more ppl

[2021-03-22 21:29] AndyZe commented on #347
I suspect it would be easier to do the yaml inside xacro option (Option 2).

Mainly because C++ isn't great at parsing, but that macro Lovro wrote looks very simple/readable. So I would vote for that  (until somebody changes my mind...)

[2021-03-23 03:27] dignakov commented on #347
I think I would prefer to have parameter support, or a way to load/pass a parameter structure.

I don't have a solid technical reason. It's just that it's one more file to write and maintain when creating a package, and having to add extra matching parameters to a urdf or xacro (I hope I'm understanding how the macro works correctly...).

It also makes the process of creating a new robot package s

[2021-03-23 07:45] olivier-stasse commented on #347
If I understood well solution 2 is already implemented and amount to an organization of the robot_description package ?

This will not solve the problem for people who cannot modify the URDF description package of an industrial package.

[2021-03-23 14:23] AndyZe commented on #347
I guess I'm not clear on where the data gets stored for Option 1

[2021-03-24 07:44] #219 closed

[2021-03-24 07:52] bmagyar commented on #244
Done

[2021-03-24 07:52] #244 closed

[2021-03-24 07:54] destogl commented on #250
Check if there are any of the following hard-coded string:

- "position"
- "velocity"
- "acceleration"
- "effort"

Those are defined as constants [here](https://github.com/ros-controls/ros2_control/blob/master/hardware_interface/include/hardware_interface/types/hardware_interface_type_values.hpp) and should be used instead.

[2021-03-24 08:04] bmagyar commented on #262
will bundle with https://github.com/ros-controls/roadmap/pull/41 and see if anything is missing to be captured

[2021-03-24 08:07] bmagyar commented on #263
We need to know more but it is a fair point to capture.

[2021-03-24 08:09] #333 closed

[2021-03-25 01:45] guru-florida commented on #347
Also keep in mind parameters have to be changeable at runtime. For example joint parameters for origin-offsets, direction inversion, PIDs, etc. So #1 handles this for sure, how about Option #2? I don't see a way of updating parameters in Option2 without also having option 1 since every method of option 2 amounts to loading from a file.

[2021-03-28 16:04] #294 closed

[2021-03-29 08:46] jordan-palacios commented on #347
From option 2, the xacro macro looks like a maintenance nightmare. We have multiple robots with very different configurations. I'd rather avoid having the create one file like this for each one. Also, using xacro as a bridge for yaml parsing does not seem right.

I much rather convert the `Sensor`, `Actuator` and `System` into nodes and just load the parameters into them directly, like we do in th

[2021-03-29 13:14] guru-florida commented on #347
I don't think we have to make Sensor, Actuator and/or System regular nodes, but nothing stops someone from adding Node interfaces to these classes or vice-versa deriving from Node and implementing the ros2 controls interface. I do something similar to this in my case.

[2021-03-29 14:32] yimenghou opened #352 "load controllers with a namespaced controller manager by control cli"
Hi,

Could I use the ros2 control cli with namespaced CM?

For example, lets say, my robot has a namespace with `bot1`. I want to bringup a CM with 'bot1' as namespace in the launch file.
After launching, I should be given a ros2 node "bot1.controller_manager". Then I want to `use ros2 control load_start_controller example_controller` to load a controller. The cli reports "Could not contact servic

[2021-03-29 14:36] yimenghou commented on #352
I think i find the answer. The load_controller has a -c option to specify the complete node (with namespace)

[2021-03-29 14:36] #352 closed

[2021-03-29 19:58] Karsten1987 opened #353 "(un)spawner tests currently broken"
from the original PR: https://github.com/ros-controls/ros2_control/runs/2211505700

[code]

This indicates the two scripts don't have the proper file permissions.

From https://github.com/ros-controls/ros2_control/pull/349/checks?check_run_id=2221594744

[code]

which indicates some other error even after the file permissions are corrected.

[2021-03-29 22:06] Karsten1987 opened #355 "use format strings for ros2controlcli"
rather than using `.format()`, we can use `f'...'` in Python3.6

see https://www.python.org/dev/peps/pep-0498/

[2021-03-30 07:59] bmagyar opened #356 "pep257 differences between the ros-tooling and ros-industrial CI"
By @Karsten1987

Not sure what to do here.

https://github.com/ros-controls/ros2_control/pull/349

https://github.com/ros-controls/ros2_control/pull/349/commits/0df21e18a8f8c7e5941034344a5222c8e29cf19c

[2021-03-30 08:05] bmagyar commented on #356
I think we should simply remove the non-tests from https://github.com/ros-controls/ros2_control/tree/master/ros2controlcli/test and let the linter workflows do their job. Those individual scripts are prune to be flaky depending on ones installed python package versions which is I believe what we are seeing with the industrial CI.

[2021-03-30 08:58] bmagyar opened #357 "Documentation and/or tests for ros2controlcli"
With https://github.com/ros-controls/ros2_control/pull/349 we've introduced a new verb, `ros2 control set_state ...` and added an optional  parameter to `ros2 control load ...` to support the same logic, advancing the state of the controller to a desired state with supplying `--state ...`  to the load command. With this, the previous "multitool" CLI verbs are considered deprecated  `configure_star

[2021-03-30 09:11] bmagyar commented on #353
fix #349

[2021-03-30 09:11] #353 closed

[2021-03-30 09:26] NovusEdge commented on #355
I would like to take this issue up if it's still open.

[2021-03-30 09:48] bmagyar commented on #355
I'll put a few examples of what should be replaced and vaguely how, they may not always work, be creative ;)

examples:
* `node.get_logger().debug('requester: making request: %r\n' % request)` ->  `node.get_logger().debug(f'requester: making request: {request}\n')`
*  `return service_caller(node, '{}/switch_controller'.format(controller_manager_name), SwitchController, request)` -> `return service

[2021-03-30 09:49] bmagyar commented on #355
@NovusEdge I've assigned you, please tag this issue in the PR you open for reference

[2021-03-31 12:23] destogl opened #359 "[ros2controlcli] Rename `list.py` to `list_controllers.py`"
So that the verb and python script has to the same name.  This should enable simpler maintenance and clarity in the future.

[2021-03-31 12:25] destogl opened #360 "[ros2controlcli] Use `.format()` instead of `%` in ouput strings."
let's try always using format strings (aka  `f".... {bla}..."`) and if that doesn't fly (likely in this case) then use `... {}.format()`, it'd be good to get rid of as much hieroglyphs as possible (`%` in this case)

_Originally posted by @bmagyar in https://github.com/ros-controls/ros2_control/pull/349#r602902343_

[2021-03-31 12:29] destogl opened #361 "[ros2controlcli] Rename `load.py` to `list_controller`.py"
So that the verb and python script has to the same name. This should enable simpler maintenance and clarity in the future.

[2021-03-31 12:32] destogl opened #362 "[ros2controlcli] `set_state` should be `set_controller_state`"
`set_state` should be `set_controller_state`

_Originally posted by @destogl in https://github.com/ros-controls/ros2_control/pull/349#r604854870_

[2021-03-31 12:35] destogl opened #363 "[ros2controlcli] remove `load_configure_controller` and `load_start_controller` verbs in Galactic"
As the title suggests.

Remove this in galactic+

_Originally posted by @destogl in https://github.com/ros-controls/ros2_control/pull/349#r604856315_

[2021-03-31 16:50] #360 closed

[2021-03-31 21:32] destogl commented on #347
I don't know about that. I would like to have still interested but not so experienced people here. But someone who is thinking about control.

@all Thank you for your contributions. It seems there is a slight tendency toward adding a node to the hardware interface (Proposal 1). That is also feedback I got from some other parties. This is somehow in line with the plans to support the lifecycle of h

[2021-04-01 03:26] AndyZe commented on #347
Another thing to consider is switching from simulation to hardware easily. Something like a launch parameter (sim:=true) in ROS1 would be great.

I saw there's now a separate hardware plug-in for fake components. I'm not sure how to switch between that and the real hardware plug-in.

[2021-04-02 06:40] arjun-kg commented on #352
Hi, how were you able to change the namespace of the controller_manager which is created by the plugin?

[2021-04-02 07:00] bmagyar commented on #287
Duplicated by #357

[2021-04-02 07:00] #287 closed

[2021-04-02 07:09] bmagyar commented on #290
@Karsten1987 has this been raised before? This would be a very useful linter, checking ament dependencies vs cmake find_package calls.

[2021-04-02 07:10] yimenghou commented on #352
You can add namespace in the yaml config file at the first level indentation.

[2021-04-02 07:18] destogl commented on #295
Pinky promise: I will add templates for Issues and PRs

[2021-04-02 07:29] #320 closed

[2021-04-02 07:32] destogl commented on #335
@Karsten1987 ist this resolved by merging spawner/unspawner PR?

[2021-04-02 07:36] destogl commented on #341
@Karsten1987 this should be done in #349? Isn't it? Please reopen if not.

[2021-04-02 07:36] #341 closed

[2021-04-02 07:37] bmagyar commented on #344
solved by #349

[2021-04-02 07:37] #344 closed

[2021-04-02 07:40] bmagyar commented on #342
Thanks for following up on this, I have created a repository for this: https://github.com/ros-controls/simulator_control_models

[2021-04-02 07:40] destogl commented on #347
I will add this into examples in the next few days.

[2021-04-02 07:41] bmagyar commented on #342
@olivier-stasse you shoudl have full access on this

[2021-04-02 07:41] #342 closed

[2021-04-02 07:43] destogl commented on #356
why not to move this into pre-commits. See here: https://www.youtube.com/watch?v=tOlnfrctpSY

[2021-04-02 15:40] Karsten1987 commented on #290
I am pretty certain this won't be part of the roadmap in the near future.
My bet would be that this had to be a community contribution if so.

On Fri, Apr 2, 2021 at 12:09 AM Bence Magyar ***@***.***>
wrote:

[2021-04-02 15:43] Karsten1987 commented on #356
what does this mean to remove the non-tests? There aren't any inbuilt
linters for python. THese files are unfortunately copied in every package
which has python code, e.g:
https://github.com/ros2/demos/tree/master/demo_nodes_py/test

On Fri, Apr 2, 2021 at 12:43 AM Denis Štogl ***@***.***>
wrote:

[2021-04-04 19:56] bmagyar commented on #356
Yes and that is a problem. We are carrying dead weight. Don't want to follow a bad example. Precommit for instance is able to reliably reproduce linting work both locally editing (some) and CI validating without the flakiness of dependig and on which pytest or other tools are installed in the environment.

[2021-04-06 23:48] Karsten1987 commented on #356
sure, I am happy to have a better solution for this - as long as it's kind of transparently incorporated so that I can be able to test locally and have CI do the exact same thing as well.

[2021-04-07 10:50] mateus-amarante commented on #250
I can do that if there is no one working on it yet

[2021-04-07 13:39] #151 closed

[2021-04-07 16:14] bmagyar commented on #250
Go for it!

[2021-04-11 17:42] #250 closed

[2021-04-16 11:21] AugusteBourgois opened #383 "ControllerManager::load_controller should return nullptr when ControllerInterface::init returns return_type::ERROR"
According to [LoadController.srv](https://github.com/ros-controls/ros2_control/blob/master/controller_manager_msgs/srv/LoadController.srv), I believe that the result of the `ControllerInterface::init` function should be taken into account, which is not the case at the moment.

I propose that if `ControllerInterface::init` fails, then `nullptr` is returned, instead of a pointer towards a controller

[2021-04-16 11:31] AugusteBourgois opened #384 "ControllerManager::load_controller should return nullptr instead of throwing when a controller's class isn't found"
At the moment, if a controller's class is not found by the loader, the controller manager will raise an exception. Why not simply returning a `nullptr` so that this can be handled as any other controller loading failure ?

I can shoot a PR with a fix as soon as you agree (see [my branch](https://github.com/ros-controls/ros2_control/compare/master...AugusteBourgois:do_not_throw_if_unknown_controlle

[2021-04-16 13:17] ravnicas opened #385 "proposal of adding hardware_interface communication control flags for non real time hardware execution"
I'd like to propose adding (maybe) a user definable flags for hardware communication.

When implementing a hardware interface to some kind of 3rd party API, for example mxAutomation, real time execution isnt guaranteed. A possible implementation would be to pass n joint configurations to the hardware, and wait until this buffer is copied.

While this happens one could set a hardware_interface::ret

[2021-04-16 13:38] ravnicas commented on #318
`gpio` would describe some in- or ourput of a controller or external sensor. Would an additional alias, f.e. `flag` be also an option for boolean interfaces of OPCua hardware for example?

[2021-04-17 06:16] destogl commented on #383
Great point! We will be glad to get PR from you?

[2021-04-17 06:18] destogl commented on #384
Yes, please :)

[2021-04-17 06:19] bmagyar commented on #384
your branch looks very good, I think if we had simple unit test for this, we could incorporate it shortly

[2021-04-17 06:22] bmagyar commented on #385
In my opinion this is a hardware-specific and the system component implementation should take care of buffering the commands in `write()` if the underlying comms are still busy. I can't see how this could become a general framework functionality without exposing a lot of vulnerability throughout the framework.

[2021-04-22 20:29] tylerjw opened #388 "Changes to debug macros for Rolling"
When I try to build this repo on rolling I get this error:

[code]

Here is a link to the CI job where you can see this error: https://github.com/ros-planning/moveit2/runs/2413992645

[2021-04-23 05:39] bmagyar commented on #388
could probably be fixed already by `cur_type.c_str()`, right?

once I made an accidental release to rolling and once half the buildfarm was on fire we ended up removing it

[2021-04-23 16:14] tylerjw commented on #388
Testing it locally it looks like you can just replace the `RCLCPP_DEBUG` with `RCLCPP_DEBUG_STREAM` to fix this.  I'll make a small PR for that.

However, after making that change locally I'm now seeing this error:

[code]

[2021-04-23 19:57] tylerjw commented on #388
Closing this as it is now fixed.

[2021-04-23 19:57] #388 closed

[2021-04-27 13:51] Teusner opened #396 "[ros2controlcli] Non-zero return code with load_controller"
Hi,

I've discovered that the ros2controlcli doesn't return a 0 code neither by the old nor by the new way to load and start a controller.

[code]

It's a problem when I want to use it in a ROS2 Launchfile as it raise an error probably due to this non-zero return code :

[code]

As we could see on the last line : `process has died` and `exit code 1` !

[2021-04-27 21:17] newcanopies opened #400 "fail to build hardware_interfaces CMake Error at CMakeLists.txt:96 (find_package):"
Hi,

Most of the packages in this repo build successfully, but not hardware_interfaces

[code]

nor  transmission_interface/

[code]

[2021-04-27 21:23] Karsten1987 commented on #400
As described in the error message, you're missing the package [ros2_control_test_assets](https://github.com/ros-controls/ros2_control/tree/master/ros2_control_test_assets). That package however is in the same repo.

how are you building your workspace? Make sure to build all packages up to `transmission_interface` to correctly compile all dependencies as well.

[2021-04-28 08:04] newcanopies commented on #400
Thank you, is there a way to build them **all at the same time**?

I am building them individually, within each package root, and I tried various build sequences ....
In the case of  [ros2_control_test_assets](https://github.com/ros-controls/ros2_control/tree/master/ros2_control_test_assets) it is successfull:

~/ws_ROS2/ros2_control/ros2_control_test_assets$ colcon build
[code]

[2021-04-28 08:28] newcanopies commented on #400
My mistake, not sure why I was building them individually in the root of each package,
of course it builds successfully from `ro2_control` root.

Thank you, this solves the issue.

[2021-04-28 08:28] #400 closed

[2021-04-28 19:21] AugusteBourgois commented on #383
The PR linking this issue has been merged. Can we close it ?

[2021-04-28 19:21] AugusteBourgois commented on #384
The PR linking this issue has been merged. Can we close it ?

[2021-04-28 19:28] #384 closed

[2021-04-28 19:28] #383 closed

[2021-04-28 19:29] Karsten1987 commented on #383
just fyi, for future PRs you can add a "fixes <link to issue>". Github will then close the ticket automatically once the PR is merged.

[2021-04-28 19:38] Karsten1987 commented on #396
Thanks for bringing this up. Is there a way you could post a little reproducing launch file? How do you call the CLI from your launchfile?

[2021-04-29 06:12] Karsten1987 opened #405 "[ros2controlcli] propagate timeout parameter to service caller"
The CLI currently use a service caller API within the controller manager which have a hardcoded timeout of 10 seconds.
https://github.com/ros-controls/ros2_control/blob/master/controller_manager/controller_manager/controller_manager_services.py#L28

It's preferred to propagate the timeout as a function argument, so that all individual calls can be specified with a desired timeout.

[2021-04-29 10:24] #355 closed

[2021-04-30 06:47] #396 closed

[2021-04-30 06:50] #385 closed

[2021-04-30 07:24] bmagyar opened #406 "Fix INSTANTIATE_TEST_CASE_P for Rolling in Foxy"
A fix was proposed to fix INSTANTIATE_TEST_CASE_P for Rolling that also works in Foxy, except for OSX.

https://github.com/ros-controls/ros2_control/pull/390

The issue in this case comes from clang which we can mitigate with a macro check.

FYI: @vatanaksoytezer @tylerjw @destogl @Karsten1987

[2021-04-30 11:33] vatanaksoytezer commented on #406
@bmagyar thanks for looking at this! I think mitigating with a macro check makes sense. I will send a PR with the macro checks soon.

[2021-04-30 11:37] vatanaksoytezer commented on #406
Does something like this looks fine?

[code]

[2021-05-01 00:01] mahaarbo commented on #347
Maybe a bit late, but I'd really like the 1st solution, support for parameters that can be changed at runtime in the hardware interface  would be make life a bit easier.

[2021-05-05 07:07] bmagyar commented on #291
https://github.com/ros-controls/roadmap/pull/44

[2021-05-05 07:08] #291 closed

[2021-05-11 13:49] roncapat opened #410 "How to write configure() method for ActuatorInterface?"
Hello,

I am trying to implement an ActuatorInterface for a canopen motor. However, the only demos I found were about SystemInterface. Is there an example? What am I supposed to see from inside of the configure() method in the HardwareInfo struct? Will I see only the joint for which the plugin is instantiated or all the joints from the robot URDF (it has two identical motors).

[2021-05-13 10:03] roboticsai opened #413 "controller manager spawner.py bug"
After i run the command:
`ros2 launch ros2_control_demo_robot diffbot_system.launch.py`
i'm getting the errors:
`format [py]: __init__() got an unexpected keyword argument 'parameter' As i debugged the source code. `The bug is comming form this line:

[code]
from given launch file.
When i change the parameter to the arguments it works fine but still got the warnnis that controller_manager is not a

[2021-05-13 15:28] Karsten1987 commented on #413
Please refrain from opening the same issue across multiple repositories. Closing as duplicate of https://github.com/ros-controls/ros2_control_demos/issues/93

[2021-05-13 15:28] #413 closed

[2021-05-14 06:17] bmagyar commented on #406
How about this?

[code]

seems easier to maintain

[2021-05-14 06:25] bmagyar opened #415 "Add templates for Issues and PRs"

[2021-05-14 15:54] vatanaksoytezer commented on #406
This gives syntax errors (see https://github.com/ros-controls/ros2_control/pull/416/checks?check_run_id=2584928881), I guess this is the case since this actually a one liner?